@page "/MicrosoftPage/fetchdragdata"
@using System.IO
@using System.Text.Json
@inject WebWindow Window

<h1>Native Drag and Drop</h1>

<p>This component demonstrates fetching data from Native Drag and Drop List.</p>

@if (Window.DragDropList.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FilePath</th>
                <th>FileType</th>
                <th>FileSize</th>
                <th>Create Time</th>
                <th>Last Modified Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Window.DragDropList.Select((x) => (x)))
            {
                <tr>
                    <td>@item.strFullName</td>
                    <td>@item.st_mode</td>
                    <td>@item.st_size</td>
                    <td>@item.tCreate</td>
                    <td>@item.tLast</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
}
