@page "/messageList"
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using HsNetWorkSGData
@using OpenNetLinkApp.PageEvent
@inject XmlConfService XmlConf
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HsCmdCenter
@inject IJSRuntime jsRuntime

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@XmlConf.GetTitle("T_INFO_MESSAGE_LIST")</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Welcome">Home</a></li>
                    <li class="breadcrumb-item active">@XmlConf.GetTitle("T_INFO_MESSAGE_LIST")</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-3">
                    <div class="card-body">



                        <div class="col-md-10">
                            <div class="table-responsive">
                                <div class="title_notice"><i class="fas fa-comment mr-2"></i>@XmlConf.GetTitle("T_INFO_CONFIRM_MESSAGE") </div>
                                <table class="table_notice table_notice_hover">
                                    <colgroup>
                                        <col width="7%">
                                        <col width="10%">
                                        <col width="20%">
                                        <col width="*">
                                        <col width="20%">
                                    </colgroup>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th>@XmlConf.GetTitle("T_INFO_NETWORK_KIND")</th>
                                        <th>@XmlConf.GetTitle("T_INFO_MESSAGE_TITLE")</th>
                                        <th>@XmlConf.GetTitle("T_INFO_MESSAGE_LIST")</th>
                                        <th>@XmlConf.GetTitle("T_INFO_TIME")</th>
                                    </tr>
                                    @foreach (NotiData item in listData)
                                    {
                                        <tr>
                                            <td class="text-center"><input type="checkbox"></td>
                                            <td>@item.strNetWorkInfo</td>
                                            <td>@item.strTitle</td>
                                            <td class="text-left"><a href="" class="cont1">@item.strMsg</a></td>
                                            <td>@item.strTime</td>
                                        </tr>
                                    }


                                </table>


                                <!--S page -->

                                <div class="clearfix" style="padding:1.25rem 0;">
                                    <div style="float:left;">
                                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">@XmlConf.GetTitle("T_TRANS_TOTALPAGE") @nViewPageNo/@nTotalPages</div>
                                    </div>
                                    <Pagenator ViewPageCount="@viewPageCount" DispLimit=@dispLimit NViewPageNo="@nViewPageNo"
                                               NTotalPages="@nTotalPages" NStartPage="@nStartPage"
                                               UpdateListPagingInvoke="UpdateList"></Pagenator>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    private int viewPageCount = 10;  //pageing 에 뿌려질 앵커갯수
    private int nPageListCount = 10;    //리스트에 뿌려질 단위갯수
    private int dispLimit = 1;
    private int nViewPageNo = 1;
    private int nTotalPages = 1;
    private int nStartPage = 1;
    public string curUserID = "";
    //ISGSideBarUIService SideBarUISvc;

    List<SGNotiData> listNotiData = new List<SGNotiData>();
    private SGNtfyDBProc SQLiteDB { get; set; } = SGNtfyDBProc.Instance;
    List<NotiData> listData = new List<NotiData>();

    private void UpdateList(int pageNumber)
    {
        if (nViewPageNo != (pageNumber + 1))
        {
            nViewPageNo = pageNumber + 1;
            listData = GetNotiData(nViewPageNo);
            StateHasChanged();
            return;
        }
        else
        {
            nViewPageNo = pageNumber;
        }
    }

    protected override void OnInitialized()
    {
        HsCmdCenter.sgPageEvent.SetNotiAfterTotalMsgEventAdd(NotiPageReflash);
        base.OnInitialized();
        GetDBNotiData();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initPageLeft");
        }
        base.OnAfterRender(firstRender);
    }

    public void GetDBNotiData()
    {
        listNotiData.Clear();
        int count = HsCmdCenter.GetNetWorkCount();
        for(int i=0;i<count;i++)
        {
            SGUserData sgUserData = null;
            sgUserData = (SGUserData)HsCmdCenter.GetUserData(i);
            if (sgUserData == null)
                continue;
            string strUserSeq = sgUserData.GetUserSequence();
            List<SGNotiData> listTemp = SQLiteDB.SelectNotiInfoLimit(NOTI_TYPE.ALL,i, strUserSeq,1000);
            listNotiData.AddRange(listTemp);
        }
        listNotiData = listNotiData.OrderByDescending(x => x.Time).ToList();
        listNotiData = listNotiData.OrderByDescending(x => x.Seq).ToList();

        SetPageinfo(listNotiData.Count);

        GetNotiData(nViewPageNo);
        StateHasChanged();
    }

    public string GetNetWorkInfo(int groupID)
    {
        string strFromName = "";
        string strToName = "";
        XmlConf.GetNetworkTitle(groupID,out strFromName,out strToName);
        return strFromName;
    }
    public void SetPageinfo(int nDataCount)
    {
        nTotalPages = (int)nDataCount / nPageListCount;
        if (nDataCount % nPageListCount > 0)
            nTotalPages++;
        if (nTotalPages <= 0)
            nTotalPages = 1;
        nViewPageNo = nStartPage = 1;
    }

    public List<NotiData> GetNotiData(int nViewPageNo)
    {
        if (nViewPageNo > nTotalPages)
            return null;

        int nDataCount = listNotiData.Count;
        if (nDataCount <= 0)
        {
            nViewPageNo = 1;
            return null;
        }

        listData.Clear();
        int idx = (nViewPageNo - 1) * 10;
        int nLimitCount = 10;
        if (nDataCount < (idx + nLimitCount))
        {
            if (idx <= 0)
                nLimitCount = nDataCount;
            else
                nLimitCount = nDataCount % idx;
        }
        for (int i = idx; i < (nLimitCount + idx); i++)
        {
            string strNetWorkInfo = GetNetWorkInfo(listNotiData[i].GroupId);
            string strTitle = listNotiData[i].Head;
            string strMsg = listNotiData[i].Body;
            string strTime = listNotiData[i].Time?.ToString();

            bool bBoardNoti = false;
            if (!listNotiData[i].Seq.Equals("0"))
                bBoardNoti = true;

            string strBoardSeq = listNotiData[i].Seq;
            listData.Add(new NotiData(bBoardNoti,strNetWorkInfo, strTitle, strMsg, strTime, strBoardSeq));
        }

        return listData;
    }

    void NotiPageReflash()
    {
        GetDBNotiData();
    }

    public class NotiData
    {
        public bool bBoardNoti;                 // 공지사항인지 여부
        public bool bCheck;
        public string strNetWorkInfo = "";      // 전송망
        public string strTitle = "";            // 제목
        public string strMsg = "";              // 메시지
        public string strTime = "";             // 시간
        public string strBoardSeq = "";         // 공지사항 Seq

        public NotiData()
        {
            bBoardNoti = bCheck = false;
            strNetWorkInfo = strTitle = strMsg = strTime = "";
        }
        public NotiData(bool bNoti, string strNetInfo, string title, string msg, string time, string strSeq = "0")
        {
            bBoardNoti = bNoti;
            bCheck = false;
            strNetWorkInfo = strNetInfo;
            strTitle = title;
            strMsg = msg;
            strTime = time;
            strBoardSeq = strSeq;
        }
    }
}
