@page "/netConf"
@page "/netConf/{groupIDbyParam:int}"

@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@inject XmlConfService XmlConf
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HSCmdCenter
@inject IJSRuntime jsRuntime
@inject NavigationManager MyNavigationManager
@using OpenNetLinkApp.Data.SGSettings
@using OpenNetLinkApp.Models.SGSettings

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@XmlConf.GetTitle("T_ETC_BASICSET_TITLE")</h1>                                                            <!--기본설정-->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" style="color:blue;" @onclick="(e=>HomeMove())"><i class="fas fa-home mr-1"></i>HOME</li>
                    <li class="breadcrumb-item active">@XmlConf.GetTitle("T_ETC_BASICSET_TITLE")</li>                                               <!--기본설정-->
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-3">
                    <div class="card-body" style="height:auto;padding:0 0 0 0;">

                        <!--tab -->
                        <div class="col-14 col-sm-12">
                            <div class="card card-primary card-outline card-outline-tabs" style="box-shadow:none;">
                                <div class="card-header border-bottom-0">
                                    <ul class="nav nav-tabs pt-2" id="custom-tabs-four-tab" role="tablist">
                                        @if (bDeputyApprove)
                                        {
                                            <li class="nav-item ml-3">
                                                <a class="nav-link  text-md text-bold active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">@XmlConf.GetTitle("T_PROXY_PROXYREG_MANAGE")</a>                 <!--대결재자 관리-->
                                            </li>
                                        }
                                        @if (bCertSend)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-md text-bold" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">@XmlConf.GetInfoMsg("I_0087")</a>             <!--공인 인증서 전송-->
                                            </li>
                                        }
                                        @if (bUseAutoLogin)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link  text-md text-bold" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">@XmlConf.GetTitle("T_ETC_AUTOLOGIN_CHECKBOX")</a>             <!--자동로그인-->
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="card-body" style="padding:0 0 0 0;">
                                    <div class="tab-content" id="custom-tabs-four-tabContent">

                                        @if (bDeputyApprove)
                                        {
                                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">


                                                <div class="col-md-12">
                                                    <div class="title_set" style="padding:0px 10px 0px 10px;"><i class="fas fa-cog  mr-1 mb-3"></i>@XmlConf.GetTitle("T_PROXY_PROXYREG_MANAGE")</div>                      <!--대결재자 관리-->
                                                    <div class="card-body p-0 pb-4">


                                                        <!--s table -->
                                                        <div class="box1" style=" width:46%;  float:left;">
                                                            <div class="setting_title"><i class="fas fa-user-cog mr-2 pt-1"></i>@XmlConf.GetTitle("T_PROXY_PROXYREG_SEARCH")</div>       <!--대결재자 조회-->

                                                            <div class="d-inline-flex  mb-2 " style="height:28px;">
                                                                <label class="p-1 mr-1">@XmlConf.GetTitle("T_COMMON_DEPT")</label>                                                      <!--부서-->
                                                                <input type="text" class="form-control col-md-4" placeholder="부서입력">
                                                                <label class="p-1 pl-2 mr-1">@XmlConf.GetTitle("T_COMMON_NAME")</label>                                                 <!--이름-->
                                                                <input type="text" class="form-control col-md-3" placeholder="이름입력">
                                                                <button type="button" class="btn bg-gradient-secondary ml-1"><i class="fas fa-search pr-1 pl-1"></i>@XmlConf.GetTitle("T_COMMON_SEARCH")</button>                 <!--조회-->
                                                            </div>

                                                            <div class="card-body table-responsive p-0 " style="height:281px; border:1px solid #ddd; background-color:#fff;">
                                                                <table class="table table-head-fixed table-hover ">
                                                                    <colgroup>
                                                                        <col width="">
                                                                        <col width="">
                                                                        <col width="">
                                                                        <col width="">
                                                                    </colgroup>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>@XmlConf.GetTitle("T_COMMON_ORDER")</th>                            <!--순번-->
                                                                            <th>@XmlConf.GetTitle("T_COMMON_DEPT")</th>                            <!--부서-->
                                                                            <th>@XmlConf.GetTitle("T_COMMON_RANK")</th>                            <!--직급-->
                                                                            <th>@XmlConf.GetTitle("T_COMMON_NAME")</th>                            <!--이름-->
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (ProxyInfo item in ProxySearch)
                                                                        {
                                                                            <tr name="trItem5" draggable="false" data-draggable="tritem" aria-grabbed="false" value="@item.Index">
                                                                                <td>@item.Index</td>
                                                                                <td>@item.DeptName</td>
                                                                                <td>@item.Grade</td>
                                                                                <td>@item.Name</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>



                                                        </div>
                                                        <!--e table -->
                                                        <!--s btn -->
                                                        <div class="box2" style="width:8%; height:250px; float:left;padding-left:8px;">
                                                            <div class="col-md-12 text-center" style="top:55% !important;">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <button type="button" class="btn bg-gradient-primary mb-3" @onclick="AddSelectApprover"><i class="fas fa-angle-right fa-2x"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <button type="button" class="btn bg-gradient-primary" @onclick="RemoveAssignApprover"><i class="fas fa-angle-left fa-2x"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!--e btn -->
                                                        <!--s table -->
                                                        <div class="box1" style=" width:46%;  float:left;">
                                                            <div class="row setting_title"><i class="fas fa-user-check mr-2 pt-1"></i>@XmlConf.GetTitle("T_PROXY_PROXY_SEL")</div>                                                       <!--선택된 대결재자-->
                                                            <div class="d-inline-flex  w-100 mb-2 " style="height:28px;">

                                                                <label class="p-1">@XmlConf.GetTitle("T_COMMON_PERIOD")</label>                               <!--기간-->
                                                                <input type="text" style="color:black;" class="form-control col-md-4 float-left" id="datepicker3" readonly value="2020-06-24">
                                                                <span class="float-left p-1">-</span>
                                                                <input type="text" style="color:black;" class="form-control col-md-4 float-left" id="datepicker4" readonly value="2020-07-22">

                                                            </div>

                                                            <div class="card-body table-responsive p-0 " style="height:281px; border:1px solid #ddd; background-color:#fff;">
                                                                <table class="table table-head-fixed  table-hover ">
                                                                    <colgroup>
                                                                        <col width="">
                                                                        <col width="">
                                                                        <col width="">
                                                                        <col width="">
                                                                        <col width="">
                                                                    </colgroup>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>@XmlConf.GetTitle("T_COMMON_ORDER")</th>                    <!--순번-->
                                                                            <th>@XmlConf.GetTitle("T_COMMON_DEPT")</th>                    <!--부서-->
                                                                            <th>@XmlConf.GetTitle("T_COMMON_RANK")</th>                    <!--직급-->
                                                                            <th>@XmlConf.GetTitle("T_COMMON_NAME")</th>                    <!--이름-->
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (ProxyInfo item in ProxySelect)
                                                                        {
                                                                            <tr name="trSelect5" draggable="false" data-draggable="tritem" aria-grabbed="@(item.Index == stTargetSelect ? "true" : "false")" value="@item.Index">
                                                                                <td>@item.Index</td>
                                                                                <td>@item.DeptName</td>
                                                                                <td>@item.Grade</td>
                                                                                <td>@item.Name</td>
                                                                                <td><i class="fas fa-times " @onclick="@(e => deleteSelectedItem(item.Index))"></i></td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>



                                                        </div>
                                                        <!--e table -->

                                                        <div class="float-right mt-3 pt-3">
                                                            <button type="button" class="btn btn-md btn-blue mr-0"><i class="fas fa-check"></i>@XmlConf.GetTitle("T_COMMON_SAVE")</button>                  <!--저장-->

                                                        </div>




                                                    </div>

                                                </div>
                                            </div>
                                        }
                                        @if (bCertSend)
                                        {
                                            @if (!bDeputyApprove)
                                            {
                                                strActiveTab = "tab-pane fade show active";
                                            }
                                            else
                                                strActiveTab = "tab-pane fade";
                                            <div class=@strActiveTab id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">



                                                <div class="col-md-10">
                                                    <div class="title_set"><i class="fas fa-shield-alt  mr-1"></i>@XmlConf.GetInfoMsg("I_0087")</div>                              <!--공인인증서 전송-->
                                                    <div class="card-body pt-0">
                                                        <div class="modal-sub-title1 mb-2">@XmlConf.GetInfoMsg("I_0187")</div>                                  <!--인증서 저장위치를 선택해 주세요.-->
                                                        <div class="col-md-12 p-0">
                                                            <button class="btn btn-outline-blue1-1 col-md-6 p-0 pt-3 pb-2 ">
                                                                <!--  active1-1 -->

                                                                <label class="mt-80">@XmlConf.GetTitle("T_COMMON_DRIVEFIXED")</label>                                  <!--하드디스크-->
                                                            </button>

                                                            <button class="btn btn-outline-blue2-1 col-md-6 p-0 pt-3 pb-2 ">
                                                                <!--  active2-1 -->

                                                                <label class="mt-80">@XmlConf.GetTitle("T_COMMON_DRIVEREMOVABLE")</label>                                 <!--이동식디스크-->
                                                            </button>
                                                            <div class="float-right m-1">
                                                                <select class="form-control  float-left" style="width:200px;">
                                                                    <option>c</option>
                                                                    <option>c</option>
                                                                    <option></option>
                                                                    <option></option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="card-body pt-0 pb-0">
                                                        <div class="modal-sub-title1 mb-2">@XmlConf.GetInfoMsg("I_0188")</div>                    <!--인증서를 선택해 주세요.-->

                                                        <table class="table table-head-fixed table-bordered table-hover white_pop">
                                                            <colgroup>
                                                                <col width="40px">
                                                                <col width="">
                                                                <col width="">
                                                                <col width="">
                                                                <col width="">
                                                            </colgroup>
                                                            <thead class="text-center">
                                                                <tr>
                                                                    <th><input type="checkbox"></th>
                                                                    <th>@XmlConf.GetTitle("T_GPKI_LIST_ID")</th>                                        <!--인증서 아이디-->
                                                                    <th>@XmlConf.GetTitle("T_GPKI_LIST_EXPIREDATE")</th>                                            <!--만료일자-->
                                                                    <th>@XmlConf.GetTitle("T_GPKI_LIST_USE")</th>                                                <!--용도-->
                                                                    <th>@XmlConf.GetTitle("T_GPKI_LIST_ISSUER")</th>                                              <!--발급-->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-center"><input type="checkbox"></td>
                                                                    <td><img src="dist/img/gpki_icon.png" class="p-1">000이란숙000</td>
                                                                    <td>2020-07-03</td>
                                                                    <td>공무원용</td>
                                                                    <td>행정자치부</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center"><input type="checkbox"></td>
                                                                    <td><img src="dist/img/gpki_icon.png" class="p-1">000이란숙000</td>
                                                                    <td>2020-07-03</td>
                                                                    <td>공무원용</td>
                                                                    <td>행정자치부</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center"><input type="checkbox"></td>
                                                                    <td><img src="dist/img/gpki_icon.png" class="p-1">000이란숙000</td>
                                                                    <td>2020-07-03</td>
                                                                    <td>공무원용</td>
                                                                    <td>행정자치부</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center"><input type="checkbox"></td>
                                                                    <td><img src="dist/img/gpki_icon.png" class="p-1">000이란숙000</td>
                                                                    <td>2020-07-03</td>
                                                                    <td>공무원용</td>
                                                                    <td>행정자치부</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="col-md-12 mt-3 p-0">
                                                            <div class="row m-0 p-0">
                                                                <label class=" pt-2 p-0 pr-2 ">@XmlConf.GetTitle("T_GPKI_CERT_PASSWD")</label>                                                   <!--인증서 암호-->
                                                                <input type="text" class="form-control col-md-8 mb-2" id="1" placeholder="">
                                                                <div style="padding-left:70px;"><i class="fas fa-star-of-life fa-xs mb-2"></i>@XmlConf.GetInfoMsg("I_0124")</div>       <!--인증서를 선택하고 암호를 입력하세요.-->
                                                            </div>
                                                        </div>


                                                        <div class="float-right mt-3 pt-3">
                                                            <button type="button" class="btn btn-md btn-blue mr-0"><i class="fas fa-file-upload"></i>@XmlConf.GetTitle("T_ETC_CERTSEND")</button>        <!--인증서 전송-->

                                                        </div>

                                                    </div>
                                                </div>






                                            </div>
                                        }

                                        @if (bUseAutoLogin == true)
                                        {

                                            @if ((bDeputyApprove == false) & (bCertSend == false))
                                            {
                                                strActiveTab = "tab-pane fade show active";
                                            }
                                            else
                                                strActiveTab = "tab-pane fade";
                                            <div class=@strActiveTab id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">


                                                <div class="col-md-10">
                                                    <div class="title_set"><i class="fas fa-user-circle  mr-1"></i>@XmlConf.GetTitle("T_ETC_AUTOLOGIN_CHECKBOX")</div>                <!--자동 로그인-->
                                                    <div class="card-body pt-0" style="height:450px;">


                                                        <div class="row ml-2">
                                                            <div class="col-md-12" style="line-height:25px;">

                                                                @XmlConf.GetInfoMsg("I_0199")<br>                                  <!--자동로그인 적용 - 로그인 창이 뜨지 않고 바로 접속이 가능합니다.-->
                                                                @XmlConf.GetInfoMsg("I_0200")<br><br>                      <!--자동로그인 해제 - 로그인 창이 뜨고, 아이디/패스워드 입력하고 접속합니다.-->
                                                                @XmlConf.GetInfoMsg("I_0201")<br><br>                                      <!--아래 자동로그인 여부를 선택하시면, 적용됩니다.-->
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row" style=" border:1px solid #ddd; background-color:#f9f9f9; padding-top:10px; padding-bottom:10px; padding-left:30px;">
                                                                    <div class="custom-control custom-radio mr-3 ">
                                                                        <input ondrop="return false;" ondragover="return false;" class="custom-control-input" type="radio" id="customRadio1" name="customRadio" checked="@bAutoLoginContinue" @onclick="AutoLoginApply">
                                                                        <label for="customRadio1" class="custom-control-label pt-1">@XmlConf.GetTitle("T_MENU_AUTOLOGIN_APPLY")</label>                            <!--자동로그인 적용-->
                                                                    </div>
                                                                    <div class="custom-control custom-radio">
                                                                        <input ondrop="return false;" ondragover="return false;" class="custom-control-input" type="radio" id="customRadio2" name="customRadio" checked="@(!bAutoLoginContinue)" @onclick="AutoLoginClear">
                                                                        <label for="customRadio2" class="custom-control-label pt-1">@XmlConf.GetTitle("T_MENU_AUTOLOGIN_CLEAR")</label>                            <!--자동로그인 해제-->
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!--
                                                        <div class="text-right mt-3 pt-3">
                                                            <button type="button" class="btn btn-md btn-blue mr-0 ml-2" @onclick="AutoLoginStatusChange"><i class="fas fa-check"></i>@XmlConf.GetTitle("T_COMMON_SAVE")</button>
                                                        </div>
                                                            -->

                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                        <!--./tab -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





@code {

    [Parameter]
    public int groupIDbyParam { get; set; }

    //int nDrawPageGroupID = -1;                  // 중복실행 방지 Flag 및 groupId 지정

    public bool bAutoLoginContinue;
    public bool bUseAutoLogin;
    SGSettingsDBProc sgSettingProc;
    ISGSideBarUIService SideBarUISvc;
    ISGSiteConfigService siteConfig;
    //대결재 변수
    private LinkedList<ProxyInfo> ProxySearch = new LinkedList<ProxyInfo>();
    private LinkedList<ProxyInfo> ProxySelect = new LinkedList<ProxyInfo>();
    private string stSelectProxy = "";
    private string stTargetSelect = "";
    private static Action<string> actionAssign;
    private static Action<string> actionTargetSelect;

    public bool bDeputyApprove = false;
    public bool bCertSend = false;

    public string strActiveTab = "";

    private void deleteSelectedItem(String index)
    {
        //Console.WriteLine(ProxySelect.Count);
        foreach(ProxyInfo item in ProxySelect)
        {
            if( item.Index == index )
            {
                ProxySelect.Remove(item);
                break;
            }
        }
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;
        sgSettingProc = SGSettingsDBProc.Instance;
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        siteConfig = SGAppMgrSvc.SiteConfigInfoService;
        bUseAutoLogin = siteConfig.GetUseAutoLogin(groupID);
        bAutoLoginContinue = sgSettingProc.GetSettingAutoLogin(groupID);

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
        {
            bDeputyApprove = sgLoginData.GetDeputyApprove();
        }
        bCertSend = siteConfig.GetUseCertSend(groupID);


        actionAssign = AssignProxy;
        actionTargetSelect = SelectTarget;
        //대결재 심플  데이타
        ProxySearch.AddLast(new ProxyInfo("001", "개발3팀", "사원", "1번님"));
        ProxySearch.AddLast(new ProxyInfo("002", "개발3팀", "사원", "2번님"));
        ProxySearch.AddLast(new ProxyInfo("003", "개발3팀", "사원", "3번님"));
        ProxySearch.AddLast(new ProxyInfo("004", "개발3팀", "사원", "4번님"));
        ProxySearch.AddLast(new ProxyInfo("005", "개발3팀", "사원", "5번님"));
        ProxySearch.AddLast(new ProxyInfo("006", "개발3팀", "사원", "6번님"));
        ProxySearch.AddLast(new ProxyInfo("007", "개발3팀", "사원", "7번님"));
        ProxySearch.AddLast(new ProxyInfo("008", "개발3팀", "사원", "8번님"));
        ProxySearch.AddLast(new ProxyInfo("009", "개발3팀", "사원", "9번님"));
        ProxySearch.AddLast(new ProxyInfo("010", "개발3팀", "사원", "10번님"));
        ProxySearch.AddLast(new ProxyInfo("011", "개발3팀", "사원", "11번님"));
        ProxySearch.AddLast(new ProxyInfo("012", "개발3팀", "사원", "12번님"));
        ProxySearch.AddLast(new ProxyInfo("013", "개발3팀", "사원", "13번님"));
        ProxySearch.AddLast(new ProxyInfo("014", "개발3팀", "사원", "14번님"));
        ProxySearch.AddLast(new ProxyInfo("015", "개발3팀", "사원", "15번님"));
        ProxySearch.AddLast(new ProxyInfo("016", "개발3팀", "사원", "16번님"));
        ProxySearch.AddLast(new ProxyInfo("018", "개발3팀", "사원", "17번님"));
        ProxySearch.AddLast(new ProxyInfo("019", "개발3팀", "사원", "17번님"));

        ProxySelect.AddLast(new ProxyInfo("000", "개발3팀", "사원", "0번님"));
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initApproveUI");
            jsRuntime.InvokeAsync<object>("initPageLeft");
        }
        base.OnAfterRender(firstRender);
    }


    private void AddSelectApprover()
    {
        if (stSelectProxy.Length < 1)
            return;
        ProxyInfo apv = ProxySearch.FirstOrDefault(x => x.Index == stSelectProxy);
        if (apv != null)
        {
            ProxyInfo apvAsign = ProxySelect.FirstOrDefault(x => x.Index == stSelectProxy);
            if (apvAsign == null)
                ProxySelect.AddLast(apv);
        }
        StateHasChanged();
    }


    private void RemoveAssignApprover()
    {
        ProxyInfo apvTarget = ProxySelect.FirstOrDefault(x => x.Index == stTargetSelect);
        if (apvTarget != null)
            ProxySelect.Remove(apvTarget);
        StateHasChanged();
    }

    [JSInvokable("ProxyTargetSelect2")]
    public static void ProxyTargetSelect2(string value)
    {
        actionTargetSelect.Invoke(value);
    }

    private void SelectTarget(string value)
    {
        stTargetSelect = value;
        StateHasChanged();
    }

    [JSInvokable("ProxySearchSelect2")]
    public static void ProxySearchSelect2(string value)
    {
        actionAssign.Invoke(value);
    }

    private void AssignProxy(string value)
    {
        stSelectProxy = value;
        StateHasChanged();
    }


    public void AutoLoginStatusChange()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;
        sgSettingProc.SetSettingAutoLogin(groupID, bAutoLoginContinue);

        StateHasChanged();
    }


    public void AutoLoginApply()
    {

        // 자동로그인 적용
        if (!bAutoLoginContinue)
            bAutoLoginContinue = true;

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        sgSettingProc.SetSettingAutoLogin(groupID, bAutoLoginContinue);

        StateHasChanged();
    }


    public void AutoLoginClear()
    {
        // 자동로그인 해제
        if (bAutoLoginContinue)
            bAutoLoginContinue = false;

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        sgSettingProc.SetSettingAutoLogin(groupID, bAutoLoginContinue);

        StateHasChanged();
    }


    private void HomeMove()
    {

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string strNavigateWithGroupID = "/Welcome/";
        strNavigateWithGroupID += groupID.ToString();

        MyNavigationManager.NavigateTo(strNavigateWithGroupID);

        foreach (var MenuItem in SideBarUISvc.MenuList)
        {
            if ((MenuItem.CategoryId == LSIDEBAR.MENU_CATE_ROOT) && (MenuItem.GroupId == groupID))
            {
                SideBarUISvc.ActiveMenu = MenuItem;
                break;
            }
        }

    }


    public class ProxyInfo
    {
        public ProxyInfo(string index, string deptname, string grade, string name)
        {
            Index = index;
            DeptName = deptname;
            Grade = grade;
            Name = name;
        }

        public string Index { get; set; }
        public string DeptName { get; set; }
        public string Grade { get; set; }
        public string Name { get; set; }
    }
}
