
@inject XmlConfService XmlConf
@inject NavigationManager MyNavigationManager
@inject IJSRuntime JSRuntime

<div class="modal fade" id="PublicBoardView_PopUp" data-backdrop="static">
    <div class="modal-dialog">
        <div class="row" style="pointer-events:auto">
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-3">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div class="title_notice"><i class="fas fa-leaf mr-2"></i>@strTitle</div>               
                                <table class="table_notice_v">
                                    <tr>
                                        <th class="text-left text-bold pl-4">@strHead<span class="ml-2 mr-2"> &#58; </span>@strHeadContent</th>  
                                        <th>@strUser</th>                        
                                        <th>@strDate</th>                    
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <p>
                                                <span class="multiline">@((MarkupString)strContent)</span>
                                            </p>

                                        </td>
                                    </tr>

                                </table>

                                <div class="clearfix" style="padding:1.25rem 0;">

                                    <div style="float:right;">
                                        <button type="button" style="cursor:pointer;" class="btn bg-gradient-secondary pl-4 pr-4 mr-0 " @onclick="closePopUp">@XmlConf.GetTitle("T_FILE_FOLD")</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Seq { get; set; }

    public string strTitle = String.Empty;
    public string strContent = String.Empty;
    public string strUser = String.Empty;
    public string strDate = String.Empty;
    public string strHead = String.Empty;
    public string strHeadContent = String.Empty;

    public void SetText(string title,string content, string date, string head, string user)
    {
        strContent = content;
        strDate = date;
        strHeadContent = head;
        strTitle = title;
        //strTitle = XmlConf.GetTitle("T_COMMON_NOTIFY_DETAIL");          // 공지사항 상세보기
        strUser = user;           // 관리자
        strHead = XmlConf.GetTitle("T_TRANS_TITLE");                    // 제목
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Seq = Seq ?? "";
    }

    private void goList()
    {
        //MyNavigationManager.NavigateTo("/publicBoard");
    }

    public async Task openPopUp()
    {
        object[] param = { "PublicBoardView_PopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "PublicBoardView_PopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
}
