@page "/ViewConf"
@page "/ViewConf/{groupIDbyParam:int}"
@using HsNetWorkSGData
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.PageEvent

@inject XmlConfService XmlConf
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HSCmdCenter
@inject IJSRuntime jsRuntime
@inject NavigationManager MyNavigationManager
@inject PageStatusService pageService

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@strNetworkSetInfo</h1>                                                                             <!--접속환경-->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" style="color:blue;cursor:pointer;" @onclick="(e=>HomeMove())"><i class="fas fa-home mr-1"></i>HOME</li>
                    <li class="breadcrumb-item active">@strNetworkSetInfo</li>                                                                         <!--접속환경-->
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-3">
                    <div class="card-body">



                        <div class="col-md-10" style="max-width:100%">
                            <div class="table-responsive">
                                <div class="title_set"><i class="fas fa-cog mr-1"></i>@strBasicInfo</div>                       <!--기본정보-->
                                <table class="table_set">
                                    <colgroup>
                                        <col width="22%">
                                        <col width="27%">
                                        <col width="22%">
                                        <col width="27%">
                                    </colgroup>
                                    <tr>
                                        <th>@strVersionInfo</th>                                                                   <!--버전정보-->
                                        <td>@strDataVersion</td>
                                        <th>@strNetworkServer</th>                                                                   <!--접속서버-->
                                        <td>@strDataNetWorkPos</td>
                                    </tr>
                                    <tr>
                                        <th>@strMaxTransSize</th>                                                                 <!--전송최대용량-->
                                        <td>@strDataMaxTransSize</td>
                                        <th>@strFileMaxCount</th>                                                                <!--파일개수 제한-->
                                        <td>@strDataFileMaxCount</td>
                                    </tr>
                                    <tr>
                                        <th>@strApprManage</th>                                                                   <!--결재관리-->
                                        <td>@strDataApprManage</td>
                                        <th>@strDownFileManage</th>                                                          <!--다운로드 파일관리-->
                                        <td>@strDataDownFileManage</td>
                                    </tr>
                                    <tr>
                                        <th>@strClipboard</th>                                                                   <!--클립보드-->
                                        <td>@strDataClipboard</td>
                                        <th>@strClipboardMaxSize</th>                                                          <!--클립보드 최대용량-->
                                        <td>@strDataClipboardMaxSize</td>
                                    </tr>
                                    <tr>
                                        <th>@strURLAutoTrans</th>                                                               <!--URL 자동전환-->
                                        <td>@strDataURLAutoTrans</td>
                                        <th>@strVirusExam</th>                                                                 <!--바이러스검사-->
                                        <td>@strDataVirusExam</td>
                                    </tr>
                                </table>


                                <div class="table-responsive">
                                    <div class="title_set"><i class="fas fa-cog mr-1"></i>@strDayTransMaxSize</div>             <!--일일 파일 전송 제한-->
                                    <table class="table_set">
                                        <colgroup>
                                            <col width="22%">
                                            <col width="27%">
                                            <col width="22%">
                                            <col width="27%">
                                        </colgroup>
                                        <tr>
                                            <th>@strTransMaxCount</th>                                                             <!--전송횟수제한-->
                                            <td>@strDataDayFileTransMaxCount</td>
                                            <th>@strTransMaxSize</th>                                                             <!--전송용량제한-->
                                            <td>@strDataDayFileTransMaxSize</td>
                                        </tr>
                                    </table>

                                    <div class="table-responsive">
                                        <div class="title_set"><i class="fas fa-cog mr-1"></i>@strDayClipboardMaxSize</div>       <!--일일 클립보드 전송 제한-->
                                        <table class="table_set">
                                            <colgroup>
                                                <col width="22%">
                                                <col width="27%">
                                                <col width="22%">
                                                <col width="27%">
                                            </colgroup>
                                            <tr>
                                                <th>@strTransMaxCount</th>                                                         <!--전송횟수제한-->
                                                <td>@strDataDayClipboardMaxCount</td>
                                                <th>@strTransMaxSize</th>                                                          <!--전송용량제한-->
                                                <td>@strDataDayClipboardMaxSize</td>
                                            </tr>
                                        </table>
                                        @if (SGAppMgrSvc.OpConfigInfoService.GetViewFileFilter(groupIDbyParam) == true)
                                        {
                                            <div class="table-responsive">
                                                <div class="title_set"><i class="fas fa-cog mr-1"></i>@strExtLimitInfo</div>                   <!--확장자 제한-->
                                                <table class="table_set">
                                                    <colgroup>
                                                        <col width="100%">
                                                    </colgroup>
                                                    <tr>
                                                        <th>

                                                            <div class="row">
                                                                <div class="custom-control custom-radio mr-3 ml-1">
                                                                    <input ondrop="return false;" ondragover="return false;" class="custom-control-input" type="radio" id="customRadio1" name="customRadio" checked="@bExt1" disabled="true">
                                                                    <label for="customRadio1" class="custom-control-label pt-1">@strExtWhite</label>                      <!--허용 (White)-->
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input ondrop="return false;" ondragover="return false;" class="custom-control-input" type="radio" id="customRadio2" name="customRadio" checked="@bExt2" disabled="true">
                                                                    <label for="customRadio2" class="custom-control-label pt-1">@strExtBlack</label>                          <!--차단 (Black)-->
                                                                </div>
                                                            </div>

                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="height:60px;">@strExtInfo</td>                                                  <!--상세 설명이 없습니다.-->
                                                    </tr>
                                                </table>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (bURLRedirection)
                        {
                            <div class="col-md-10">
                                <div class="title_url"><i class="fas fa-cog mr-1"></i>@XmlConf.GetTitle("T_INFO_AVAILABLE_URL_LIST")</div>
                                <div class="col-md-12 url">
                                    <div class="input-group mb-2">
                                        <span style="font-weight:bold">@strURLRedirectCheck</span>
                                    </div>
                                    <div class="input-group mb-2">
                                        <input type="text" @bind="strSearchURL" ondrop="return false;" ondragover="return false;" class="form-control rounded-0 p-1 pl-3 text-md" placeholder="@XmlConf.GetTitle("T_INFO_PLEASE_TYPE_URL")" style="border:1px solid #83a0bd !important;">
                                        <span class="input-group-append">
                                            <button ondrop="return false;" ondragover="return false;" type="button" class="btn btn-blue btn-flat  mr-1" @onclick="SearchURLList">@XmlConf.GetTitle("T_INFO_URL_SEARCH")</button>
                                        </span>
                                        <!--
                                        <button ondrop="return false;" ondragover="return false;" type="button" class="btn btn-info btn-flat" @onclick="doExcelDown"><i class="fas fa-file-excel"></i>@XmlConf.GetTitle("T_INFO_EXCEL")</button>
                                        -->
                                    </div>
                                    <div class="table-responsive" style="height:160px; border:1px solid #83a0bd;" >
                                        <table class="table_url table-hover" style="overflow: auto;">
                                            <colgroup>
                                                <col width="80%">
                                                <col width="20%">
                                            </colgroup>
                                            <tbody>
                                                <!-- 기본 5개  -->
                                                @if (listData != null)
                                                {
                                                    @foreach (var item in listData)
                                                    {
                                                        <tr class="active">
                                                            <th><i class="fas fa-globe-asia"></i>@item[0]</th>
                                                            <td><i class="fas fa-link"></i>@item[1]</td>
                                                        </tr>
                                                    }
                                                }
                                                    </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@code {

    [Parameter]
    public int groupIDbyParam { get; set; }

    int nDrawPageGroupID = -1;                  // 중복실행 방지 Flag 및 groupId 지정
    private string strSearchURL = String.Empty;

    public string strNetworkSetInfo = "";                                           // 접속환경
    public string strBasicInfo = "";                                                // 기본정보
    public string strVersionInfo = "";                                              // 버전정보
    public string strNetworkServer = "";                                            // 접속서버
    public string strMaxTransSize = "";                                             // 전송최대 용량
    public string strFileMaxCount = "";                                             // 파일 개수 제한
    public string strApprManage = "";                                               // 결재관리
    public string strDownFileManage = "";                                           // 다운로드 파일 관리
    public string strClipboard = "";                                                // 클립보드
    public string strClipboardMaxSize = "";                                         // 클립보드 최대 용량
    public string strURLAutoTrans = "";                                             // URL 자동전환
    public string strVirusExam = "";                                                // 바이러스 검사
    public string strDayTransMaxSize = "";                                          // 일일 파일 전송 제한.
    public string strTransMaxCount = "";                                            // 전송횟수제한.
    public string strTransMaxSize = "";                                             // 전송용량제한.
    public string strDayClipboardMaxSize = "";                                      // 일일클립보드 전송 제한
    public string strExtLimitInfo = "";                                             // 확장자 제한
    public string strExtWhite = "";                                                 // 허용(White)
    public string strExtBlack = "";                                                 // 차단 (Black)
    public string strExtInfo = "";                                                     // 상세 설명이 없습니다.


    public string strDataVersion = "";                                                  // SecureGate ver 2.01
    public string strDataNetWorkPos = "";                                               // 내부시스템01 / 외부시스템01
    public string strDataMaxTransSize = "";                                             // 15,000MB까지 전송
    public string strDataFileMaxCount = "";                                             // 2000개까지 전송
    public string strDataApprManage = "";                                               // 사용 / 사용안함
    public string strDataDownFileManage = "";                                           // 삭제안함 of 17 시간 후 삭제.
    public string strDataClipboard = "";                                                // 사용 / 사용안함.
    public string strDataClipboardMaxSize = "";                                         // 1024MB까지 전송
    public string strDataURLAutoTrans = "";                                             // 사용 / 사용안함.
    public string strDataVirusExam = "";                                                // 사용 / 사용안함.
    public string strDataDayFileTransMaxCount = "";                                        // 10240회까지 전송
    public string strDataDayFileTransMaxSize = "";                                         // 150000MB까지 전송
    public string strDataDayClipboardMaxCount = "";                                        // 3600회까지 전송
    public string strDataDayClipboardMaxSize = "";                                         // 1024MB까지 전송
    public string strURLRedirectCheck = "";                                             //URL Redirect 검사 방식
    ISGSideBarUIService SideBarUISvc;

    public bool bURLRedirection = false;
    public bool bExt1 = true;
    public bool bExt2 = false;
    List<Dictionary<int, string>> listData = null;

    protected override void OnInitialized()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        InitText();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initPageLeft");
            InitData();
        }

        if (nDrawPageGroupID < 0 || nDrawPageGroupID != groupIDbyParam)
        {
            nDrawPageGroupID = groupIDbyParam;
        }

        base.OnAfterRender(firstRender);
    }

    void InitText()
    {
        strNetworkSetInfo = XmlConf.GetTitle("T_ETC_CONNTCTINFO_TITLE");                                 // 접속환경
        strBasicInfo = XmlConf.GetTitle("T_ETC_BASICINFO_TITLE");                                        // 기본정보
        strVersionInfo = XmlConf.GetTitle("T_INFO_VERSION");                                             // 버전정보
        strNetworkServer = XmlConf.GetTitle("T_INFO_CONNECT_SERVER");                                    // 접속서버
        strMaxTransSize = XmlConf.GetTitle("T_INFO_LIMMIT_FILE");                                        // 전송최대 용량
        strFileMaxCount = XmlConf.GetTitle("T_INFO_COUNTLIMMIT_FILE");                                   // 파일 개수 제한
        strApprManage = XmlConf.GetTitle("T_COMMON_APPROVEMANAGE");                                      // 결재관리
        strDownFileManage = XmlConf.GetTitle("T_INFO_DELETEFILE_TIME");                                  // 다운로드 파일 관리
        strClipboard = XmlConf.GetTitle("T_COMMON_CLIPBOARD");                                           // 클립보드
        strClipboardMaxSize = XmlConf.GetTitle("T_COMMON_SIZELIMMIT_CLIPBOARD");                         // 클립보드 최대 용량
        strURLAutoTrans = XmlConf.GetTitle("T_INFO_URLREDIRECT_AUTO");                                   // URL 자동전환
        strVirusExam = XmlConf.GetTitle("T_INFO_CHECK_VIRUS");                                           // 바이러스 검사
        strDayTransMaxSize = XmlConf.GetTitle("T_INFO_ONEDAY_FILESEND");                                 // 일일 파일 전송 제한.
        strTransMaxCount = XmlConf.GetTitle("T_INFO_ONEDAY_TRANCE_COUNTLIMIT");                          // 전송횟수제한.
        strTransMaxSize = XmlConf.GetTitle("T_INFO_ONEDAY_TRANCE_SIZELIMIT");                            // 전송용량제한.
        strDayClipboardMaxSize = XmlConf.GetTitle("T_INFO_ONEDAY_CLIPSEND");                             // 일일클립보드 전송 제한
        strExtLimitInfo = XmlConf.GetTitle("T_eFAEXT");                                                  // 확장자 제한
        strExtWhite = XmlConf.GetTitle("T_INFO_CHECK_EXTENSION_WHITE");                                  // 허용(White)
        strExtBlack = XmlConf.GetTitle("T_INFO_CHECK_EXTENSION_BLACK");                                  // 차단 (Black)
        strExtInfo = XmlConf.GetInfoMsg("I_0190");                                                          // 상세 설명이 없습니다.
    }

    void InitData()
    {
        /*SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;*/

        int groupID = groupIDbyParam;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
            return;

        string temp;
        int nTemp;
        Int64 nTemp64;

        // 버전정보
        string strAppVersion = sgLoginData.GetServClientVersion();
        int find = strAppVersion.IndexOf(':');
        strAppVersion = strAppVersion.Substring(0, find);

        strDataVersion = strAppVersion;
        strDataNetWorkPos = sgLoginData.GetServName();                                                  // 내부시스템01 / 외부시스템01

        // 한번에 전송 가능한 파일 크기
        temp = XmlConf.GetTitle("T_INFO_LIMMIT_SIZE");                                                 // {0} MB 까지 전송
        nTemp64 = sgLoginData.GetFileLimitSize();
        strDataMaxTransSize = String.Format(temp, nTemp64);                                 // 15,000MB까지 전송
        if(!sgLoginData.GetFileTrans())
            strDataMaxTransSize = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                //사용안함

        // 한번에 전송 가능한 파일 개수
        temp = XmlConf.GetInfoMsg("I_0129");                                                           // {0} 개까지 전송
        nTemp = sgLoginData.GetFileLimitCount();
        strDataFileMaxCount = String.Format(temp, nTemp);                                   // 2000개까지 전송

        if (!sgLoginData.GetFileTrans())
            strDataFileMaxCount = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                //사용안함

        // 결재 사용 여부
        strDataApprManage = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                                 // 사용안함

        // if (sgLoginData.GetApprove())
        if (pageService.GetUseApproveNetOver(groupID, sgLoginData))                          // 3망 정책고려한 결재사용유무 설정
            strDataApprManage = XmlConf.GetTitle("T_INFO_USED");                                        // 사용함

        // 다운로드 파일 관리
        strDataDownFileManage = XmlConf.GetTitle("T_INFO_LIMMIT_NO_DELETE");                            // 삭제안함
        nTemp = sgLoginData.GetFileRemoveCycle();
        if (nTemp > 0)
        {
            temp = XmlConf.GetTitle("T_INFO_LIMMIT_AFTER_DELETE");                         // {0} 시간 후 삭제
            strDataDownFileManage = String.Format(temp, nTemp);                            // ~~ 시간 후 삭제.
        }
        else
            strDataDownFileManage = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                 // 사용안함

        // 클립보드 사용 여부.
        strDataClipboard = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                                  // 사용안함.
        if (sgLoginData.GetClipboard())
            strDataClipboard = XmlConf.GetTitle("T_INFO_USED");                                                 // 사용함.

        // 한번에 전송 가능힌 클립보드 최대 용량
        temp = XmlConf.GetTitle("T_INFO_LIMMIT_SIZE");
        nTemp64 = sgLoginData.GetClipboardLimitSize();
        if (!sgLoginData.GetClipboard())
        {
            strDataClipboardMaxSize = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                         //사용안함
        }
        else if (nTemp64 <= 0)
            strDataClipboardMaxSize = XmlConf.GetTitle("T_ETC_UNLIMITED");                              // 무제한
        else
            strDataClipboardMaxSize = String.Format(temp, nTemp64);                                         // 1024MB까지 전송

        // URL 리다이렉션 사용 유무
        strDataURLAutoTrans = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                                 // 사용안함
        if (sgLoginData.GetURLRedirect())
            strDataURLAutoTrans = XmlConf.GetTitle("T_INFO_USED");                                        // 사용함

        // 서버바이러스 검사 유무.
        strDataVirusExam = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");                                 // 사용안함
        if (sgLoginData.GetServerVirusExam())
            strDataVirusExam = XmlConf.GetTitle("T_INFO_USED");                                        // 사용함

        // 일일 파일 전송 최대 회수
        temp = XmlConf.GetInfoMsg("I_0130");                                                           // {0} 회까지 전송
        nTemp = sgLoginData.GetDayFileTransferLimitCount();
        if (!sgLoginData.GetFileTrans())
        {
            strDataDayFileTransMaxCount = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");
        }
        else if (nTemp <= 0)
            strDataDayFileTransMaxCount = XmlConf.GetTitle("T_ETC_UNLIMITED");                              // 무제한
        else
            strDataDayFileTransMaxCount = String.Format(temp, nTemp);                                      // 2000개까지 전송

        // 일일 파일 전송 최대 용량
        temp = XmlConf.GetTitle("T_INFO_LIMMIT_SIZE");                                                 // {0} MB 까지 전송
        nTemp64 = sgLoginData.GetDayFileTransferLimitSize();
        if (!sgLoginData.GetFileTrans())
        {
            strDataDayFileTransMaxSize = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");
        }
        else if (nTemp64 <= 0)
            strDataDayFileTransMaxSize = XmlConf.GetTitle("T_ETC_UNLIMITED");                              // 무제한
        else
            strDataDayFileTransMaxSize = String.Format(temp, nTemp64);                                 // 15,000MB까지 전송

        // 일일 클립보드 전송 최대 회수
        temp = XmlConf.GetInfoMsg("I_0130");                                                           // {0} 회까지 전송
        nTemp = sgLoginData.GetDayClipboardLimitCount();
        if(!sgLoginData.GetClipboard())
        {
            strDataDayClipboardMaxCount = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");
        }
        else if (nTemp <= 0)
            strDataDayClipboardMaxCount = XmlConf.GetTitle("T_ETC_UNLIMITED");                              // 무제한
        else
            strDataDayClipboardMaxCount = String.Format(temp, nTemp);                                      // 2000개까지 전송

        // 일일 클립보드 전송 최대 용량
        temp = XmlConf.GetTitle("T_INFO_LIMMIT_SIZE");                                                 // {0} MB 까지 전송
        nTemp64 = sgLoginData.GetDayClipboardLimitSize();
        if (!sgLoginData.GetClipboard())
        {
            strDataDayClipboardMaxSize = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");
        }
        else if (nTemp64 <= 0)
            strDataDayClipboardMaxSize = XmlConf.GetTitle("T_ETC_UNLIMITED");                              // 무제한
        else
            strDataDayClipboardMaxSize = String.Format(temp, nTemp64);                                 // 15,000MB까지 전송

        // 확장자 제한 타입
        if (sgLoginData.GetFileFilterType())
        {
            bExt1 = true;
            bExt2 = false;
        }
        else
        {
            bExt1 = false;
            bExt2 = true;
        }

        // 확장자 제한
        temp = sgLoginData.GetFileFilter();
        if (!temp.Equals(""))
            strExtInfo = temp;

        bURLRedirection = sgLoginData.GetURLRedirect();

        SGUrlListData sgUrlData = null;
        sgUrlData = (SGUrlListData)HSCmdCenter.GetURLlistData(groupID);
        if (sgUrlData != null)
        {
            eUrlType eUType = sgUrlData.GetURLuseType();
            if(eUType == eUrlType.eWhiteList)
                strURLRedirectCheck = $"{XmlConf.GetTitle("T_INFO_URL_REDIRECTION_CHECK")} {XmlConf.GetTitle("T_INFO_CHECK_EXTENSION_WHITE")}";
            else if(eUType == eUrlType.eBlackList)
                strURLRedirectCheck = $"{XmlConf.GetTitle("T_INFO_URL_REDIRECTION_CHECK")} {XmlConf.GetTitle("T_INFO_CHECK_EXTENSION_BLACK")}";
            else
                strURLRedirectCheck = $"{XmlConf.GetTitle("T_INFO_URL_REDIRECTION_CHECK")} {XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED")}";
        }


        //URL 설정정보 추출
        SearchURLList();

        StateHasChanged();
    }
    private void SearchURLList()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string curUserID = "";
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        //LIST 요청응답
        HSCmdCenter.sgPageEvent.SetQueryListEvent(groupID, SearchListResult);

        string sql = SGQueryExtend.SearchURLList(strSearchURL);
        HSCmdCenter.SendListQuery(groupID, curUserID, sql);
    }

    public void SearchListResult(int groupId, SGData e)
    {
        string result = e.GetTagData("RESULT");
        string reason = e.GetTagData("REASON");
        int count = Int32.Parse(e.GetTagData("COUNT"));  //결과레코드수
        listData = e.GetSvrRecordData2("RECORD");
        StateHasChanged();
    }

    private void HomeMove()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string strNavigateWithGroupID = SGAppMgrSvc.AppConfigInfoService.GetMainPage() + "/";
        strNavigateWithGroupID += groupID.ToString();
        ChangeActiveMenuEvent changeActiveMenuEvent = HSCmdCenter.sgPageEvent.GetChangeActiveMenu();
        if (changeActiveMenuEvent != null)
            changeActiveMenuEvent(groupID, strNavigateWithGroupID);
        MyNavigationManager.NavigateTo(strNavigateWithGroupID);

        //foreach (var MenuItem in SideBarUISvc.MenuList)
        //{
        //    if ((MenuItem.CategoryId == LSIDEBAR.MENU_CATE_ROOT) && (MenuItem.GroupId == groupID))
        //    {
        //        SideBarUISvc.ActiveMenu = MenuItem;
        //        break;
        //    }
        //}

    }
}