@using OpenNetLinkApp.Data.SGQuery
@using System.Diagnostics
@using HsNetWorkSGData
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using System.Runtime.InteropServices
@using OpenNetLinkApp.PageEvent
@using OpenNetLinkApp.Common
@using AgLogManager

@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HSCmdCenter
@inject PageStatusService pageService

<div class="modal fade" id="MailApprovePopUp" data-backdrop="static" data-keyboard="false" style="z-index:5000;">
    <div class="modal-dialog modal-dialog-top" style="vertical-align:top;">
        <div class="modal-content">
            <div class="modal-header modal-outline">
                <h5 class="modal-title pt-1 text-bold">@XmlConf.GetTitle("T_EMAIL_APPROVE_DETAIL")</h5>   <!-- 메일결재 상세보기 -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="closePopUp">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card-body pt-0">
                    <div class="modal-sub-title mb-2"> @XmlConf.GetTitle("T_COMMON_DETAILVIEW") </div>      <!-- 상세내역 -->
                    <table class="table table-bordered blue">
                        <tbody>
                            <tr>
                                <th>@XmlConf.GetTitle("T_COMMON_EMAILTRANSKIND") </th>      <!-- 발송구분 -->
                                <td>@GetTransKindString(stTransKindValue)</td>
                                <th>@XmlConf.GetTitle("T_EMAIL_STATUS")</th>    <!-- 발송상태 -->
                                <td>@GetTransStatusString(stTransStatusValue, stApproveStatusValue)</td>

                                <th>@XmlConf.GetTitle("T_EMAIL_SENDDATE")</th>        <!--발신일-->
                                <td>@GetTimeFormatString(stReqTime)</td>
                                <th>@XmlConf.GetTitle("T_EMAIL_SENDER")</th>  <!--발신자-->
                                <td>@stSendder</td>

                            </tr>

                            <tr>
                                <th>@XmlConf.GetTitle("T_COMMON_APPROVE_KIND")</th> <!-- 결재종류 -->
                                <td>@GetApproveKindString(bIsPrivacyApproveDetail?"0":stApproveKindValue)</td>
                                <th>@XmlConf.GetTitle("T_COMMON_APPROVESTATUS")</th> <!--  승인상태 -->
                                <td>@GetApproveStatusString(stApproveStatusValue, stTransStatusValue)</td>

                                <th>@XmlConf.GetTitle("T_DETAIL_APPROVEUSER")</th>    <!--승인자-->
                                <td>@stApproverList</td>
                                <th>@XmlConf.GetTitle("T_DETAIL_APPROVEHIST")</th>  <!-- 승인이력 -->
                                <td>

                                    @if (apvList.Count > 0)
                                    {
                                        <div class="navbar-nav ml-auto txte-right">
                                            <!-- Messages Dropdown Menu -->
                                            <div class="nav-item dropdown show">
                                                <a class="nav-link p-0" data-toggle="dropdown" href="#" aria-expanded="true">
                                                    <i class="fas fa-list-alt fa-lg"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right" style=" right:0px; height:135px; overflow-y:scroll;transform:matrix3d(-338px,19px,0px);">
                                                    @for (int i = 0; i < apvList.Count; i++)
                                                    {
                                                            <div class="dropdown-item">
                                                                <div class="media">
                                                                    <div class="media-body">
                                                                        @*<div class="col-md-2 float-left dropdown-item-title">@apvList[i].approveOrder</div>*@
                                                                        <div class="col-md-2 float-left dropdown-item-title" style="text-align:center; vertical-align:middle;width:15%;" >@apvList[i].approverName</div>
                                                                        <div class="col-md-2 float-left dropdown-item-title" style="text-align:center; vertical-align:middle;width:15%;" >@apvList[i].approverRank</div>
                                                                        <div class="col-md-2 float-left dropdown-item-title" style="text-align:center; vertical-align:middle;width:15%;" >@apvList[i].approveFlag</div>
                                                                        <div class="float-left dropdown-item-title" style="text-align:center; vertical-align:middle;width:30%;">@apvList[i].approveResTime</div>
                                                                        <div class="col-md-2 float-left dropdown-item-title" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">@apvList[i].apprRejectReason</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            if (i < apvList.Count - 1)
                                                            {
                                                                <div class="dropdown-divider"></div>
                                                            }
                                                        }
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </td>
                            </tr>

                            <tr>
                                <th>@XmlConf.GetTitle("T_RECV_USER")</th>        <!--수신자-->
                                <td colspan="7">@stDispReceiver</td>
                            </tr>

                            <tr>
                                <th>@XmlConf.GetTitle("T_EMAIL_REFERENCE")</th>    <!-- 참조 -->
                                <td colspan="7">
                                    @stDispCC
                                </td>
                            </tr>
                            <tr>
                                <th>@XmlConf.GetTitle("T_EMAIL_HIDEREFERENCE")</th>     <!-- 숨은참조-->
                                <td colspan="7">@stHideCC</td>
                            </tr>

                            <tr>
                                <th>@XmlConf.GetTitle("T_TRANS_TITLE")</th>       <!--   제목 -->
                                <td colspan="7">
                                    @stTitle
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="card-body pt-0 pb-0">
                    <div class="modal-sub-title mb-2"> @XmlConf.GetTitle("T_DETAIL_EMAILFILEINFO") </div>  <!--첨부 파일정보 -->

                    <div class="col-md-12">
                        
                        <div class="float-left mt-2">
                            <i class="fas fa-lightbulb fa-1x"></i>&nbsp;&nbsp;
                            @strPrevInfo1 &nbsp;&nbsp; @strPrevInfo2
                        </div>
                        
                        @*<div class="float-right mb-2">
                                @if (bApproveEnable)
                                {
                                    <button type="button" class="btn btn-info btn-sm"><i class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;@XmlConf.GetTitle("T_EMAIL_BODYPREVIEW")</button>
                                    <button type="button" class="btn btn-info btn-sm"><i class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;@XmlConf.GetTitle("T_EMAIL_ATTATCHPREVIEW")</button>
                                }
                            </div>*@
                    </div>

                    <table class="table table-head-fixed table-bordered table-hover white">
                        <thead>
                            <tr>

                                @if (bUseDlpDataView)
                                {
                                    <th style="text-align:center;">@XmlConf.GetTitle("T_COMMON_PRIVACY") </th>
                                    <th style="text-align:center;">@XmlConf.GetTitle("T_COMMON_DLP_CONTENTS") </th>
                                    <!-- 개인정보-->
                                }

                                <th style="text-align:center;">@XmlConf.GetTitle("T_COMMON_FILENAME") </th>               <!-- 파일명-->
                                <th style="text-align:center;">@XmlConf.GetTitle("T_COMMON_KIND") </th>                    <!-- 유형-->
                                <th style="text-align:center;">@XmlConf.GetTitle("T_COMMON_SIZE") </th>                    <!-- 크기-->
                                <th style="text-align:center;">@XmlConf.GetTitle("T_DETAIL_VIRUSHIST") </th>            <!-- 바이러스내역-->

                                @if (bApproveEnable && m_bCanFilePreView)
                                {
                                    <th style="text-align:center;width:8%;">@XmlConf.GetTitle("T_COMMON_DETAILVIEW")</th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (emailFile file in fileList)
                            {
                                <tr>
                                    @if (bUseDlpDataView)
                                    {
                                        <td style="text-align:center;">@file.fileDLP</td>
                                        <td style="text-align:center;">@file.fileDLPContents</td>
                                    }
                                    <td>@file.fileName</td>
                                    <td style="text-align:center;">@file.fileKind</td>
                                    <td style="text-align:center;">@file.fileSize</td>
                                    <td style="text-align:center;">@file.virusDesc</td>
                                    @if (bApproveEnable && m_bCanFilePreView)
                                    {
                                        if (file.bFilePreviewPossiable)
                                        { 
                                            <td style="text-align:center"><button type="button" class="btn btn-default btn-xs pl-2 pr-2 pt-0 pb-0" @onclick="@(e => attachDownload(file.fileSeq, file.fileKey, file.fileName))"><i class="fas fa-search"></i></button></td>
                                        }
                                        else
                                        { 
                                            <td style="text-align:center">-</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <!--/. content -->
            </div>
            <div class="modal-footer">
                @if (bApproveEnable)
                {
                    <button type="button" class="btn btn-md btn-blue" @onclick="DetailApprove"><i class="fas fa-check-circle"></i>@XmlConf.GetTitle("T_COMMON_APPROVE")</button>

                    @if (m_bReject)
                    {
                        <button type="button" class="btn btn-md btn-red" disabled="@false" @onclick="DetailReject"><i class="fas fa-times-circle"></i>@XmlConf.GetTitle("T_COMMON_REJECTION")</button>
                    }
                    else
                    {
		    	<!-- btn-gray로 표현 -->
                        <button type="button" class="btn btn-md btn-red" disabled="@true" ><i class="fas fa-times-circle"></i>@XmlConf.GetTitle("T_COMMON_REJECTION")</button>
                    }
                }
                <button type="button" class="btn btn-md btn-black mr-0" @onclick="closePopUp"><i class="fas fa-times"></i>@XmlConf.GetTitle("T_FILE_FOLD")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<SGReject @ref="refSGDetailReject" Guid="modalEmailDetailReject"></SGReject>

@code 
{
    ISGNetworkService NetWorkSvc;

    string stEmailSeq = String.Empty;
    string stApproveSeq = String.Empty;
    bool bApproveEnable = false;

    SGReject refSGDetailReject;
    private static Serilog.ILogger CLog => Serilog.Log.ForContext<MailApprovePopUp>();
    List<Dictionary<int, string>> detailData = null;          //DB 데이타 직접 사용하는걸로 수정
    string stTransKindValue = String.Empty;
    string stTransStatusValue = String.Empty;
    string stReqTime = String.Empty;
    string stSendder = String.Empty;
    string stApproveKindValue = String.Empty;
    string stApproveStatusValue = String.Empty;
    string stApproverList = String.Empty;
    string stDispReceiver = String.Empty;
    string stDispCC = String.Empty;
    string stHideCC = String.Empty;
    string stTitle = String.Empty;
    // bool bTransCancelVisuable = false;
    List<emalApprover> apvList = new List<emalApprover>();
    List<emailFile> fileList = new List<emailFile>();
    ISGSideBarUIService SideBarUISvc;
    public bool m_bFilePrevOpening = false;

    /// <summary>
    /// 개인정보 검색된 내용 보여주도록 설정
    /// </summary>
    public bool bUseDlpDataView = true;

    /// <summary>
    /// 정보보호결재 View 상황인지유무
    /// </summary>
    public bool bIsPrivacyApproveDetail = false;

    /// <summary>
    /// 대결재 SFM2 상태인지 유무
    /// </summary>
    public bool bIsEmailApproveSfm2Mode = false;

    public string strPrevInfo1 = "";
    public string strPrevInfo2 = "";
    public bool m_bReject = true;                              // 반려 가능 상태 여부
    public bool m_bCanFilePreView = false;                     // 파일 미리보기 가능유무

    SGeMailTransManageData strDisplayData = new SGeMailTransManageData();
    FileAddManage fileAddManage = new FileAddManage();

    /// <summary>
    /// 첨부파일 다운로드 요청
    /// </summary>
    /// <param name="fileseq"></param>
    /// <param name="filekey"></param>
    /// <param name="filename"></param>
    private void attachDownload(string fileseq, string filekey, string filename)
    {
        //AppId, ClientId, EmailSeq, FileName, FileKey, FileSeq
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string strUserID = "";
        if (sgLoginData != null)
            strUserID = sgLoginData.GetUserID();

        //pageService.SetFilePrevRecving(true);
        //string sFileName = fileAddManage.GetFileRename(true, filename);
        ShowProgress(groupID, 1, 0, filename);
        HSCmdCenter.sgPageEvent.SetFilePrevProgressEventAdd(groupID, FileDownloadProgressNoti);
        //Task.Delay(1000);


        // Server 쪽에서 파일이름에서 특수문자 치완해서 찾는거 안함. 동작할때 적용
        // filename = fileAddManage.GetFileRename(true, filename);

        HSCmdCenter.SendEmailDownload(groupID, strUserID, stEmailSeq, filename, filekey, fileseq);
    }

    /// <summary>
    /// 파일 수신 진행과정 보여주는 Noti
    /// </summary>
    /// <param name="groupID"></param>
    /// <param name="e"></param>
    public void FileDownloadProgressNoti(int groupID, PageEventArgs e)
    {

        string strMsg = "";
        CLog.Here().Error($"FileDownloadProgressNoti - result : {e.result}, StrMsg : {e.strMsg}");

        if (e.result != 0)
        {
            strMsg = XmlConf.GetErrMsg("E_0219");           // 파일 수신 중 오류가 발생되었습니다.
            ShowMessage("error", strMsg);
            return;
        }

        string sFileName = e.strMsg;
        int per = e.count;
        int type = 0;

        CLog.Here().Error($"FileDownloadProgressNoti - Percent : {per}");

        if (per >= 100)
        {
            type = 2;
            ShowProgress(groupID, type, 100, sFileName);
            Task.Delay(500);
            type = 3;                                       // close
            pageService.SetFilePrevRecving(false);
        }
        else if ((per > 0) && (per < 100))
        {
            type = 2;                                       // update
            pageService.SetFilePrevRecving(true);
        }
        else
            return;

        ShowProgress(groupID, type, per, sFileName);
    }

    /// <summary>
    /// 파일수신 ProgressBar 표현 (type : 1 - open , 2 - update ,3 -close)
    /// </summary>
    /// <param name="groupID"></param>
    /// <param name="type"></param>
    /// <param name="per"></param>
    /// <param name="sFileName"></param>
    private async void ShowProgress(int groupID, int type, int per, string sFileName)
    {
        object[] param = { };
        string identifier = "";
        string strID = groupID.ToString();
        //strID = strFileName;
        strID = "FILEPREVIEW";
        string strProgress = String.Format("{0}%", per);
        string strFileRecvInfo = "";
        if (per == 0)
        {
            string strInfoStart = XmlConf.GetInfoMsg("I_0203");                 // 다른 서버에서 파일을 탐색하는 중입니다./r/n잠시만 기다려 주십시요.
            strInfoStart = strInfoStart.Replace("/r/n", "<br>");
            strFileRecvInfo = strFileRecvInfo + strInfoStart;
        }
        else
        {
            strFileRecvInfo = XmlConf.GetWarnMsg("W_0087");                     // 파일 수신중 입니다./r/n잠시만 기다려 주십시오.
            strFileRecvInfo = strFileRecvInfo.Replace("/r/n", "<br>");
        }
        strFileRecvInfo = strFileRecvInfo + "<br>";

        string strProgressInfo = XmlConf.GetTitle("T_FILERECV_PER");           // 파일 수신 진행률
        string strProgressInfoStart =

        strFileRecvInfo = strFileRecvInfo + strProgressInfo + " : " + strProgress;

        switch (type)
        {
            case 1:
                string strTitleName = XmlConf.GetTitle("T_DETAIL_FILEPREVIEW");
                identifier = "fireProgressMessage";
                param = new object[3];
                param[0] = strID;
                param[1] = strTitleName;
                param[2] = strFileRecvInfo;
                pageService.SetFilePrevRecving(true);
                break;
            case 2:
                identifier = "updateProgressMessage";
                param = new object[3];
                param[0] = strID;
                param[1] = strFileRecvInfo;
                param[2] = strProgress;
                break;
            case 3:
                identifier = "closeProgressMessage";
                param = new object[1];
                param[0] = strID;
                pageService.SetFilePrevRecving(false);
                await Task.Delay(500);
                break;
            default:
                break;
        }
        await JSRuntime.InvokeAsync<object>(identifier, param);

        if (type == 3)
        {
            if (sFileName.Equals(""))
                return;

            if (m_bFilePrevOpening)
                return;
            else
                m_bFilePrevOpening = true;
            string strFilePath = Path.Combine("wapprove", sFileName);
            string strModulePath = "";
            strModulePath = System.IO.Directory.GetCurrentDirectory();
            strFilePath = Path.Combine(strModulePath, strFilePath);
            if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
            {
                strFilePath = strFilePath.Replace("/", "\\");
            }
            else
            {
                strFilePath = strFilePath.Replace("\\", "/");
            }
            await Task.Delay(2000);

            ProcessStartInfo pi = new ProcessStartInfo(strFilePath);
            pi.Arguments = Path.GetFileName(strFilePath);
            pi.UseShellExecute = true;
            pi.WorkingDirectory = Path.GetDirectoryName(strFilePath);
            pi.FileName = strFilePath;
            pi.Verb = "OPEN";
            Process.Start(pi);
            m_bFilePrevOpening = false;
        }
    }


    /// <summary>
    /// 승인CMD 보내기
    /// </summary>
    /// <param name="groupID"></param>
    /// <param name="strReason"></param>
    /*public void ApproveSend(int groupID, string strReason)
    {

        string strMsg = "";
        if (pageService.GetConnectStatus(groupID) == false)
        {
            strMsg = XmlConf.GetErrMsg("E_0218");           // 현재 오프라인 상태입니다./r/n재접속 중이오니 잠시만 기다려 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("error", strMsg);
            return;
        }

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string strUserID = "";
        if (sgLoginData != null)
            strUserID = sgLoginData.GetUserID();

        HSCmdCenter.SendEmailApproveBatch(groupID, strUserID, "A", strReason, stApproveSeq, bIsEmailApproveSfm2Mode, bIsPrivacyApproveDetail);

        closePopUp();
    }*/

    /// <summary>
    /// 승인 동작
    /// </summary>
    public async Task DetailApprove()
    {
        string strMsg = "";
        if (pageService.GetFilePrevRecving() == true)
        {
            strMsg = XmlConf.GetWarnMsg("W_0250");           // 파일 미리보기 수행 중에는 승인 할 수 없습니다./r/n미리보기 완료 후 다시 시도하여 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("warn", strMsg);
            return;
        }

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;



        if (!SGAppMgrSvc.OpConfigInfoService.GetUseFileApproveReason(groupID))
        {
            if (pageService.GetConnectStatus(groupID) == false)
            {
                strMsg = XmlConf.GetErrMsg("E_0218");           // 현재 오프라인 상태입니다./r/n재접속 중이오니 잠시만 기다려 주십시요.
                strMsg = strMsg.Replace("/r/n", "<br>");
                ShowMessage("error", strMsg);
                return;
            }

            /*SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
            string strUserID = "";
            if (sgLoginData != null)
                strUserID = sgLoginData.GetUserID();

            string strProcID = "A";
            string strReason = "Approve";
            HSCmdCenter.SendEmailApproveBatch(groupID, strUserID, strProcID, strReason, stApproveSeq, bIsEmailApproveSfm2Mode, bIsPrivacyApproveDetail);*/

            SGUserData sgUserData = null;
            sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupID);
            if (sgUserData == null)
            {
                CLog.Here().Error($"ApproveAction, HSCmdCenter.GetUserData = null");
                ShowMessage("error", XmlConf.GetErrMsg("E_0209"));
                return;
            }

            string strUserSeq = sgUserData.GetUserSequence();
            List<string> listApproveSeq = new List<string>();
            listApproveSeq.Add(stEmailSeq);

            HSCmdCenter.RestSendApproveBatch(groupID, strUserSeq, bIsPrivacyApproveDetail?"security":"common", "mail", "confirm", "Approve", listApproveSeq);

            closePopUp();
        }
        else
        {
            refSGDetailReject.ResetReason(Common.Enums.EnumApproveType.Approve);
            refSGDetailReject.SetGroupID(groupID);
            refSGDetailReject.SetApprRejectEvent(DetailApproveRejectSend);
            await refSGDetailReject.openPopUp();
        }

    }

    /// <summary>
    /// 반려 동작
    /// </summary>
    /// <returns></returns>
    private async Task DetailReject()
    {
        string strMsg = "";
        if (pageService.GetFilePrevRecving() == true)
        {
            strMsg = XmlConf.GetWarnMsg("W_0251");           // 파일 미리보기 수행 중에는 반려 할 수 없습니다./r/n미리보기 완료 후 다시 시도하여 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("warn", strMsg);
            return;
        }

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        if (pageService.GetConnectStatus(groupID) == false)
        {
            strMsg = XmlConf.GetErrMsg("E_0218");           // 현재 오프라인 상태입니다./r/n재접속 중이오니 잠시만 기다려 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("error", strMsg);
            return;
        }

        refSGDetailReject.ResetReason();
        refSGDetailReject.SetGroupID(groupID);
        refSGDetailReject.SetApprRejectEvent(DetailApproveRejectSend);
        await refSGDetailReject.openPopUp();
    }

    /// <summary>
    /// 반려동작 실제 서버에 data 전송하는 event
    /// </summary>
    /// <param name="groupID"></param>
    /// <param name="strReason"></param>
    public void DetailApproveRejectSend(int groupID, string strReason, bool bisReject)
    {
        /*SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string strUserID = "";
        if (sgLoginData != null)
            strUserID = sgLoginData.GetUserID();

        HSCmdCenter.SendEmailApproveBatch(groupID, strUserID, "R", strReason, stApproveSeq, bIsEmailApproveSfm2Mode, bIsPrivacyApproveDetail);*/

        string strMsg = "";
        if (pageService.GetConnectStatus(groupID) == false)
        {
            strMsg = XmlConf.GetErrMsg("E_0218");           // 현재 오프라인 상태입니다./r/n재접속 중이오니 잠시만 기다려 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("error", strMsg);
            return;
        }

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            CLog.Here().Error($"ApproveAction, HSCmdCenter.GetUserData = null");
            ShowMessage("error", XmlConf.GetErrMsg(bisReject ? "E_0210" : "E_0209"));
            return;
        }

        string strUserSeq = sgUserData.GetUserSequence();
        List<string> listApproveSeq = new List<string>();
        listApproveSeq.Add(stEmailSeq);

        HSCmdCenter.RestSendApproveBatch(groupID, strUserSeq, bIsPrivacyApproveDetail?"security":"common", "mail", (bisReject ? "reject" : "confirm"), strReason, listApproveSeq);

        closePopUp();
    }

    /// <summary>
    /// 
    /// </summary>
    /// <param name="strData"></param>
    /// <returns></returns>
    public string GetApproveRejectReasonText(string strData)
    {
        string strOnlyData = strData;
        int nIdx = strOnlyData.LastIndexOf(')');
        if (nIdx < 1)
            return "";
        else
        {
            strOnlyData = strOnlyData.Substring(0, nIdx);
            return strOnlyData;
        }
    }

    /// <summary>
    /// 상세내용 실제 조회된 data 
    /// </summary>
    /// <param name="groupId"></param>
    /// <param name="e"></param>
    public void DetailResult(int groupId, SGData e)
    {
        stTransKindValue = String.Empty;
        stTransStatusValue = String.Empty;
        stReqTime = String.Empty;
        stSendder = String.Empty;
        stApproveKindValue = String.Empty;
        stApproveStatusValue = String.Empty;
        stApproverList = String.Empty;
        stDispReceiver = String.Empty;
        stDispCC = String.Empty;
        stHideCC = String.Empty;

        string result = e.GetTagData("RESULT");
        int count = Int32.Parse(e.GetTagData("COUNT"));  //결과레코드수
        string reason = e.GetTagData("REASON");
        detailData = e.GetSvrRecordData2("RECORD");

        string stData = String.Empty;
        List<string> listReceiver = new List<string>();       //RECIEVER
        List<string> listCCUser = new List<string>();         //CCUSER
        List<string> listHideCCUser = new List<string>();     //HIDECCUSER
        List<string> listApprover = new List<string>();     //APPROVE
        List<string> listFile = new List<string>();         //FILE
        try
        {
            apvList.Clear();
            foreach (Dictionary<int, string> item in detailData)
            {
                if (item[0].IndexOf("DATA") > -1)
                    stData = item[0];
                else if (item[0].IndexOf("TITLE") > -1)
                {
                    if (item[0].IndexOf("\"") > -1)
                        stTitle = item[0].Substring(item[0].IndexOf("\"") + 1, (item[0].LastIndexOf("\"") - item[0].IndexOf("\"")) - 1);
                    else if (item[0].IndexOf("(") > -1)
                        stTitle = item[0].Substring(item[0].IndexOf("(") + 1, (item[0].LastIndexOf(")") - item[0].IndexOf("(")) - 1).Split(",")[1];
                    else
                        stTitle = item[0];
                }
                else if (item[0].IndexOf("RECIEVER") > -1)
                    listReceiver.Add(item[0]);
                else if (item[0].IndexOf("CCUSER") > -1)
                    listCCUser.Add(item[0]);
                else if (item[0].IndexOf("HIDECCUSER") > -1)
                    listHideCCUser.Add(item[0]);
                else if (item[0].IndexOf("APPROVE") > -1)
                    listApprover.Add(item[0]);
                else if (item[0].IndexOf("FILE") > -1)
                    listFile.Add(item[0]);
            }
            string[] arrData = stData.Split("|");
            stTransKindValue = arrData[1].Split(":")[1];
            stTransStatusValue = arrData[3].Split(":")[1];
            stReqTime = arrData[2].Split(":")[1];
            stSendder = arrData[6].Split(":")[1];
            stApproveKindValue = arrData[4].Split(":")[1];
            stApproveStatusValue = arrData[5].Split(":")[1];

            bool bViewOnlyReject = true;
            bViewOnlyReject = !SGAppMgrSvc.OpConfigInfoService.GetUseFileApproveReason(groupId);

            for (int i = 0; i < listApprover.Count - 1; i++)
            {
                string[] arrVal = listApprover[i + 1].Split("|");
                stApproverList += arrVal[2] + "(" + arrVal[3] + ")";
                if (i < listApprover.Count - 2)
                    stApproverList += ",";

                emalApprover tmpApv = new emalApprover();
                tmpApv.approveOrder = arrVal[0].Split(",")[1];
                tmpApv.approverName = arrVal[2];
                tmpApv.approverRank = arrVal[3];
                tmpApv.approveFlag = GetApproveStatusString(arrVal[4], stTransStatusValue);
                if (arrVal[5].Length > 10)
                    tmpApv.approveResTime = arrVal[5].Substring(0, 4) + "-" + arrVal[5].Substring(4, 2) + "-" + arrVal[5].Substring(6, 2) + " " + arrVal[5].Substring(8, 2) + ":" + arrVal[5].Substring(10, 2) + ":" + arrVal[5].Substring(12, 2);
                else
                    tmpApv.approveResTime = "-";

                tmpApv.apprRejectReason = "-";
                if (bViewOnlyReject)
                {
                    if (arrVal[4] == "3")   // 반려일때에만 - 사유정보 표현
                        tmpApv.apprRejectReason = GetApproveRejectReasonText(arrVal[6]);
                }
                else
                {
                    if (arrVal[4] == "2" || arrVal[4] == "3")   // 승인-반려일때에 사유정보 표현
                        tmpApv.apprRejectReason = GetApproveRejectReasonText(arrVal[6]);
                }

                apvList.Add(tmpApv);
            }

            for (int i = 0; i < listReceiver.Count - 1; i++)
            {
                string[] arrVal = listReceiver[i + 1].Split(",");
                stDispReceiver += arrVal[1].Substring(0, arrVal[1].Length - 1);
                if (i < listReceiver.Count - 2)
                    stDispReceiver += ", ";
            }
            for (int i = 0; i < listCCUser.Count - 1; i++)
            {
                string[] arrVal = listCCUser[i + 1].Split(",");
                stDispCC += arrVal[1].Substring(0, arrVal[1].Length - 1);
                if (i < listCCUser.Count - 2)
                    stDispCC += ", ";
            }
            for (int i = 0; i < listHideCCUser.Count - 1; i++)
            {
                string[] arrVal = listHideCCUser[i + 1].Split(",");
                stHideCC += arrVal[1].Substring(0, arrVal[1].Length - 1);
                if (i < listHideCCUser.Count - 2)
                    stHideCC += ", ";
            }


            fileList.Clear();
            for (int i = 0; i < listFile.Count - 1; i++)
            {

                string[] arrVal = listFile[i + 1].Split("|");
                // 0 : EmailSeq, 1:개인정보 검출(유무등정보), 2:파일 이름, 3 :파일 Type, 4:파일 크기, 5:파일위변조 및 바이러스 검출내용, 6:개인정보 검출내용

                if (arrVal.Length >= 6)
                {

                    emailFile tmpFile = new emailFile();

                    tmpFile.fileDLP = strDisplayData.GetDlpDisplayData(arrVal[1]);
                    tmpFile.fileDLPContents = "-";

                    tmpFile.fileSeq = arrVal[0].Split("\"")[1];
                    tmpFile.fileName = arrVal[2];
                    tmpFile.fileKind = arrVal[3];

                    // 정각차장이 작업 완료하면 확인해보고 "메일 본문", "메일 원본", "첨부 파일" 모두 다운로드 되게끔 나갈건지 결정
                    if (tmpFile.fileKind != "첨부 파일")    // "메일 본문", "메일 원본", "첨부 파일" : 서버에서 만드는 Text임
                        tmpFile.bFilePreviewPossiable = false;

                    tmpFile.bFilePreviewPossiable = true;
                    tmpFile.fileKey = arrVal[4];
                    tmpFile.fileSize = GetFileSizeString(arrVal[4]);
                    tmpFile.virusDesc = arrVal[5];

                    if (arrVal.Length > 6)
                    {
                        tmpFile.fileDLPContents = arrVal[6];
                        if (tmpFile.fileDLPContents.Length > 0)
                        {
                            int nPos = tmpFile.fileDLPContents.LastIndexOf("\")");
                            if (nPos > 0 && nPos == tmpFile.fileDLPContents.Length - 2)
                            {
                                tmpFile.fileDLPContents = tmpFile.fileDLPContents.Substring(0, nPos);
                            }
                            else
                                tmpFile.fileDLPContents = "-";
                        }
                    }

                    fileList.Add(tmpFile);

                }
                else
                {
                    CLog.Here().Error($@"DetailResult - FileData Empty!");
                }

            }

        }
        catch (Exception ex)
        {
            CLog.Here().Error($@"DetailResult - Exception - Msg : {ex.Message}, StackTrace : {ex.StackTrace}");
            CLog.Error(ex.StackTrace);
            System.Diagnostics.Debug.WriteLine(ex.Message);
        }
        StateHasChanged();
    }

    //Param : Email Seq, Request Seq, 승인가능여부
    public void SetParam(string seq, string apvseq, string apvenable, bool bIsAfterApprove, bool bIsFilePreView)
    {
        stEmailSeq = seq;
        stApproveSeq = apvseq;
        if (apvenable == "true")
            bApproveEnable = true;
        else
            bApproveEnable = false;

        m_bReject = true;
        if (bIsAfterApprove)
            m_bReject = false;

        m_bCanFilePreView = bIsFilePreView;
    }


    public async Task openPopUp()
    {
        apvList.Clear();
        fileList.Clear();

        ISGSideBarUI sgSideBar = SGAppMgrSvc.SideBarUIService.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string curUserID = "";
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        HSCmdCenter.sgPageEvent.SetQueryDetailEvent(groupID, DetailResult); //결과 이벤트 메핑

        if (sgLoginData != null)
            bIsEmailApproveSfm2Mode = (sgLoginData.GetApproveTypeSFM() == 2);

        MailManageDao dao = new MailManageDao();
        string strQuery = dao.MailDetail(stEmailSeq, bIsEmailApproveSfm2Mode);

        CLog.Here().Information($@"MailApprove - QueryDetail-@@@@@@@@@@ : {strQuery}");

        HSCmdCenter.SendDetailQuery(groupID, curUserID, strQuery);

        object[] param = { "MailApprovePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "MailApprovePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private string GetApproveStatusString(string strApproveStatus, string strTransStatus)
    {
        return strDisplayData.GetApprStausDisplayData(strApproveStatus, strTransStatus);
    }

    private string GetFileSizeString(string value)
    {
        string rtn = String.Empty;
        long lSize = long.Parse(value);

        rtn = CsFunction.GetSizeStr(lSize);

        return rtn;
    }

    public string GetTransKindString(string value)
    {
        string rtn = String.Empty;
        if (value == "0")
            rtn = XmlConf.GetTitle("T_COMMON_EXPORT");
        else if (value == "1")
            rtn = XmlConf.GetTitle("T_COMMON_IMPORT");
        return rtn;
    }

    private string GetTransStatusString(string strTransStatus, string strApproveStatusValue)
    {
        return strDisplayData.GetTransStatusDisplayData(strTransStatus, strApproveStatusValue);
    }

    private string GetTimeFormatString(string value)
    {
        string rtn = String.Empty;
        if (value.Length > 0)
            rtn = value.Substring(0, 4) + "-" + value.Substring(4, 2) + "-" + value.Substring(6, 2);
        return rtn;
    }
    private string GetApproveKindString(string value)
    {
        string rtn = String.Empty;
        switch (value)
        {
            case "0":
                rtn = XmlConf.GetTitle("T_FILE_APPROVEBEFORE");
                break;
            case "1":
                rtn = XmlConf.GetTitle("T_FILE_APPROVEAFTERPROC");
                break;
            default:
                rtn = "";
                break;
        }
        return rtn;
    }

    protected override void OnInitialized()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        NetWorkSvc = SGAppMgrSvc.NetworkInfoService;
        InitText();
        base.OnInitialized();
    }

    private void ShowMessage(string strType, string strMsg)
    {
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        strMsg = strMsg.Replace("/r/n", "<br/>");
        object[] param = { strType, strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    public void InitText()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string strConNetwork = "UnKnown";
        List<ISGNetwork> listNetWork = NetWorkSvc.NetWorkInfo;
        for (int nIdx = 0; nIdx < listNetWork.Count; nIdx++)
        {
            if (listNetWork[nIdx].GroupID == groupID)
            {
                strConNetwork = listNetWork[nIdx].FromName;
                break;
            }
        }

        strPrevInfo1 = strConNetwork + XmlConf.GetWarnMsg("W_0237");                // 업무망에 접속되어 있습니다.

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);

        if (sgLoginData == null)
            strPrevInfo2 = XmlConf.GetWarnMsg("W_0238");                            // 반출파일만 파일미리보기가 가능합니다.
        else
        {
            bool bInner = sgLoginData.GetSystemPosition();
            if (bInner)
                strPrevInfo2 = XmlConf.GetWarnMsg("W_0238");                            // 반출파일만 파일미리보기가 가능합니다.
            else
                strPrevInfo2 = XmlConf.GetWarnMsg("W_0240");                            // 반입파일만 파일미리보기가 가능합니다.
        }

    }



}
