@page "/mailApprove"
@page "/mailApprove/{groupIDbyParam:int}"

@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.Models.SGNetwork
@using HsNetWorkSGData;
@inject IJSRuntime jsRuntime
@inject HSCmdCenter HSCmdCenter
@inject XmlConfService XmlConf
@inject NavigationManager MyNavigationManager
@inject ISGAppManagerService SGAppMgrSvc

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">메일 결재</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" style="color:blue;" @onclick="(e=>HomeMove())"><i class="fas fa-home mr-1"></i>HOME</li>
                    <li class="breadcrumb-item active">메일 결재</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- S file content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-12 col-sm-6 col-md-12">

                <div class="card card-primary card-outline mb-2 ">
                    <div class="card-body">


                        <table>

                            <tr>
                                <th class="p-2">기간</th>
                                <td>
                                    <input type="text" style="color:black;" class="form-control col-md-5 float-left" id="datepicker" readonly value="2020-06-24">
                                    <span class="float-left col-md-1">-</span>
                                    <input type="text" style="color:black;" class="form-control col-md-5 float-left" id="datepicker2" readonly value="2020-06-26">
                                </td>
                                <th class="p-2" style="width:70px;"> 결재종류 </th>
                                <td>
                                    <select class="form-control" style="width:80px;">
                                        <option> 전체</option>
                                        <option> 선결</option>
                                        <option> 후결</option>
                                    </select>
                                </td>
                                <th class="p-2" style="width:70px;"> 발송구분 </th>
                                <td>
                                    <select class="form-control" style="width:80px;">
                                        <option> 전체</option>
                                        <option> 반입</option>
                                        <option> 반출</option>
                                    </select>
                                </td>
                                <th class="p-2" style="width:70px;"> 개인정보 </th>
                                <td>
                                    <select class="form-control" style="width:80px;">
                                        <option> 전체</option>
                                        <option> 있음</option>
                                        <option> 없음</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <th class="p-2" style="width:70px;"> 발송상태 </th>
                                <td>
                                    <select class="form-control" style="width:80px;">
                                        <option> 전체</option>
                                        <option> 전송완료</option>
                                        <option> 전송대기</option>
                                        <option> 전송취소</option>
                                    </select>
                                </td>
                                <th class="p-2" style="width:70px;"> 승인상태 </th>
                                <td>
                                    <select class="form-control" style="width:80px;">
                                        <option> 전체</option>
                                        <option> 승인</option>
                                        <option> 승인대기</option>
                                        <option> 반려</option>
                                        <option> 요청취소</option>
                                    </select>
                                </td>
                                <th class="p-2 pt-2"> 발신자 </th>
                                <td class="pt-2" colspan="3"><input type="text" class="form-control" placeholder="발신자를 입력해 주세요."></td>
                            </tr>

                            <tr>
                                <th class="p-2 pt-2"> 수신자 </th>
                                <td class="pt-2" colspan="3"><input type="text" class="form-control" placeholder="수신자를 입력해 주세요."></td>

                                <th class="p-2 pt-2"> 제목 </th>
                                <td class="pt-2" colspan="3"><input type="text" class="form-control" placeholder="제목을 입력해 주세요."></td>

                            </tr>
                        </table>

                    </div>



                </div>
            </div>
        </div>

        <div style="padding-left:30px;" class="row mb-3">
            <!--
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">새로고침</label>
                        </div>
                    </div>
                </div>
            -->
            <div class="col-sm-9 text-right">
                <button type="button" class="btn btn-md btn-black" @onclick="doSearch"><i class="fas fa-search"></i>@XmlConf.GetTitle("T_COMMON_SEARCH")</button>
                <button type="button" class="btn btn-md btn-blue"><i class="fas fa-check-circle"></i>@XmlConf.GetTitle("T_COMMON_APPROVE")</button>
                <button type="button" class="btn btn-md btn-red"><i class="fas fa-times-circle"></i>@XmlConf.GetTitle("T_COMMON_REJECTION")</button>

            </div>
        </div>


        <!-- list -->

        <div class="row">

            <div class="col-md-12">
                <div class="card card-secondary card-outline" style="height:100%;">


                    <form class="form-horizontal">

                        <div class="card-body p-0">
                            <table class="table table-head-fixed table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input class="input" type="checkbox">
                                        </th>
                                        <th style="text-align:center">결재종류</th>
                                        <th style="text-align:center">발송구분</th>
                                        <th style="text-align:center">개인정보</th>
                                        <th style="text-align:center">파일첨부</th>
                                        <th style="text-align:center">발송상태</th>
                                        <th style="text-align:center">승인상태</th>
                                        <th style="text-align:center">발신자</th>
                                        <th style="text-align:center">수신자</th>
                                        <th style="text-align:center">제목</th>
                                        <th style="text-align:center">발신일</th>
                                        <th style="text-align:center">승인일</th>
                                        <th style="text-align:center">상세보기</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (mailApproveData item in mData)
                                    {
                                        <tr>
                                            <td>
                                                <input class="input" type="checkbox">
                                            </td>
                                            <td style="text-align:center">@item.ApvType</td>
                                            <td style="text-align:center">@item.TransferType</td>
                                            <td style="text-align:center">@item.DlpInfo</td>
                                            <td style="text-align:center">@item.FileAttach</td>
                                            <td style="text-align:center">@item.TransferStatus</td>
                                            <td style="text-align:center">@item.ApvStatus</td>
                                            <td style="text-align:center">@item.Sender</td>
                                            <td style="text-align:center">@item.Receiver</td>
                                            <td>@item.Title</td>
                                            <td style="text-align:center">@item.SendTime</td>
                                            <td style="text-align:center">@item.ApproveTime</td>
                                            <td style="text-align:center"><button type="button" class="btn btn-default btn-xs pl-2 pr-2 pt-0 pb-0" @onclick="@(e=>OpenDetail(item.TransSeq))"><i class="fas fa-search"></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body pt-0">

                            <!--S page -->
                            <div style="padding-top:1.25rem;">
                                <div style="float:left;">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">총페이지 : @nViewPageNo/@nTotalPages</div>
                                </div>
                                <Pagenator ViewPageCount="@viewPageCount" DispLimit=@dispLimit NViewPageNo="@nViewPageNo"
                                           NTotalPages="@nTotalPages" NStartPage="@nStartPage"
                                           UpdateListPagingInvoke="UpdateList"></Pagenator>
                            </div>


                            <!--/.S page -->


                        </div>






                        <!--footer test-->
                        <Footer></Footer>
                        <!--./footer test-->
                        <!-- /.card-footer -->


                    </form>

                    <!-- /.card-body -->
                </div>
            </div>

        </div>

        <!--/.list -->
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /S. file content -->

<MailApprovePopUp @ref="refMailApprovePopUp"></MailApprovePopUp>

@code {

    [Parameter]
    public int groupIDbyParam { get; set; }

    MailApprovePopUp refMailApprovePopUp;
    public int TotalCount { get; set; }
    public List<mailApproveData> mData = new List<mailApproveData>();
    private int nPageListCount = 10;    //리스트에 뿌려질 단위갯수
    private int nViewPageNo = 0;
    private int nTotalPages = 1;
    private int viewPageCount = 10;  //pageing 에 뿌려질 앵커갯수
    private int nStartPage = 1;
    private int dispLimit = 1;
    ISGSideBarUIService SideBarUISvc;
    private void doSearch()
    {
        int groupID = 0;
        SGData sgLoginData = HSCmdCenter.GetLoginData(groupID);
        string curUserID = "";
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        MailApproveParam param = new MailApproveParam();
        param.SystemId = "E001"; //임시로 세팅함
        param.APPROVE_TYPE_SFM = "1";   //대결재 기준 조회(임시로 세팅함)
        param.UserID = curUserID;
        param.SearchFromDay = "20190101";
        param.SearchToDay = "20200728";
        param.PageListCount = 20;
        param.ViewPageNo = 1;

        MailApproveDao dao = new MailApproveDao();
        System.Diagnostics.Debug.WriteLine(dao.TotalCount(param));
        System.Diagnostics.Debug.WriteLine(dao.List(param));
    }

    private void UpdateList(int pageNumber)
    {
        nViewPageNo = pageNumber + 1;
        mData = ListData.Skip(pageNumber * nPageListCount).Take(nPageListCount).ToList();
    }

    //원데이타라고 가정함
    public List<mailApproveData> ListData = new List<mailApproveData>();

    public async Task OpenDetail(long transSeq)
    {
        await refMailApprovePopUp.openPopUp(transSeq);
    }
    protected override void OnInitialized()
    {

        ListData.Add(new mailApproveData(1, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩1", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(2, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩2", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(3, "후결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩3", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(4, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩4", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(5, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩5", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(6, "선결", "반출", "포함", "첨부", "발송실패", "승인", "김개똥", "test@naver.com", "자료전송 포워딩6", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(7, "선결", "반출", "포함", "첨부", "발송실패", "승인", "김개똥", "test@naver.com", "자료전송 포워딩7", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(8, "선결", "반출", "포함", "첨부", "발송실패", "승인", "김개똥", "test@naver.com", "자료전송 포워딩8", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(9, "후결", "반출", "포함", "첨부", "발송실패", "승인", "김개똥", "test@naver.com", "자료전송 포워딩9", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(10, "선결", "반출", "포함", "첨부", "발송실패", "승인", "김개똥", "test@naver.com", "자료전송 포워딩10", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(11, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩11", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(12, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩12", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(13, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩13", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(14, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩14", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(15, "후결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩15", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(16, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩16", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(17, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩17", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(18, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩18", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(19, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩19", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(20, "후결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩20", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(21, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩21", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(22, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩22", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(23, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩23", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(24, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩24", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new mailApproveData(25, "선결", "반출", "포함", "첨부", "발송대기", "승인", "김개똥", "test@naver.com", "자료전송 포워딩25", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));

        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        TotalCount = ListData.Count;
        UpdateList(0);
        //페이징 계산
        dispLimit = 1;
        nTotalPages = (int)TotalCount / nPageListCount;
        if (TotalCount % nPageListCount > 0)
            nTotalPages++;
        nStartPage = nViewPageNo - (int)viewPageCount / 2;
        if (nStartPage < 1)
            nStartPage = 1;


        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initApproveUI");
            jsRuntime.InvokeAsync<object>("initPageLeft");
        }
        base.OnAfterRender(firstRender);
    }


    private void HomeMove()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string strNavigateWithGroupID = "/Welcome/";
        strNavigateWithGroupID += groupID.ToString();

        MyNavigationManager.NavigateTo(strNavigateWithGroupID);

        foreach (var MenuItem in SideBarUISvc.MenuList)
        {
            if ((MenuItem.CategoryId == LSIDEBAR.MENU_CATE_ROOT) && (MenuItem.GroupId == groupID))
            {
                SideBarUISvc.ActiveMenu = MenuItem;
                break;
            }
        }

    }


    public class mailApproveData
    {
        public long TransSeq { get; set; }
        public string ApvType { get; set; }                 //결재종류
        public string TransferType { get; set; }            //발송구분
        public string DlpInfo { get; set; }                 //개인정보
        public string FileAttach { get; set; }              //파일첨부
        public string TransferStatus { get; set; }          //발송상태
        public string ApvStatus { get; set; }               //승인상태
        public string Sender { get; set; }                  //발신자
        public string Receiver { get; set; }                  //수신자
        public string Title { get; set; }                   //제목
        public string SendTime { get; set; }             //발신일
        public string ApproveTime { get; set; }         //승인일

        public mailApproveData(long seq, string apvtype, string transfertype, string dlpinfo, string fileattach, string transferstatus, string apvstatus, string sender, string receiver, string title, string sendtime, string approvetime)
        {
            TransSeq = seq;
            ApvType = apvtype;
            TransferType = transfertype;
            DlpInfo = dlpinfo;
            FileAttach = fileattach;
            TransferStatus = transferstatus;
            ApvStatus = apvstatus;
            Sender = sender;
            Receiver = receiver;
            Title = title;
            SendTime = sendtime;
            ApproveTime = approvetime;
        }
    }
}
