@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HSCmdCenter
@inject PageStatusService pageService
@inject NavigationManager MyNavigationManager
@inject WebWindow Window

@using System.Diagnostics
@using System.Text.RegularExpressions
@using OpenNetLinkApp.PageEvent
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGSettings
@using OpenNetLinkApp.Models.SGSettings
@using OpenNetLinkApp.Common
@using System.Runtime.InteropServices
@using HsNetWorkSG
@using AgLogManager

<div class="modal fade" id=@Guid data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header2 modal-outline2">
                <h5 class="modal-title pt-1 text-bold">
                    @if (IsInitialMode)
                    {
                        @XmlConf.GetInfoMsg("I_0144")
                    }
                    else
                    {
                        @XmlConf.GetInfoMsg("I_0146")
                    }
                </h5>
            </div>
            <div class="modal-body pt-0">
                <!-- content -->
                <div class="card-body pt-0 pb-0">
                    <div class="pw_title pt-3 pb-3">
                        @if (IsInitialMode)
                        {
                            @XmlConf.GetInfoMsg("I_0145")
                        }
                        else
                        {
                            @XmlConf.GetInfoMsg("I_0147")
                        }
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                            </div>
                            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="" inputmode="decimal" value="@strChangeIP" @oninput="@(e=> strChangeIP = e.Value.ToString())">
                        </div>
                    </div>
                </div>
                <!--/. content -->
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-md btn-navy mr-0" @onclick="doChangeIP">@XmlConf.GetTitle("T_COMMON_OK")</button>
                @if (IsInitialMode)
                {
                    <button type="button" class="btn btn-md btn-navy mr-0" @onclick="ProgramExit">@XmlConf.GetTitle("T_COMMON_APPEXIT")</button>
                }
                else
                {
                    <button type="button" class="btn btn-md btn-navy mr-0" @onclick="closePopUp">@XmlConf.GetTitle("T_FILE_FOLD")</button>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {

    [Parameter]
    public EventCallback<string> goToPageNewIPChange { get; set; }

    [Parameter]
    public string Guid { get; set; }

    [Parameter]
    public bool IsInitialMode { get; set; } = true;

    public int nGroupID = 0;                // 현재 사용할 GroupID
    private string strChangeIP;
    ISGSideBarUIService SideBarUISvc;

    public string strPWChangeInfo = "";
    public string strBtnText = "";
    public bool bBtnHide = false;
    SGSettingsDBProc sgSettingProc;
    ISGAppConfigService AppConfigSvc;
    private static Serilog.ILogger CLog => Serilog.Log.ForContext<PWChange>();

    public async Task openPopUp()
    {
        strChangeIP = string.Empty;
        object[] param = { Guid };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { Guid };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    public void doChangeIP()
    {
        if (nGroupID < 0) return;

        int groupID = nGroupID;

        string NewIP = strChangeIP;

        ShowMessage("info", XmlConf.GetInfoMsg("I_0058"));

        //연결 체크
        bool connResult = HSCmdCenter.TrySSLConnect(NewIP, 3435, System.Security.Authentication.SslProtocols.Tls12);

        if (!connResult)
        {
            ShowMessage("error", XmlConf.GetInfoMsg("I_0131"));
            return;
        }

        ShowMessage("info", XmlConf.GetInfoMsg("I_0136"));
        goToPageNewIPChange.InvokeAsync(NewIP);
        closePopUp();
    }

    public void ProgramExit() => Window.ProgramExit();

    protected override void OnInitialized()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        //pageService.SetDayPassWDCHGEvent(nGroupID, DayPassWordChangeNoti);
        AppConfigSvc = SGAppMgrSvc.AppConfigInfoService;
        sgSettingProc = SGSettingsDBProc.Instance;
        Init();
    }

    private void ShowMessage(string strType, string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        object[] param = { strType, strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    /// <summary>
    ///
    /// </summary>
    public void Init()
    {
        if (nGroupID < 0) return;
        int groupID = nGroupID;

        strPWChangeInfo = XmlConf.GetTitle("T_ETC_PASSWORDEX_DAY");  // {0}일 동안

        StateHasChanged();
    }


}