@using OpenNetLinkApp.Services
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.PageEvent
@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc

    <div class="modal fade" id="modal-UpdateNotiPopUp" data-backdrop="static">
        <div class="modal-dialog modal-default1">
            <div class="modal-content">
                <div class="modal-header-default">
                    <div class="modal-title"><i class="fas fa-cog blue-txt mr-2 "></i>@XmlConf.GetTitle("T_ETC_SOFTWARE_UPDATE")</div>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>-->
                </div>
                <div class="modal-body-default">
                    
                    <div class=" alert_txt ">
                        <label class="mb-1">
                            @m_strUpdateInfo<br>
                            @m_strUpdateInfo2<br>
                        </label>
                        <!--
                        <p>@XmlConf.GetTitle("T_ETC_PROGRESS_RATE") : 0% </p>
                        <div class="progress progress-xs mb-2" style="border-radius: 3px">
                            <div class="progress-bar progress-bar-danger" style="width: 55%;  border-radius: 3px"></div>
                        </div>-->
                    </div>

                    
                </div>
                <div class="modal-footer-default">
                    <button type="button" class="btn btn-md btn-blue mr-0" @onclick="closePopUp"><i class="fas fa-check"></i>@XmlConf.GetTitle("T_TRANS_NEXT") </button>        <!--다음-->
                    <!--<button type="button" class="btn btn-md btn-black mr-0" @onclick="closePopUp"><i class="fas fa-times"></i>@XmlConf.GetTitle("T_COMMON_CANCEL")</button> -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
   
@code {
    public int type = 0;                    // 0 : 로그인 업데이트 , 1: 노티 업데이트
    public string m_strUpdateInfo = "";
    public string m_strUpdateInfo2 = "";
    public string m_strSvrVersion = "";

    //해당 POPUP 처리한 Groupid
    public int popUpGroupID = -1;

    public delegate void LoginUpdateEvent();
    public LoginUpdateEvent LoginUpdate;
    public delegate void NotiUpdateEvent();
    public NotiUpdateEvent NotiUpdate;

    public void SetLoginUpdateEventAdd(LoginUpdateEvent LUpdateEvent)
    {
        LoginUpdate = LUpdateEvent;
    }
    public void SetNotiUpdateEventAdd(NotiUpdateEvent NUpdateEvent)
    {
        NotiUpdate = NUpdateEvent;
    }
    public void SetType(int tp)
    {
        type = tp;
    }
    public void SetVersionText(string svrVersion)
    {
        m_strSvrVersion = svrVersion;
        m_strSvrVersion = m_strSvrVersion.ToUpper();
        m_strUpdateInfo = XmlConf.GetInfoMsg("I_0205");  // 최신 버전의 업데이트가 있습니다. ({0})
        m_strUpdateInfo = String.Format(m_strUpdateInfo, m_strSvrVersion);
        StateHasChanged();
    }
    public void InitText()
    {
        m_strUpdateInfo = XmlConf.GetInfoMsg("I_0205");  // 최신 버전의 업데이트가 있습니다. ({0})
        //m_strUpdateInfo2 = XmlConf.GetInfoMsg("I_0206"); // 업데이트 완료 후 자동으로 실행되오니 잠시만 기다려 주십시요.
        m_strUpdateInfo2 = XmlConf.GetInfoMsg("I_0207"); // 다음을 눌러 업데이트를 진행 하십시요.
    }
    protected override void OnInitialized()
    {
        InitText();
    }
    public async Task openPopUp(int groupId)
    {
        popUpGroupID = groupId;
        object[] param = { "modal-UpdateNotiPopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "modal-UpdateNotiPopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
        Task.Delay(1000);

        ClientUpgradeExeEvent clientUpdateExe = null;
        clientUpdateExe = HSCmdCenter.sgPageEvent.GetClientUpgradeExeNotiEvent();
        if (clientUpdateExe != null)
            clientUpdateExe(popUpGroupID);

        popUpGroupID = -1;
        //if (type == 0)
        //    LoginUpdate();
        //else if (type == 1)
        //   NotiUpdate();

    }
}
