@using OpenNetLinkApp.Services
@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf

<div class="modal fade" id="GPKIPopUp" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header2 modal-outline2">
                <h5 class="modal-title pt-1 text-bold"><i class="fas fa-shield-alt"></i> @strGPKILogin</h5>                   <!--인증서 로그인-->
            </div>
            <div class="modal-body pt-0">
                <!-- content -->

                <div class="card-body pt-0">
                    <div class="modal-sub-title1 mb-2"> @strGPKISelInfo </div>                               <!--인증서 저장위치를 선택해 주세요.-->
                    <div class="col-md-12 p-0">
                        <button class="btn btn-outline-blue1 col-md-6 p-0 pt-3 pb-2 @(stMedia == "hard" ? "active1" : "")" @onclick="@(e=>LocationSelect("hard"))">

                            <label class="mt-80">@strHardDisk</label>                                                           <!--하드디스크-->
                        </button>

                        <button class="btn btn-outline-blue2 col-md-6 p-0 pt-3 pb-2 @(stMedia == "usb" ? "active2" : "")" @onclick="@(e=>LocationSelect("usb"))">
                            <!--  active2 -->

                            <label class="mt-80">@strMoveDisk</label>                                                         <!--이동식디스크-->
                        </button>
                    </div>
                </div>

                <div class="card-body pt-0 pb-0">
                    <div class="modal-sub-title1 mb-2"> @strCertSelInfo </div>                                        <!--인증서를 선택해 주세요.-->

                    <table class="table table-head-fixed table-bordered table-hover white_pop table-responsive p-0" style="height:131px;">
                        <colgroup>
                            <col width="120">
                            <col width="100">
                            <col width="100">
                            <col width="100">
                        </colgroup>
                        <thead class="text-center">
                            <tr>
                                <th>@strGPKIID </th>                                                                        <!--인증서아이디-->
                                <th>@strGPKIExpireDay </th>                                                                            <!--만료일자-->
                                <th>@strGPKIUse </th>                                                                                <!--용도-->
                                <th>@strGPKIBescheiniger </th>                                                                              <!--발급자-->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GPKIMedia item in listMedia)
                            {
                                <tr>
                                    <td><img src="/image/gpki_icon.png" class="p-1">@item.Id</td>
                                    <td>@item.Expird.ToString("yyyy/MM/dd") </td>
                                    <td>@item.Usage</td>
                                    <td>@item.Publisher</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="col-md-12 mt-3 p-0">
                        <div class="row m-0 p-0">
                            <label class=" pt-2 p-0 pr-2 ">@strGPKIPW</label>                                               <!--인증서 암호-->
                            <input type="password" class="form-control col-md-9 mb-2" id="1" placeholder="">
                            <div style="padding-left:70px;"><i class="fas fa-star-of-life fa-xs mb-2"></i> @strInfo</div>       <!--인증서를 선택하고 암호를 입력하세요.-->
                        </div>
                    </div>

                </div>


                <!--/. content -->
            </div>
            <div class="modal-footer">
                @if (Mode == "1")
                {
                    <button type="button" class="btn bg-gradient-primary pl-3 pr-3 mr-0 ">@strGPKIReg</button> <!--인증서 등록-->
                }
            <button @onclick="closePopUp" type="button" class="btn bg-gradient-info pl-4 pr-4 mr-0  float-right">@strGPKIOK</button>                <!--확인-->
            <button @onclick="closePopUp" type="button" class="btn bg-gradient-secondary pl-4 pr-4 mr-0  float-right">@strGPKICancle</button>           <!--취소-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@code {
    [Parameter]
    public string Mode { get; set; } //1:로그인 모드 2: 인증서 등록모드

    private string stMedia = "hard";
    private List<GPKIMedia> listMedia = new List<GPKIMedia>();

    public string strGPKILogin = "";
    public string strGPKISelInfo = "";
    public string strHardDisk = "";
    public string strMoveDisk = "";
    public string strCertSelInfo = "";
    public string strGPKIID = "";
    public string strGPKIExpireDay = "";
    public string strGPKIUse = "";
    public string strGPKIBescheiniger = "";
    public string strGPKIPW = "";
    public string strInfo = "";
    public string strGPKIReg = "";
    public string strGPKIOK = "";
    public string strGPKICancle = "";

    public async Task openPopUp()
    {
        object[] param = { "GPKIPopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "GPKIPopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    protected override void OnInitialized()
    {
        InitText();
        LocationSelect("hard");
        base.OnInitialized();
    }

    private void LocationSelect(string media)
    {
        stMedia = media;
        listMedia.Clear();
        if (stMedia == "hard")
        {
            listMedia.Add(new GPKIMedia("H아이디-1", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-2", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-3", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-4", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-5", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-6", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-1", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-2", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-3", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-4", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-5", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("H아이디-6", "2020/07/06", "공무원용", "행정자치부"));
        }
        else if (stMedia == "usb")
        {
            listMedia.Add(new GPKIMedia("USB아이디-1", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-2", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-3", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-4", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-5", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-6", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-1", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-2", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-3", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-4", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-5", "2020/07/06", "공무원용", "행정자치부"));
            listMedia.Add(new GPKIMedia("USB아이디-6", "2020/07/06", "공무원용", "행정자치부"));
        }

        StateHasChanged();
    }

    public class GPKIMedia
    {
        public GPKIMedia(string id, string expired, string usage, string pub)
        {
            Id = id;
            Expird = DateTime.ParseExact(expired, "yyyy/MM/dd", null);
            Usage = usage;
            Publisher = pub;
        }
        public string Id { get; set; }
        public DateTime Expird { get; set; }
        public string Usage { get; set; }
        public string Publisher { get; set; }
    }

    public void InitText()
    {
        strGPKILogin = XmlConf.GetTitle("T_ETC_GPKILOGIN");             // 인증서 로그인
        strGPKISelInfo = XmlConf.GetInfoMsg("I_0187");                  // 인증서 저장위치를 선택해 주세요.
        strHardDisk = XmlConf.GetTitle("T_COMMON_DRIVEFIXED");          // 하드디스크
        strMoveDisk = XmlConf.GetTitle("T_COMMON_DRIVEREMOVABLE");      // 이동식디스크
        strCertSelInfo = XmlConf.GetInfoMsg("I_0188");                  // 인증서를 선택해 주세요.
        strGPKIID = XmlConf.GetTitle("T_GPKI_LIST_ID");                 // 인증서아이디
        strGPKIExpireDay = XmlConf.GetTitle("T_GPKI_LIST_EXPIREDATE");  // 만료일자
        strGPKIUse = XmlConf.GetTitle("T_GPKI_LIST_USE");               // 용도
        strGPKIBescheiniger = XmlConf.GetTitle("T_GPKI_LIST_ISSUER");   // 발급자
        strGPKIPW = XmlConf.GetTitle("T_GPKI_CERT_PASSWD");             // 인증서 암호
        strInfo = XmlConf.GetInfoMsg("I_0124");                         // 인증서를 선택하고 암호를 입력하세요.
        strGPKIReg = XmlConf.GetTitle("T_GPKI_CERT_REGISTER");          // 인증서 등록
        strGPKIOK = XmlConf.GetTitle("T_COMMON_OK");                    // 확인
        strGPKICancle = XmlConf.GetTitle("T_COMMON_CANCEL");            // 취소
    }
}
