@inherits SideBarMenuBase

@if (ChildContent != null)
{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column @Css" data-widget="treeview" role="menu" data-accordion="false">
            @ChildContent
        </ul>
    </nav>
}
else
{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column @Css" data-widget="treeview" role="menu" data-accordion="false">
            @foreach (var item in MenuBuilder.Build(x => x.Position))
            {
                @if (item.IsSubMenu && item.IsVisible)
                {
                    <SideBarSubMenu Header="@item.Title" Icon="@item.Icon" Badge="@item.Badge" BadgeValue="@item.BadgeValue" IsEnabled="@item.IsEnabled" MenuItems="@item.MenuItems.Build(x => x.Position)" />
                }
                else if (!item.IsSubMenu && item.IsVisible)
                {
                    <SideBarMenuItem MenuItem="@item" Icon="@item.Icon" Badge="@item.Badge" BadgeValue="@item.BadgeValue" IsEnabled="@item.IsEnabled" />
                }
            }
        </ul>
    </nav>
}