@inherits SideBarSubMenuBase
@using Microsoft.AspNetCore.Components.Web

    <li class="nav-item has-treeview @CssString" disabled="@(!IsEnabled)"> <!-- menu-open -->
        @if (HeaderTemplate != null)
        {
            <a href="#" class="nav-link @CssActive" @onclick="ToggleSubMenu" @onkeydown="KeyDownHandler"> <!-- active -->
                @HeaderTemplate 
                <!-- <i>@LastIcon</i> -->
            </a>
        }
        else
        {
            <a href="#" class="nav-link @CssActive" @onclick="ToggleSubMenu" @onkeydown="KeyDownHandler"> <!-- active -->
                <i class="nav-icon @Icon"></i>
                    <p>
                        @Header
                        <i class="right fas fa-angle-left"></i>
                        @if(Badge != null) {<span class="@Badge">@BadgeValue</span>}
                    </p>
                    <!-- <i>@LastIcon</i> -->
            </a>
        }

        <ul class="nav nav-treeview">
            @if (MenuTemplate != null)
            {
                @MenuTemplate
            }
            else
            {
                foreach (var item in MenuItems)
                {
                    if (item.IsVisible)
                    {
                        <SideBarMenuItem MenuItem="@item" Icon="@item.Icon" Badge="@item.Badge" BadgeValue="@item.BadgeValue" 
                                         IsEnabled="@item.IsEnabled" MenuBuilder="@MenuBuilder"/>
                    }
                }
            }
        </ul>
    </li>