@page "/Welcome"
@using Microsoft.JSInterop
@using OpenNetLinkApp.PageEvent
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.Data.SGSettings
@using OpenNetLinkApp.Models.SGSettings
@using OpenNetLinkApp.Pages.Config
@using Serilog
@using Serilog.Events
@using AgLogManager
@using HsNetWorkSGData
@inject XmlConfService XmlConf
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HsCmdCenter
@inject PageStatusService pageService

@*<div class="content-wrapper" style="background:url('/images/adminlte/main_tbg.png') no-repeat right top #f4f6f9;">*@

<section class="content1" style="padding-top:5px !important;background:url('/images/adminlte/main_tbg.png') no-repeat right top #f4f6f9; ">
    <div class="row">

        <div class="col-md-12">
            <div class="row justify-content-between">
                <div class="col-md-3"></div>
                <div class="col-md-4 text-center"><img src="/images/adminlte/main_title_1.png" class="mt-2 mb-2 img-fluid"></div>
                <div class="col-md-3">
                    <div class="m_title01 float-right" style="margin-top:15px;">@strNetFromName <i class="fas fa-long-arrow-alt-right p-1"></i> @strNetToName</div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding-right: 7px !important;">
            <div class="main_box1" style="height:100px;">
                <div class="main_title">@XmlConf.GetTitle("T_DASH_APV_STATUS")</div> <!--금년 승인정보 현황-->
                <table class="binfo">
                    <tbody>
                        <tr>
                            <th>@XmlConf.GetTitle("T_DASH_TRANSFER_REQUEST")</th> <!--전송 요청-->
                            <td>@strTransReqCount</td>
                            <th>@XmlConf.GetTitle("T_DASH_APPROVE_AWAIT")</th> <!--승인 대기 -->
                            <td>@strApprWaitCount</td>
                            <th>@XmlConf.GetTitle("T_DASH_APPROVE_COMPLETE")</th> <!--승인 완료 -->
                            <td>@strApprCofirmCount</td>
                            <th>@XmlConf.GetTitle("T_DASH_APPROVE_REJECT")</th> <!--승인 반려 -->
                            <td>@strApprRejectCount</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>


        <div class="col-md-6" style="padding-left:0px !important;">
            <!-- .col -->
            <div class="main_box1" style="height:100px;">
                <div class="row">
                    <div class="col-md-12">
                        <table class="user_b float-left">
                            <colgroup>
                                <col width="">
                                <col width="">
                            </colgroup>
                            <tr>
                                <th>@XmlConf.GetTitle("T_DASH_RECENT_LOGIN")</th> <!--최종 로그인-->
                                <td>@strLastLoginDate</td>
                            </tr>
                            <tr>
                                <th>@XmlConf.GetTitle("T_DASH_PWPERIOD_DATE")</th> <!--패스워드 유효기간 -->
                                <td>@strPWChgDate</td>
                            </tr>
                            <tr>
                                <th>@XmlConf.GetTitle("T_DASH_APPROVAL_RIGHT")</th> <!--결재권한-->
                                <td><span class="dday">@strApprPos</span></td>
                            </tr>
                        </table>
                        <div class=" float-right">
                            <button type="button" class="userinfo_btn" @onclick="@(e => goURL("/UserInfo"))">@XmlConf.GetTitle("T_DASH_USER_INFO_EDIT")</button>  <!--사용자 정보수정-->
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-6" style="padding-right:7px !important;">
            <div class="main_box1" style="height: 220px;">
                <div class="main_title">@XmlConf.GetTitle("T_DASH_1DAY_TRANSFER_STATUS")</div> <!--24시간 송수신 현황-->
                <table class="m_chart col-md-12 .table-responsive">
                    <tbody>
                        <tr>
                            <td style="width:33%;font-weight:bold">(@XmlConf.GetTitle("T_DASH_FILE_TRANSFER_AMOUNT"))</td>
                            <td style="width:33%;font-weight:bold">(@XmlConf.GetTitle("T_COMMON_CLIPBOARD"))</td>
                            <td style="width:33%;font-weight:bold">(@XmlConf.GetTitle("T_DASH_RECEIVE_DIR_AMOUNT"))</td>
                        </tr>
                        <tr>
                            <td style="padding:5px 15px 5px 5px;">
                                <div class="progress-group text-left">
                                    <!--파일전송용량-->
                                    <span class="progress-text">|용량</span>
                                    <span class="float-right"><b>@(nDayUseFileSize)</b>/@(nDayMaxFileSize==0?"무제한":nDayMaxFileSize.ToString())</span>
                                    <div class="progress progress-sm">
                                        @if (nDayMaxFileSize == 0)
                                        {
                                            <div class="progress-bar" style="width: 100%;background-color:#f4a925"></div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar" style="background-color: #f4a925;width: @((nDayUseFileSize/nDayMaxFileSize)*100) %"></div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td style="padding:5px 15px 5px 5px;">
                                <div class="progress-group text-left">
                                    <!-- 클립보드 용량-->
                                    <span class="progress-text">|용량</span>
                                    <span class="float-right"><b>@(nDayUseClipSize)</b>/@(nDayMaxClipSize==0?"무제한":nDayMaxClipSize.ToString())</span>
                                    <div class="progress progress-sm">
                                        @if (nDayMaxClipSize == 0)
                                        {
                                            <div class="progress-bar" style="background-color: #319bd8; width: 100%"></div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar" style="background-color: #319bd8; width: @((nDayUseClipSize/nDayMaxClipSize)*100) %"></div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td rowspan="2">
                                <div class="main_chart">
                                    <canvas class="pl-3 pt-3" id="myCapacityChart" width="100" height="100"></canvas>
                                    @*<div class="text-center pr-1">(MB)</div>*@
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 15px 5px 5px; text-align: center;">
                                <div class="progress-group text-left">
                                    <!--파일전송건수-->
                                    <span class="progress-text">|건수</span>
                                    <span class="float-right"><b>@(nDayUseFileCount)</b>/@(nDayMaxFileCount==0?"무제한":nDayMaxFileCount.ToString())</span>
                                    <div class="progress progress-sm">
                                        @if (nDayMaxFileCount == 0)
                                        {
                                            <div class="progress-bar" style="background-color: #d36300; width: 100% "></div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar" style="background-color: #d36300; width: @((nDayUseFileCount/nDayMaxFileCount)*100) %"></div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td style="padding: 5px 15px 5px 5px; text-align: center;">
                                <div class="progress-group text-left">
                                    <!-- 클립보드 건수-->
                                    <span class="progress-text">|건수</span>
                                    <span class="float-right"><b>@(nDayUseClipCount)</b>/@(nDayMaxClipCount==0?"무제한":nDayMaxClipCount.ToString())</span>
                                    <div class="progress progress-sm">
                                        @if (nDayMaxClipCount == 0)
                                        {
                                            <div class="progress-bar bg-success" style="background-color: #577cc1; width: 100%"></div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar bg-success" style="background-color: #577cc1; width: @((nDayUseClipCount/nDayMaxClipCount)*100) %"></div>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



        <div class="col-md-6" style="padding-left:0px !important;">

            <div class="main_box1" style="height: 220px;">

                <div class="tabs">
                    <input type="radio" name="tabs" id="1" checked="checked">
                    <label for="1" style="width:25%;">@XmlConf.GetTitle("T_DASH_RECENT_ARTICLE")</label>   <!--최신글 -->
                    <div class="tab">
                        <table class="tab_table table-head-fixed table-hover w-100">
                            <tbody>
                                @foreach (BoardItem item in recentList)
                                {
                                    <tr>
                                        <td>@((MarkupString)item.getTypeTag())</td>
                                        <td @onclick="(e=>OpenDetailPopup(item))" style="width:40%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><span class="txt_line">@item.Title</span>@((MarkupString)item.getNewTag())</td>
                                        <td> @item.RegDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <input type="radio" name="tabs" id="2">
                    <label for="2" style="width:25%;">@XmlConf.GetTitle("T_COMMON_NOTIFY")</label> <!--공지사항 -->
                    <div class="tab">
                        <table class="tab_table table-head-fixed table-hover w-100">
                            <tbody>
                                @foreach (BoardItem item in noticeList)
                                {
                                    <tr>
                                        <td>@((MarkupString)item.getTypeTag())</td>
                                        <td @onclick="(e=>OpenDetailPopup(item))" style="width:40%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><span class="txt_line">@item.Title</span>@((MarkupString)item.getNewTag())</td>
                                        <td> @item.RegDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <input type="radio" name="tabs" id="3">
                    <label for="3" style="width:25%;">@XmlConf.GetTitle("T_DASH_ALARM")</label>  <!--알람 -->
                    <div class="tab">
                        <table class="tab_table table-head-fixed table-hover w-100">
                            <tbody>
                                @foreach (BoardItem item in alarmList)
                                {
                                    <tr>
                                        <td>@((MarkupString)item.getTypeTag())</td>
                                        <td @onclick="(e=>OpenDetailPopup(item))" style="width:40%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><span class="txt_line">@item.Title</span>@((MarkupString)item.getNewTag())</td>
                                        <td> @item.RegDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <input type="radio" name="tabs" id="4">
                    <label for="4" style="width:25%;">@XmlConf.GetTitle("T_INFO_MESSAGE_LIST")</label>  <!--메세지 -->
                    <div class="tab">
                        <table class="tab_table table-head-fixed table-hover w-100">
                            <tbody>
                                @foreach (BoardItem item in messageList)
                                {
                                    <tr>
                                        <td>@((MarkupString)item.getTypeTag())</td>
                                        <td @onclick="(e=>OpenDetailPopup(item))" style="width:40%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><span class="txt_line">@item.Title</span>@((MarkupString)item.getNewTag())</td>
                                        <td> @item.RegDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>





        <div class="col-md-6">

            <div class="main_box1 pt-3" style="height:250px;">
                <!-- Custom Tabs -->
                <div class="tabs">
                    <input type="radio" name="tabs1" id="user1" checked="checked">
                    <label for="user1" style="width:50%;">@XmlConf.GetTitle("T_DASH_APPROVAL_STATUS")</label> <!--결재현황 -->
                    <div class="tab p-0">
                        <table class="table hs-table table-hover  mt-2 mb-2" style="font-size: 12px;table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <th style="width:7%;">NO.</th>
                                    <th style="width:10%;">@XmlConf.GetTitle("T_DASH_APPROVAL")</th>
                                    <th style="width:10%;">@XmlConf.GetTitle("T_FILE_FORWARD_SEND")</th>
                                    <th style="width:14%;">@XmlConf.GetTitle("T_DASH_REQUESTOR")</th>
                                    <th style="width:40%;">@XmlConf.GetTitle("T_TRANS_TITLE")</th>
                                    <th style="width:18%;">@XmlConf.GetTitle("T_DETAIL_REQDAY")</th>

                                </tr>
                                @foreach (ApproveItem item in approveList)
                                {
                                    <tr>
                                        <td style="width:7%;">@item.dispNo</td>
                                        <td style="width:10%;">@item.apvType</td>
                                        <td style="width:10%;">@item.transKind</td>
                                        <td style="width:14%;">@item.requestorName</td>
                                        <td style="width:40%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">@item.Title</td>
                                        <td style="width:18%;">@item.reqDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <input type="radio" name="tabs1" id="user2">
                    <label for="user2" style="width:50%;">@XmlConf.GetTitle("T_DASH_REQUEST_STATUS")</label>
                    <div class="tab p-0">
                        <table class="table hs-table table-hover  mt-2 mb-2" style="font-size: 12px;table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <th style="width:7%;">NO.</th>
                                    <th style="width:10%;">@XmlConf.GetTitle("T_DASH_APPROVAL")</th>
                                    <th style="width:10%;">@XmlConf.GetTitle("T_FILE_FORWARD_SEND")</th>
                                    <th style="width:16%;">@XmlConf.GetTitle("T_COMMON_APPROVESTATUS")</th>
                                    <th style="width:40%;">@XmlConf.GetTitle("T_TRANS_TITLE")</th>
                                    <th style="width:18%;">@XmlConf.GetTitle("T_DETAIL_REQDAY")</th>

                                </tr>
                                @foreach (transItem item in requestList)
                                {
                                    <tr>
                                        <td style="width:7%;">@item.dispNo</td>
                                        <td style="width:10%;">@item.apvType</td>
                                        <td style="width:10%;">@item.transKind</td>
                                        <td style="width:16%;">@item.approverStatus</td>
                                        <td style="width:40%;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">@item.Title</td>
                                        <td style="width:18%;">@item.reqDate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>




                </div>

            </div>

        </div>



        <div class="col-md-6 p-0" style="padding-right:7px !important;">
            <!-- .col -->
            <div class="main_box1 pt-3" style="height:140px;">
                <div class="main_title">Quick Menu</div>

                <div class="quick ">
                    <button class="quick_btn" @onclick="@(e => goURL("/Transfer"))">
                        <div class="text-center"><img src="/images/adminlte/quick_01.png"></div>
                        <label>@XmlConf.GetTitle("T_ETC_FILESEND")</label>  <!--파일전송-->
                    </button>

                    <button class="quick_btn" @onclick="@(e => goURL("/transManage"))">
                        <div class="text-center"><img src="/images/adminlte/quick_02.png"></div>
                        <label>@XmlConf.GetTitle("T_COMMON_TRANSMANAGE")</label> <!--전송관리-->
                    </button>

                    <button class="quick_btn" @onclick="@(e => goURL("/transferApprove"))">
                        <div class="text-center"><img src="/images/adminlte/quick_03.png"></div>
                        <label>@XmlConf.GetTitle("T_COMMON_APPROVEMANAGE")</label> <!--결재관리-->
                    </button>

                    <button class="quick_btn" @onclick="@(e => goURL("/viewConf"))">
                        <div class="text-center"><img src="/images/adminlte/quick_04.png"></div>
                        <label>@XmlConf.GetTitle("T_ETC_CONNTCTINFO_TITLE")</label> <!--접속환경-->
                    </button>

                    <button class="quick_btn" @onclick="@(e => goURL("/netConf"))">
                        <div class="text-center"><img src="/images/adminlte/quick_05.png"></div>
                        <label>@XmlConf.GetTitle("T_ETC_BASICSET_TITLE")</label> <!--기본설정-->
                    </button>
                </div>


            </div>

            <div class="main_box1" style="height:103px;">
                <table class="call mt-2">
                    <colgroup>
                        <col width="">
                        <col width="">
                        <col width="">
                    </colgroup>
                    <tr>
                        <td rowspan="3" class="pl-3 pr-3"><img src="/images/adminlte/m_help.png" class="mr-2"></td>
                        <th>@XmlConf.GetTitle("T_DASH_CONTACT_MANAGER")</th>
                        <td>한싹시스템 SM 사업부 문병호 팀장</td>
                    </tr>
                    <tr>
                        <th>@XmlConf.GetTitle("T_DASH_CONTACT_PHONE")</th>
                        <td>1588-8411, 02-2082-1200</td>

                    </tr>
                    <tr>
                        <th>e-mail</th>
                        <td>moon@hanssak.co.kr</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</section>

@*</div>*@
<Update_PopUp @ref="refUpdate_PopUp"></Update_PopUp>

<ViewDetailPopUp @ref="refViewDetail"></ViewDetailPopUp>
<PublicBoardView @ref="refPublicBoardView"></PublicBoardView>
@code
{
    ViewDetailPopUp refViewDetail;
    PublicBoardView refPublicBoardView;
    private async Task OpenDetailPopup(BoardItem item)
    {
        int Type = item.ItemType; //1:알람, 2:메시지, 3:공지
        string strTitle = String.Empty;
        if (Type == 1)
            strTitle = XmlConf.GetTitle("T_DASH_ALARM_DETAIL");                // 알람 상세보기
        else if(Type==2)
            strTitle = XmlConf.GetTitle("T_INFO_MESSAGE_LIST_DETAIL");                // 메시지 상세보기
        else
            strTitle = XmlConf.GetTitle("T_COMMON_NOTIFY_DETAIL");                // 공지사항 상세보기

        string strContent = item.strContent;
        string strHead = item.Title;
        string strDate = item.RegDate;
        refPublicBoardView.SetText(strTitle,strContent, strDate, strHead);
        await refPublicBoardView.openPopUp();
    }

    List<BoardItem> recentList = new List<BoardItem>();
    List<BoardItem> noticeList = new List<BoardItem>();
    List<BoardItem> alarmList = new List<BoardItem>();
    List<BoardItem> messageList = new List<BoardItem>();
    List<ApproveItem> approveList = new List<ApproveItem>();
    List<transItem> requestList = new List<transItem>();

    ISGSideBarUIService SideBarUISvc;
    ISGNetworkService NetWorkSvc;
    public string strNetFromName = "업무망";
    public string strNetToName = "인터넷망";

    public int nDayMaxFileSize = 0;
    public int nDayMaxFileCount = 0;
    public int nDayMaxClipSize = 0;
    public int nDayMaxClipCount = 0;

    public int nDayUseFileSize = 0;
    public int nDayUseFileCount = 0;
    public int nDayUseClipSize = 0;
    public int nDayUseClipCount = 0;

    public string curFromDay = "YEAR0101";
    public string curToDay = "YEAR1231";
    public string curUserID = "";

    public string strLastLoginDate = "";
    public string strPWChgDate = "";
    public string strApprPos = "";          // 결재권한

    SGSettingsDBProc sgSettingProc;

    public string strTransReqCount = "0";             // 전송요청 카운트
    public string strApprWaitCount = "0";             // 승인대기 카운트
    public string strApprCofirmCount = "0";             // 승인 카운트
    public string strApprRejectCount = "0";             // 반려 카운트

    public int nDiskTotalSize = 0;
    public int nDiskFreeSize = 0;

    Update_PopUp refUpdate_PopUp;

    private static Serilog.ILogger CLog => Serilog.Log.ForContext<Welcome>();

    private SGNtfyDBProc SQLiteDB { get; set; } = SGNtfyDBProc.Instance;

    public void InitText()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        List<ISGNetwork> listNetWork = NetWorkSvc.NetWorkInfo;
        if (listNetWork != null)
        {
            int count = listNetWork.Count;
            for (int i = 0; i < count; i++)
            {
                int gID = listNetWork[i].GroupID;
                if (gID == groupID)
                {
                    strNetFromName = listNetWork[i].FromName;
                    strNetToName = listNetWork[i].ToName;
                    break;
                }
            }
        }
    }
    public void InitUserInfo()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string curDay = DateTime.Now.ToString("yyyy-MM-dd");
        string curTime = DateTime.Now.ToString("HH:mm:ss");

        strLastLoginDate = curDay + " " + curTime;

        SGSettingData sgSettingData = null;
        sgSettingData = sgSettingProc.SelectSettingData(groupID);
        if (sgSettingData == null)
            return;

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;

        strApprPos = sgUserData.GetUserApprposString();

    }

    public void InitDeviceInfo()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;
        string strRecvDownPath = "";
        strRecvDownPath = HsCmdCenter.GetDownLoadPath(groupID);
        if (strRecvDownPath.Equals(""))
            return;

        System.IO.DirectoryInfo info = new DirectoryInfo(strRecvDownPath);
        DriveInfo[] allDrives = DriveInfo.GetDrives();
        foreach (DriveInfo d in allDrives)
        {
            if (string.Compare(d.Name, info.Root.Name) == 0)
            {
                nDiskTotalSize = (int)(d.TotalSize / 1024 / 1024);
                nDiskFreeSize = (int)(d.AvailableFreeSpace / 1024 / 1024);
            }
        }
    }

    public void InitDBInfo()
    {

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;
        string strUserSeq = sgUserData.GetUserSequence();

        recentList.Clear();
        noticeList.Clear();
        alarmList.Clear();
        messageList.Clear();

        List<SGAlarmData> listAlarmData = null;
        List<SGNotiData> listNotiData = null;

        int nNotiDataCount = 0;
        nNotiDataCount = SQLiteDB.SelectNotiInfoCount(NOTI_TYPE.ALL, groupID, strUserSeq);
        if (nNotiDataCount > 0)
            listNotiData = SQLiteDB.SelectNotiInfoLimit(NOTI_TYPE.ALL, groupID, strUserSeq, 1000);

        int nAlarmDataCount = 0;
        nAlarmDataCount = SQLiteDB.SelectAlarmInfoCount(groupID, strUserSeq);
        if (nAlarmDataCount > 0)
            listAlarmData = SQLiteDB.SelectAlarmInfoLimit(groupID, strUserSeq, 1000);

        SGMsgData sgMsgData = null;
        sgMsgData = new SGMsgData();
        if (sgMsgData == null)
            return;

        recentList = sgMsgData.GetRecentList(listNotiData, listAlarmData, 5);
        noticeList = sgMsgData.GetBoardList(listNotiData, 5);
        alarmList = sgMsgData.GetAlarmList(listAlarmData, 5);
        messageList = sgMsgData.GetBoardExceptionList(listNotiData, 5);

        if (recentList == null)
            recentList = new List<BoardItem>();
        if (noticeList == null)
            noticeList = new List<BoardItem>();
        if (alarmList == null)
            alarmList = new List<BoardItem>();
        if (messageList == null)
            messageList = new List<BoardItem>();

    }
    private void goURL(String path)
    {
        MyNavigationManager.NavigateTo(path);
    }

    protected override void OnInitialized()
    {
        /*
        recentList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        recentList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        recentList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        recentList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        recentList.Add(new BoardItem(3, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        */

        /*
        noticeList.Add(new BoardItem(3, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        noticeList.Add(new BoardItem(3, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        noticeList.Add(new BoardItem(3, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        noticeList.Add(new BoardItem(3, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        noticeList.Add(new BoardItem(3, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        */

        /*
        alarmList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        alarmList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        alarmList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        alarmList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        alarmList.Add(new BoardItem(1, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));

        messageList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        messageList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        messageList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        messageList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        messageList.Add(new BoardItem(2, "본사 시무식 테스트 방송 예정", true, "2020-04-30"));
        */
        /*
        approveList.Add(new transItem(1, 1, 2, "KB001", "1-자료전송 승인을 요청합니다.", "KB001", "2020-10-06"));
        approveList.Add(new transItem(2, 1, 2, "홍길동", "2-자료전송 승인을 요청합니다.", "KB001", "2020-10-06"));
        approveList.Add(new transItem(3, 1, 2, "KB001", "3-자료전송 승인을 요청합니다.", "KB001", "2020-10-06"));
        approveList.Add(new transItem(4, 1, 2, "KB001", "4-자료전송 승인을 요청합니다.", "KB001", "2020-10-06"));
        approveList.Add(new transItem(5, 1, 2, "KB001", "5-자료전송 승인을 요청합니다.", "KB001", "2020-10-06"));

        requestList.Add(new transItem(1, 1, 2, "KB001", "1-자료전송을 요청합니다.", "KB001", "2020-10-06"));
        requestList.Add(new transItem(2, 1, 2, "KB001", "2-자료전송을 요청합니다.", "KB001", "2020-10-06"));
        requestList.Add(new transItem(3, 1, 2, "KB001", "3-자료전송을 요청합니다.", "김개똥", "2020-10-06"));
        requestList.Add(new transItem(4, 1, 2, "KB001", "4-자료전송을 요청합니다.", "KB001", "2020-10-06"));
        requestList.Add(new transItem(5, 1, 2, "KB001", "5-자료전송을 요청합니다.", "KB001", "2020-10-06"));
        */

        base.OnInitialized();

        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        NetWorkSvc = SGAppMgrSvc.NetworkInfoService;
        sgSettingProc = SGSettingsDBProc.Instance;

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        HsCmdCenter.sgPageEvent.SetUseDayFileNotiEventAdd(groupID, UseDayFileResult);
        HsCmdCenter.sgPageEvent.SetUseDayClipNotiEventAdd(groupID, UseDayClipResult);

        HsCmdCenter.sgPageEvent.SetTransSearchEventAdd(groupID, TransSearchResult);                  // 조회 데이터 결과.
        HsCmdCenter.sgPageEvent.SetTransSearchCountEventAdd(groupID, TransSearchCount);              // 조회 데이터 수 결과.

        HsCmdCenter.sgPageEvent.SetApprSearchEventAdd(groupID, ApprSearchResult);
        HsCmdCenter.sgPageEvent.SetApprSearchCountEventAdd(groupID, ApprSearchCount);

        HsCmdCenter.sgPageEvent.SetDashBoardCountEventAdd(groupID, DashBoardCountResult);           // 대쉬보드 조회 결과.
        HsCmdCenter.sgPageEvent.SetDashBoardTransReqCountEventAdd(groupID, DashBoardTransReqCountResult);           // 대쉬보드 전송요청 Count 조회 결과.
        HsCmdCenter.sgPageEvent.SetDashBoardApprWaitCountEventAdd(groupID, DashBoardApprWaitCountResult);           // 대쉬보드 전송요청 Count 조회 결과.
        HsCmdCenter.sgPageEvent.SetDashBoardApprConfirmCountEventAdd(groupID, DashBoardApprConfirmCountResult);           // 대쉬보드 전송요청 Count 조회 결과.
        HsCmdCenter.sgPageEvent.SetDashBoardApprRejectCountEventAdd(groupID, DashBoardApprRejectCountResult);           // 대쉬보드 전송요청 Count 조회 결과.

        HsCmdCenter.sgPageEvent.SetPasswdChgDayEventAdd(groupID, PasswdChgDaySearchResult);         // 패스워드 날짜 조회 결과.
                                                                                                    //HsCmdCenter.sgPageEvent.SetBoardNotiSearchEventAdd(groupID,BoardNotifyResult);                      // 공지사항 조회 결과.

        HsCmdCenter.sgPageEvent.SetBoardNotiAfterDashBoardEventAdd(groupID, BoardNotiAfter);                // 공지사항 데이터 수신 후 화면 갱신

        HsCmdCenter.sgPageEvent.SetAlarmNotiAfterDashBoardEventAdd(groupID, AlarmNotiAfter);                // 알람 노티 수신 후 화면 갱신.

        InitText();
        InitUserInfo();
        InitDeviceInfo();
        InitDBInfo();

        LoginAfterSGHeaderUIEvent loginAfterSGHeaderUI = null;
        loginAfterSGHeaderUI = HsCmdCenter.sgPageEvent.GetLoginAfterSGHeaderUIEvent();
        if (loginAfterSGHeaderUI != null)
            loginAfterSGHeaderUI(groupID);

        LoginAfterSGSideBarEvent loginAfterSGSideBar = null;
        loginAfterSGSideBar = HsCmdCenter.sgPageEvent.GetLoginAfterSGSideBarEvent();
        if (loginAfterSGSideBar != null)
            loginAfterSGSideBar(groupID);

        SendDayFileInfo();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //await JSRuntime.InvokeAsync<object>("initWelcome");
        await JSRuntime.InvokeAsync<object>("exitLogIn");
        await JSRuntime.InvokeAsync<object>("adJustWindowsize");

        /*
        object[] param = { nDayMaxFileSize, nDayUseFileSize };
        await JSRuntime.InvokeAsync<object>("initTransferChart", param);

        object[] param2 = { nDayMaxFileCount, nDayUseFileCount };
        await JSRuntime.InvokeAsync<object>("initTransferCountChart", param2);

        object[] param3 = { nDayMaxClipSize, nDayUseClipSize };
        await JSRuntime.InvokeAsync<object>("initClipBoardChart", param3);

        object[] param5 = { nDayMaxClipCount, nDayUseClipCount };
        await JSRuntime.InvokeAsync<object>("initClipBoardCountChart", param5);
        */

        object[] param4 = { nDiskFreeSize, nDiskTotalSize };
        await JSRuntime.InvokeAsync<object>("initCapaChart", param4);

        if (firstRender)
        {
            ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
            int groupID = 0;
            if (sgSideBar != null)
                groupID = sgSideBar.GroupId;

            SGLoginData sgLoginData = null;
            sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
            if (sgLoginData == null)
                return;

            if (ClientPatch(sgLoginData))
            {
                string strSvrVersion = sgLoginData.GetServClientVersion();
                refUpdate_PopUp.SetVersionText(strSvrVersion);
                refUpdate_PopUp.SetType(0);
                //refUpdate_PopUp.SetLoginUpdateEventAdd(LoginUpdateExe);
                await refUpdate_PopUp.openPopUp();
                return;
            }
        }
    }
    public void SendDayFileInfo()
    {
        SGQueryExtend sgQuery = new SGQueryExtend();
        int groupID = 0;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
        {
            SendDayClipInfo();
            return;
        }

        Int64 nMaxSize = sgLoginData.GetDayFileTransferLimitSize();
        if (nMaxSize == 0)
            nDayMaxFileSize = 0;
        else
            nDayMaxFileSize = (int)(nMaxSize / 1024 / 1024);
        nDayMaxFileCount = sgLoginData.GetDayFileTransferLimitCount();

        bool bSystem = sgLoginData.GetSystemPosition();
        string strConNetWork = sgLoginData.GetConnNetworkString();

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            SendDayClipInfo();
            return;
        }

        string strUserSeq = sgUserData.GetUserSequence();
        string strDate = DateTime.Now.ToString("yyyyMMdd");

        string strUserID = sgLoginData.GetUserID();
        string strQuery = sgQuery.GetDayFileTransInfo(bSystem, strUserSeq, strDate, strConNetWork);
        HsCmdCenter.SendUseDayFileTransInfo(groupID, strUserID, strQuery);
    }

    public void SendDayClipInfo()
    {
        SGQueryExtend sgQuery = new SGQueryExtend();
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
        {
            TransSearchCount();
            return;
        }

        Int64 nMaxSize = sgLoginData.GetDayClipboardLimitSize();
        if (nMaxSize == 0)
            nDayMaxClipSize = 0;
        else
            nDayMaxClipSize = (int)(nMaxSize / 1024 / 1024);
        nDayMaxClipCount = sgLoginData.GetDayClipboardLimitCount();

        bool bSystem = sgLoginData.GetSystemPosition();
        string strConNetWork = sgLoginData.GetConnNetworkString();

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            TransSearchCount();
            return;
        }

        string strUserSeq = sgUserData.GetUserSequence();
        string strDate = DateTime.Now.ToString("yyyyMMdd");

        string strUserID = sgLoginData.GetUserID();
        string strQuery = sgQuery.GetDayClipboardInfo(bSystem, strUserSeq, strDate, strConNetWork);
        HsCmdCenter.SendUseDayClipboardInfo(groupID, strUserID, strQuery);
    }
    public void UseDayFileResult(int groupID, FileAndClipDayArgs e)
    {
        pageService.SetDayUseFile(groupID, e.Size, e.Count);
        if (e.Size <= 0)
            nDayUseFileSize = 0;
        else
        {
            nDayUseFileSize = (int)(e.Size / 1024 / 1024);
            if (nDayUseFileSize <= 0)
                nDayUseFileSize = 1;
        }

        if (e.Count <= 0)
            nDayUseFileCount = 0;
        else
        {
            nDayUseFileCount = e.Count;
        }

        SendDayClipInfo();
    }

    public void UseDayClipResult(int groupID, FileAndClipDayArgs e)
    {
        pageService.SetDayUseClip(groupID, e.Size, e.Count);
        if (e.Size <= 0)
            nDayUseClipSize = 0;
        else
        {
            nDayUseClipSize = (int)(e.Size / 1024 / 1024);
            if (nDayUseClipSize <= 0)
                nDayUseClipSize = 1;
        }

        if (e.Count <= 0)
            nDayUseClipCount = 0;
        else
        {
            nDayUseClipCount = e.Count;
        }

        TransSearchCount();
    }

    public void TransSearchCount()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
        {
            ApproveSearchCount();
            return;
        }

        curUserID = sgLoginData.GetUserID();

        string strYear = DateTime.Now.ToString("yyyy");
        curFromDay = curFromDay.Replace("YEAR", strYear);
        curToDay = curToDay.Replace("YEAR", strYear);

        TransferParam param = new TransferParam("", "", "", "", curFromDay, curToDay, curUserID, 5, 1);
        TransferDao dao = new TransferDao();
        string strQueryCount = dao.TotalCount(param);   // 쿼리 데이터 카운트
        string str = dao.List(param);                  // 확인용
        HsCmdCenter.SendTransListCountQuery(groupID, curUserID, strQueryCount);
    }
    public void TransSearchData(int pageNum)
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string strYear = DateTime.Now.ToString("yyyy");
        curFromDay = curFromDay.Replace("YEAR", strYear);
        curToDay = curToDay.Replace("YEAR", strYear);

        TransferParam param = new TransferParam("", "", "", "", curFromDay, curToDay, curUserID, 5, 1);
        TransferDao dao = new TransferDao();
        string strQuery = dao.List(param);   // 쿼리 데이터 카운트
        HsCmdCenter.SendTransListQuery(groupID, curUserID, strQuery);
    }

    public void TransSearchCount(int groupId, PageEventArgs e)
    {
        string strMsg = e.strMsg;

        if (e.count <= 0)
        {
            ApproveSearchCount();
            return;
        }
        TransSearchData(1);
    }
    public void TransSearchResult(int groupId, PageEventArgs e)
    {
        string strMsg = e.strMsg;

        requestList.Clear();

        SGTransManageData sgData = null;
        sgData = (SGTransManageData)HsCmdCenter.GetTransManageData(groupId);
        if (sgData == null)
        {
            ApproveSearchCount();
            return;
        }

        List<Dictionary<int, string>> TransSearchList = null;
        TransSearchList = sgData.GetQuerySearchData();
        int nCount = TransSearchList.Count;

        for (int i = 0; i < nCount; i++)
        {
            Dictionary<int, string> dic = TransSearchList[i];
            if (dic == null)
                continue;

            string tmpStr = "";
            if (dic.TryGetValue(0, out tmpStr) != true)
            {
                if (tmpStr.Equals(""))
                    continue;
            }

            transItem tData = new transItem();
            tData.dispNo = i + 1;
            tData.apvType = sgData.GetApprKind(dic);                    // 결재종류 (선결/후결)
            tData.transKind = sgData.GetTransKind(dic);              // 전송구분 (반출/반입)
            tData.Title = sgData.GetTitle(dic);                         // 제목
            tData.approverStatus = sgData.GetApprStaus(dic);                 // 승인상태 (요청취소,승인대기,승인,반려)
            tData.reqDate = sgData.GetQueryTransReqDay(dic);        // 전송요청일(type : YYYY-MM-DD hh:mm:ss)
            if (!tData.reqDate.Equals(""))
                tData.reqDate = tData.reqDate.Substring(0, 10);
            requestList.Add(tData);
        }
        ApproveSearchCount();
    }

    public void ApproveSearchCount()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        string strYear = DateTime.Now.ToString("yyyy");
        curFromDay = curFromDay.Replace("YEAR", strYear);
        curToDay = curToDay.Replace("YEAR", strYear);

        ApproveParam param = new ApproveParam(curFromDay, curToDay, "", "", "", "", "", curUserID, 5, 1);
        if (sgLoginData.GetSystemPosition())
            param.SystemId = "I001";
        else
            param.SystemId = "E001";

        int nApprTypeSFM = sgLoginData.GetApproveTypeSFM();
        param.APPROVE_TYPE_SFM = nApprTypeSFM.ToString();
        ApproveDao dao = new ApproveDao();
        string strCountQuery = dao.TotalCount(param);
        HsCmdCenter.SendApprListCountQuery(groupID, curUserID, strCountQuery);
    }

    public void ApproveSearchData(int pageNum)
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        string strYear = DateTime.Now.ToString("yyyy");
        curFromDay = curFromDay.Replace("YEAR", strYear);
        curToDay = curToDay.Replace("YEAR", strYear);

        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        ApproveParam param = new ApproveParam(curFromDay, curToDay, "", "", "", "", "", curUserID, 5, 1);
        if (sgLoginData.GetSystemPosition())
            param.SystemId = "I001";
        else
            param.SystemId = "E001";

        int nApprTypeSFM = sgLoginData.GetApproveTypeSFM();
        param.APPROVE_TYPE_SFM = nApprTypeSFM.ToString();
        ApproveDao dao = new ApproveDao();
        string strQuery = dao.List(param);
        HsCmdCenter.SendApprListQuery(groupID, curUserID, strQuery);
    }
    public void ApprSearchCount(int groupId, PageEventArgs e)
    {
        if (e.count <= 0)
        {
            DashBoardTransReqCount();
            //StateHasChanged();
            return;
        }

        ApproveSearchData(1);
    }
    public void ApprSearchResult(int groupId, PageEventArgs e)
    {
        int ret = e.result;
        if (ret != 0)
        {
            return;
        }

        approveList.Clear();

        SGApprManageData sgData = null;
        sgData = (SGApprManageData)HsCmdCenter.GetApprManageData(groupId);
        if (sgData == null)
            return;

        List<Dictionary<int, string>> ApprSearchList = null;
        ApprSearchList = sgData.GetQuerySearchData();
        int nCount = ApprSearchList.Count;

        for (int i = 0; i < nCount; i++)
        {
            Dictionary<int, string> dic = ApprSearchList[i];
            if (dic == null)
                continue;

            string tmpStr = "";
            if (dic.TryGetValue(0, out tmpStr) != true)
            {
                if (tmpStr.Equals(""))
                    continue;
            }

            ApproveItem aData = new ApproveItem();
            aData.dispNo = i + 1;
            aData.apvType = sgData.GetApprKind(dic);                       // 결재종류 (선결/후결)
            aData.transKind = sgData.GetTransKind(dic);                 // 전송구분 (반출/반입)
            aData.requestorName = sgData.GetApproveReqUser(dic);           // 승인요청자
            aData.Title = sgData.GetTitle(dic);                            // 제목
            aData.reqDate = sgData.GetQueryTransReqDay(dic);                  // 승인요청일(type : YYYY-MM-DD hh:mm:ss)
            if (!aData.reqDate.Equals(""))
                aData.reqDate = aData.reqDate.Substring(0, 10);
            approveList.Add(aData);
        }

        DashBoardTransReqCount();
        //DashBoardSearchCount();
        //StateHasChanged();
    }

    public void DashBoardSearchCount()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            StateHasChanged();
            return;
        }

        string strUserSeq = sgUserData.GetUserSequence();
        SGQueryExtend sgQueryExtend = new SGQueryExtend();
        string strDate = DateTime.Now.ToString("yyyyMMdd");
        string strQuery = sgQueryExtend.GetDashboardCountQuery(strUserSeq, strDate);
        HsCmdCenter.SendDashBoardCount(groupID, curUserID, strQuery);
    }

    public void DashBoardCountResult(int groupId, PageEventArgs e)
    {
        if (e.result != 0)
        {
            StateHasChanged();
            return;
        }

        string strResultData = e.strMsg;

        string[] strResult = strResultData.Split('\u0001');

        if (strResult.Length < 4)
        {
            StateHasChanged();
            return;
        }

        strTransReqCount = strResult[0];                // 전송요청 카운트
        strApprWaitCount = strResult[1];                // 승인대기 카운트
        strApprCofirmCount = strResult[2];              // 승인 카운트
        strApprRejectCount = strResult[3];              // 반려 카운트

        int nPassWDExpiredDay = 0;
        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupId);
        string strPassWDExpiredDay = sgLoginData.GetPassWDExpiredDay();
        if (!strPassWDExpiredDay.Equals(""))
            nPassWDExpiredDay = Convert.ToInt32(strPassWDExpiredDay);

        if (nPassWDExpiredDay <= 0)
        {
            strPWChgDate = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");      // 사용 안함.
            StateHasChanged();
            return;
        }
        else
            PasswdChgDaySearch();

        //StateHasChanged();
    }

    public void DashBoardTransReqCount()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            DashBoardApprInfoCount("1");    // 1 : 승인대기
            return;
        }

        string strUserSeq = sgUserData.GetUserSequence();
        SGQueryExtend sgQueryExtend = new SGQueryExtend();
        string strDate = DateTime.Now.ToString("yyyy");
        string strQuery = sgQueryExtend.GetDashboardTransReqCountQuery(strUserSeq, strDate);
        HsCmdCenter.SendDashBoardTransReqCount(groupID, curUserID, strQuery);
    }
    public void DashBoardTransReqCountResult(int groupId, PageEventArgs e)
    {
        if (e.result != 0)
        {
            DashBoardApprInfoCount("1");    // 1 : 승인대기
            return;
        }

        strTransReqCount = e.strMsg;
        DashBoardApprInfoCount("1");      // 1 : 승인대기
    }

    public void DashBoardApprInfoCount(string strApprStatus)
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        string strYear = DateTime.Now.ToString("yyyy");
        curFromDay = curFromDay.Replace("YEAR", strYear);
        curToDay = curToDay.Replace("YEAR", strYear);

        ApproveParam param = new ApproveParam(curFromDay, curToDay, "", "", strApprStatus, "", "", curUserID, 5, 1);
        if (sgLoginData.GetSystemPosition())
            param.SystemId = "I001";
        else
            param.SystemId = "E001";

        int nApprTypeSFM = sgLoginData.GetApproveTypeSFM();
        param.APPROVE_TYPE_SFM = nApprTypeSFM.ToString();
        ApproveDao dao = new ApproveDao();
        string strCountQuery = dao.TotalCount(param);

        if (strApprStatus.Equals("1"))                           // 승인대기
        {
            HsCmdCenter.SendDashBoardApprWaitCount(groupID, curUserID, strCountQuery);
        }
        else if (strApprStatus.Equals("2"))                      // 승인
        {
            HsCmdCenter.SendDashBoardApprConfirmCount(groupID, curUserID, strCountQuery);
        }
        else if (strApprStatus.Equals("3"))                      // 반려
        {
            HsCmdCenter.SendDashBoardApprRejectCount(groupID, curUserID, strCountQuery);
        }
        else
        {
            int nPassWDExpiredDay = 0;
            string strPassWDExpiredDay = sgLoginData.GetPassWDExpiredDay();
            if (!strPassWDExpiredDay.Equals(""))
                nPassWDExpiredDay = Convert.ToInt32(strPassWDExpiredDay);

            if (nPassWDExpiredDay <= 0)
            {
                strPWChgDate = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");      // 사용 안함.
                StateHasChanged();
                return;
            }
            else
                PasswdChgDaySearch();
        }
    }
    public void DashBoardApprWaitCountResult(int groupId, PageEventArgs e)
    {
        if (e.result != 0)
        {
            DashBoardApprInfoCount("2");    // 2 : 승인
            return;
        }

        strApprWaitCount = e.strMsg;
        DashBoardApprInfoCount("2");      // 2 : 승인
    }
    public void DashBoardApprConfirmCountResult(int groupId, PageEventArgs e)
    {
        if (e.result != 0)
        {
            DashBoardApprInfoCount("3");    // 3 : 반려
            return;
        }

        strApprCofirmCount = e.strMsg;
        DashBoardApprInfoCount("3");      // 3 : 반려
    }
    public void DashBoardApprRejectCountResult(int groupId, PageEventArgs e)
    {
        if (e.result != 0)
        {
            PasswdChgDaySearch();
            return;
        }

        strApprRejectCount = e.strMsg;

        int nPassWDExpiredDay = 0;
        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupId);
        string strPassWDExpiredDay = sgLoginData.GetPassWDExpiredDay();
        if (!strPassWDExpiredDay.Equals(""))
            nPassWDExpiredDay = Convert.ToInt32(strPassWDExpiredDay);

        if (nPassWDExpiredDay <= 0)
        {
            strPWChgDate = XmlConf.GetTitle("T_INFO_LIMMIT_NOT_USED");      // 사용 안함.
        }

        PasswdChgDaySearch();
    }
    public void PasswdChgDaySearch()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            StateHasChanged();
            //BoardNotifySearch();
            return;
        }

        string strUserSeq = sgUserData.GetUserSequence();
        SGQueryExtend sgQueryExtend = new SGQueryExtend();
        string strQuery = sgQueryExtend.GetPasswdChgDay(strUserSeq);
        HsCmdCenter.SendPasswdChgDay(groupID, curUserID, strQuery);
    }
    public void PasswdChgDaySearchResult(int groupid, PageEventArgs e)
    {
        if (e.result != 0)
        {
            StateHasChanged();
            //BoardNotifySearch();
            return;
        }

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupid);
        if (sgLoginData == null)
        {
            StateHasChanged();
            //BoardNotifySearch();
            return;
        }

        string strPasswdChgDay = e.strMsg;
        strPasswdChgDay = strPasswdChgDay.Replace("\u0001", "");
        int nPassWDExpiredDay = 0;
        string strPassWDExpiredDay = sgLoginData.GetPassWDExpiredDay();
        if (!strPassWDExpiredDay.Equals(""))
            nPassWDExpiredDay = Convert.ToInt32(strPassWDExpiredDay);

        DateTime StartTime;
        DateTime EndTime;
        if (strPasswdChgDay.Equals("00000000"))
        {
            StartTime = DateTime.Now;
        }
        else
        {
            string strYear = strPasswdChgDay.Substring(0, 4);
            string strMonth = strPasswdChgDay.Substring(4, 2);
            string strDay = strPasswdChgDay.Substring(6, 2);
            strPasswdChgDay = String.Format("{0}-{1}-{2}", strYear, strMonth, strDay);
            StartTime = Convert.ToDateTime(strPasswdChgDay);
        }
        EndTime = StartTime.AddDays(nPassWDExpiredDay);
        string strStartDay = StartTime.ToString("yyyy-MM-dd");
        string strEndDay = EndTime.ToString("yyyy-MM-dd");

        strPWChgDate = String.Format("{0} ~ {1}", strStartDay, strEndDay);

        StateHasChanged();
        //BoardNotifySearch();

    }
    /*
    public void BoardNotifySearch()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
        {
            StateHasChanged();
            return;
        }
        string strUserID = sgLoginData.GetUserID();
        SGQueryExtend sgQueryExtend = new SGQueryExtend();
        string strQuery = sgQueryExtend.GetSGNotify(strUserID);
        HsCmdCenter.SendBoardNotiSearch(groupID, strUserID, strQuery);
    }
    public void BoardNotifyResult(int groupid, PageEventArgs e)
    {
        noticeList.Clear();
        SGData sgData = null;
        sgData = HsCmdCenter.GetBoardNoti(groupid);
        if(sgData==null)
        {
            StateHasChanged();
            return;
        }

        string strResultData = sgData.GetBasicTagData("RECORD");

        if(strResultData.Equals(""))
        {
            StateHasChanged();
            return;
        }
        string[] strResult = strResultData.Split('\u0003');

        for(int i=0;i<strResult.Length;i++)
        {
            string[] strSubResult = strResult[i].Split('\u0001');
            BoardItem boardItem = new BoardItem();
            boardItem.ItemType = 3;                                     // 공지사항
            boardItem.Title = strSubResult[1];
            boardItem.RegDate = DateTime.Now.ToString();
            boardItem.IsNew = true;
            noticeList.Add(boardItem);
        }
        StateHasChanged();
    }
    */

    public void AlarmNotiAfter(int groupid)
    {
        alarmList.Clear();
        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupid);
        if (sgUserData == null)
            return;

        string strUserSeq = sgUserData.GetUserSequence();
        int count = 0;
        count = SQLiteDB.SelectAlarmInfoCount(groupid, strUserSeq);
        if (count <= 0)
            return;

        List<SGAlarmData> listSGAlarmData = null;
        listSGAlarmData = SQLiteDB.SelectAlarmInfoLimit(groupid, strUserSeq, 5);
        if (listSGAlarmData.Count <= 0)
            return;

        for (int i = 0; i < listSGAlarmData.Count; i++)
        {
            BoardItem boardItem = new BoardItem();
            boardItem.ItemType = 3;                                     // 공지사항
            boardItem.Title = listSGAlarmData[i].Head;
            if (boardItem.Title.Length > 24)
            {
                boardItem.Title = boardItem.Title.Substring(0, 24);
                boardItem.Title = boardItem.Title + "...";
            }
            boardItem.RegDate = " " + DateTime.Now.ToString("yyyy-MM-dd");
            boardItem.IsNew = true;
            boardItem.strContent = listSGAlarmData[i].Body;
            alarmList.Add(boardItem);
        }
        InitDBInfo();
        StateHasChanged();
    }

    public void BoardNotiAfter(int groupid)
    {
        noticeList.Clear();
        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupid);
        if (sgUserData == null)
            return;

        string strUserSeq = sgUserData.GetUserSequence();
        int count = 0;
        count = SQLiteDB.SelectNotiInfoCount(NOTI_TYPE.SYSTEM, groupid, strUserSeq);
        if (count <= 0)
            return;

        List<SGNotiData> listSGNotiData = null;
        listSGNotiData = SQLiteDB.SelectNotiInfoLimit(NOTI_TYPE.SYSTEM, groupid, strUserSeq, 5);
        if (listSGNotiData.Count <= 0)
            return;

        for (int i = 0; i < listSGNotiData.Count; i++)
        {
            BoardItem boardItem = new BoardItem();
            boardItem.ItemType = 3;                                     // 공지사항
            boardItem.Title = listSGNotiData[i].Head;
            if (boardItem.Title.Length > 24)
            {
                boardItem.Title = boardItem.Title.Substring(0, 24);
                boardItem.Title = boardItem.Title + "...";
            }
            boardItem.RegDate = " " + DateTime.Now.ToString("yyyy-MM-dd");
            boardItem.IsNew = true;
            boardItem.strContent = listSGNotiData[i].Body;
            noticeList.Add(boardItem);
        }
        InitDBInfo();
        StateHasChanged();
    }

    public bool ClientPatch(SGLoginData sgLoginData)
    {
        //return false;
        if (sgLoginData == null)
            return false;
        bool bUpdate = sgLoginData.GetClientUpgrade();
        if (!bUpdate)
            return false;

        string strSvrCliVersion = sgLoginData.GetServClientVersion();
        if (strSvrCliVersion.Equals(""))
            return false;
        strSvrCliVersion = strSvrCliVersion.ToUpper();
        CLog.Here().Information("DashBoard Server Client Version {0}", strSvrCliVersion);

        string strCliVersion = HsCmdCenter.GetCliVersion();
        if (strCliVersion.Equals(""))
            return false;
        strCliVersion = strCliVersion.ToUpper();

        //return true;

        if (String.Compare(strSvrCliVersion, strCliVersion, comparisonType: StringComparison.OrdinalIgnoreCase) > 0)
        {
            return true;
        }
        else
            return false;

    }

    public class transItem
    {
        public int dispNo { get; set; }
        public string apvType { get; set; }    //1:선결, 2:후결
        public string transKind { get; set; }   //1:반출, 2:반입
        public string Title { get; set; }
        public string approverStatus { get; set; }        // 결재 상태
        public string reqDate { get; set; }
        public transItem()
        {
            dispNo = 0;
            apvType = transKind = Title = approverStatus = reqDate;
        }
    }

    public class ApproveItem
    {
        public int dispNo { get; set; }
        public string apvType { get; set; }    //1:선결, 2:후결
        public string transKind { get; set; }   //1:반출, 2:반입
        public string requestorName { get; set; }           // 승인요청자
        public string Title { get; set; }
        public string reqDate { get; set; }
        public ApproveItem()
        {
            dispNo = 0;
            apvType = transKind = requestorName = Title = reqDate;
        }
    }


}
