@using System.Collections.Generic
@using System
@using System.IO
@using System.Threading.Tasks
@using Radzen
@using Radzen.Blazor

<div style="width:100%;height:32vh;border-bottom:1px solid #ddd; padding:0px;overflow:hidden">
        <RadzenTree Change="@OnSelectPath" Data="@entries" Expand="@LoadFiles" Style="width: 100%;height:100%;overflow:auto">
            <RadzenTreeLevel Text="@GetTextForNode" Template="@FileOrFolderTemplate" />
        </RadzenTree>
</div>
<div style="width:100%;height:37vh;padding:1px 1px 1px 0px;overflow:hidden;">
    @if (sgFile != null && sgFile.Count > 0)
    {
        @if (dragLabel > 0)
        { dragLabel = 1; }
        <ol data-draggable="target" style="height:100%;">
            @foreach (SGFileInfo item in sgFile)
            {
            <Draggable Data="@item.Path" Zone="@item.Name" DragLabel="@dragLabel" Type="@item.Name">
                @((MarkupString)(item.Type==1 ? "<i class='fas fa-file' style='color:blue;'></i>" : "<i class='fas fa-folder'></i>"))   @item.getNameStr() @item.getSizeStr()
            </Draggable>
                @if (dragLabel > 0)
                { dragLabel++; }
            }
        </ol>
    }
</div>



@code {
    public int dragLabel = 1;
    public string[] dirs { get; set; }
    IEnumerable<string> entries = null;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();
    public string curDir { get; set; }

    public bool IsVisible { get; set; }
    List<SGFileInfo> sgFile = new List<SGFileInfo>();

    [Parameter]
    public EventCallback<TreeEventArgs> OnSelectPathFromFileTree { get; set; }


    protected override void OnInitialized()
    {
        IsVisible = true;
        //string[] drives = Directory.GetLogicalDrives();
        string[] drives = Directory.GetDirectories(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile));
        if (drives != null && drives.Length > 0)
        {
            //entries = Directory.GetLogicalDrives();
            entries = Directory.GetDirectories(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile));
        }
    }
    void Log(string eventName, string value)
    {
        events.Add(DateTime.Now, $"{eventName}: {value}");
    }

    void OnSelectPath(TreeEventArgs args)
    {
        dragLabel = 1;
        Log("Change", $"Item Text: {args.Text}");
        curDir = args.Text;

        LoadListFiles(args.Value as string);

        OnSelectPathFromFileTree.InvokeAsync(args); //부모컴포넌트에 이벤트 전달
    }

    public void LoadListFiles(string stPath)
    {
        if (sgFile != null && sgFile.Count > 0)
            sgFile.Clear();

        IEnumerable<string> fList = Directory.EnumerateFileSystemEntries(stPath)
            .Where(f => (new System.IO.FileInfo(f).Attributes & (FileAttributes.Hidden | FileAttributes.System)) == 0);

        foreach (string fname in fList)
        {
            System.IO.FileInfo fInfo = new System.IO.FileInfo(fname);
            FileAttributes attr = fInfo.Attributes;
            if ((attr & FileAttributes.Directory) != FileAttributes.Directory)
            {
                SGFileInfo fileEntry = new SGFileInfo();
                fileEntry.Name = fInfo.Name;
                fileEntry.Size = fInfo.Length;
                fileEntry.Path = fInfo.FullName;
                fileEntry.Ext = fInfo.Extension;
                fileEntry.Type = 1;
                sgFile.Add(fileEntry);
            }
            else if((attr & FileAttributes.Directory) == FileAttributes.Directory)
            {
                SGFileInfo fileEntry = new SGFileInfo();
                fileEntry.Name = fInfo.Name;
                fileEntry.Size = 0;
                fileEntry.Path = fInfo.FullName;
                fileEntry.Ext = "";
                fileEntry.Type = 2;
                sgFile.Add(fileEntry);
            }

        }
    }

    void LoadFiles(TreeExpandEventArgs args)
    {
        try
        {
            var directory = args.Value as string;

            //args.Children.Data = Directory.EnumerateFileSystemEntries(directory)
            //    .Where(f => (new System.IO.FileInfo(f).Attributes & (FileAttributes.Hidden | FileAttributes.System) ) == 0);

            args.Children.Data = Directory.EnumerateDirectories(directory)
                .Where(f => (new System.IO.FileInfo(f).Attributes & (FileAttributes.Hidden | FileAttributes.System)) == 0);

            args.Children.Text = GetTextForNode;
            args.Children.HasChildren = (path) => Directory.Exists((string)path);
            args.Children.Template = FileOrFolderTemplate;

            Log("Expand", $"Text: {args.Text}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
    string GetTextForNode(object data)
    {
        string name = Path.GetFileName((string)data);
        //Console.WriteLine("FileName : " + name);
        if (name == null || name.Length < 1)
        {
            if((data as string).Length >= 2) name = data.ToString().Substring(0, 2);
        }
        return name;
    }

    RenderFragment<RadzenTreeItem> FileOrFolderTemplate = (context) => builder =>
    {
        string path = context.Value as string;
        bool isDirectory = Directory.Exists(path);

        builder.OpenComponent<RadzenIcon>(0);
        builder.AddAttribute(1, "Icon", isDirectory ? "folder" : "insert_drive_file");

        if (!isDirectory)
        {
            builder.AddAttribute(2, "Style", "margin-left: 24px");
        }
        builder.CloseComponent();
        builder.AddContent(3, context.Text);
    };

    public class SGFileInfo
    {
        public string Name { get; set; }
        public string Path { get; set; }
        public long Size { get; set; }
        public string Ext { get; set; }
        public int Type { get; set; }       //1:파일 2:디렉토리 

        public string getSizeStr()
        {
            string rtn = "";
            if( Size == 0)
            {
                rtn = "";
            }
            if (Size > 1024 * 1024 * 1024)
            {
                float nSize = (float)Size / (1024 * 1024 * 1024);
                rtn = "(" + nSize.ToString("####0.0") + "GB" + ")";
            }
            else if (Size > 1024 * 1024)
            {
                float nSize = (float)Size / (1024 * 1024);
                rtn = "(" + nSize.ToString("####0.0") + "MB" + ")";
            }
            else if (Size > 1024)
            {
                float nSize = (float)Size / (1024);
                rtn = "(" + nSize.ToString("####0.0") + "KB" + ")";
            }
            else if(Size > 0)
                rtn = Size + " Byte";
            return rtn;
        }
        public string getNameStr()
        {
            if (Name.Length < 20)
                return Name;
            else
                return Name.Substring(0, 19);
        }

        public SGFileInfo() { }
        public SGFileInfo(string path, string name, int age, long size)
        {
            Name = name;
            Path = path;
            Size = size;
        }
    }
}
