@page "/transferApprove"
@using OpenNetLinkApp.Components.Grid
@inject IJSRuntime jsRuntime

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">결재관리</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">결재관리</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- S file content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-12 col-sm-6 col-md-12">

                <div class="card card-primary card-outline mb-2 ">
                    <div class="card-body">


                        <table>
                            <colgroup>
                                <col width="*">
                                <col width="300px">
                                <col width="*">
                                <col width="120px">


                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="150px">
                            </colgroup>
                            <tr>
                                <th class="p-2">기간</th>
                                <td>
                                    <input type="text" class="form-control col-md-5 float-left" id="datepicker" readonly value="2020-06-24">
                                    <span class="float-left col-md-1">-</span>
                                    <input type="text" class="form-control col-md-5 float-left" id="datepicker2" readonly value="2020-06-26">
                                </td>
                                <th class="p-2"> 결재종류 </th>
                                <td>
                                    <select class="form-control" style="width:100px;">
                                        <option> 전체</option>
                                        <option> 선결</option>
                                        <option> 후결</option>
                                    </select>
                                </td>
                                <th class="p-2"> 전송구분 </th>
                                <td>
                                    <select class="form-control" style="width:100px;">
                                        <option> 전체</option>
                                        <option> 반입</option>
                                        <option> 반출</option>
                                    </select>
                                </td>
                                <th class="p-2"> 승인상태 </th>
                                <td>
                                    <select class="form-control" style="width:100px;">
                                        <option> 전체</option>
                                        <option> 승인</option>
                                        <option> 승인대기</option>
                                        <option> 반려</option>
                                        <option> 요청취소</option>
                                    </select>
                                </td>
                                <th class="p-2"> 승인요청자 </th>
                                <td>
                                    <input type="text" class="form-control" placeholder="승인요청자">
                                </td>
                            </tr>

                            <tr>
                                <th class="p-2 pt-2"> 제목 </th>
                                <td class="pt-2" colspan="9"><input type="text" class="form-control" placeholder="제목을 입력해 주세요."></td>
                            </tr>
                        </table>

                    </div>



                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-md bg-gradient-secondary">조회</button>
                    <button type="button" class="btn btn-md bg-gradient-primary">결재승인</button>
                    <button type="button" class="btn btn-md bg-gradient-info">결재반려</button>
                </div>
            </div>
        </div>

        <!-- list -->

        <div class="row">



            <div class="col-md-12">
                <div class="card card-secondary card-outline" style="height:100%;">


                    <form class="form-horizontal">

                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input class="input" type="checkbox">
                                        </th>
                                        <th style="text-align:center">결재종류</th>
                                        <th style="text-align:center">전송구분</th>
                                        <th style="text-align:center">승인요청자</th>
                                        <th style="text-align:center">승인상태</th>
                                        <th style="text-align:center">파일전달</th>
                                        <th style="text-align:center">제목</th>
                                        <th style="text-align:center">승인요청일</th>
                                        <th style="text-align:center">승인일</th>
                                        <th style="text-align:center">상세보기</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (approveData item in mData)
                                    {
                                        <tr>
                                            <td>
                                                <input class="input" type="checkbox">
                                            </td>
                                            <td>@item.ApvType</td>
                                            <td>@item.TransferType</td>
                                            <td>@item.RequesterName</td>
                                            <td>@item.ApvStatus</td>
                                            <td>@item.IsFile</td>
                                            <td>@item.Title</td>
                                            <td>@item.RequestTime</td>
                                            <td>@item.ApvTime</td>
                                            <td><button type="button" class="btn btn-block btn-outline-primary btn-xs" @onclick="@(e=>OpenDetail(item.TransSeq))">상세보기</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                            <!--S page -->


                            <div style="padding-top:1.25rem;">
                                <div style="float:left;">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">총페이지 : @nViewPageNo/@nTotalPages</div>
                                </div>
                                <Pagenator ViewPageCount="@viewPageCount" DispLimit=@dispLimit NViewPageNo="@nViewPageNo"
                                           NTotalPages="@nTotalPages" NStartPage="@nStartPage"
                                           UpdateListPagingInvoke="UpdateList"></Pagenator>
                            </div>


                            <!--/.S page -->


                        </div>






                        <!--footer test-->
                        <div class="card-footer" style="padding:.5rem 1.25rem !important; font-size:.8rem !important;">
                            <div style="float:left; width:50%;">
                                <div class="dataTable_info" id="example2_info" role="status" aria-live="polite">
                                    <span><i class="fas fa-globe"></i>&nbsp;URL 자동전환 사용</span>
                                </div>
                            </div>

                            <div style="float:right; width:auto;">

                                <ul class="pagination pagination-sm m-0 ">
                                    <li>남은 일일 파일전송 : </li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label" />15,000 MB </li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label" />10240 건 </li>
                                </ul>

                            </div>

                        </div>
                        <!--./footer test-->
                        <!-- /.card-footer -->


                    </form>

                    <!-- /.card-body -->
                </div>
            </div>

        </div>

        <!--/.list -->
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /S. file content -->

<ApprovePopUp @ref="refApprovePopUp"></ApprovePopUp>

@code {
    ApprovePopUp refApprovePopUp;
    public int TotalCount { get; set; }
    public List<approveData> mData = new List<approveData>();
    private int nPageListCount = 10;    //리스트에 뿌려질 단위갯수
    private int nViewPageNo = 0;
    private int nTotalPages = 1;
    private int viewPageCount = 10;  //pageing 에 뿌려질 앵커갯수
    private int nStartPage = 1;
    private int dispLimit = 1;

    private void UpdateList(int pageNumber)
    {
        nViewPageNo = pageNumber + 1;
        mData = ListData.Skip(pageNumber * nPageListCount).Take(nPageListCount).ToList();
    }

    //원데이타라고 가정함
    public List<approveData> ListData = new List<approveData>();

    public async Task OpenDetail(long transSeq)
    {
        await refApprovePopUp.openPopUp(transSeq);
    }
    protected override void OnInitialized()
    {
        ListData.Add(new approveData(1, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩1", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(2, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩2", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(3, "후결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩3", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(4, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩4", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(5, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩5", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(6, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩6", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(7, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩7", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(8, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩8", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(9, "후결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩9", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(10, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩10", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(11, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩11", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(12, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩12", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(13, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩13", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(14, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩14", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(15, "후결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩15", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(16, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩16", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(17, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩17", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(18, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩18", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(19, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩19", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(20, "후결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩20", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(21, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩21", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(22, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩22", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(23, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩23", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(24, "선결", "반출", "김무개 과장", "승인대기", "사용", "자료전송 포워딩24", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));
        ListData.Add(new approveData(25, "선결", "반출", "아무개 과장", "승인대기", "사용", "자료전송 포워딩25", "2020/04/01 10:11:12", "2020/04/01 10:11:12"));

        TotalCount = ListData.Count;
        UpdateList(0);
        //페이징 계산
        dispLimit = 1;
        nTotalPages = (int)TotalCount / nPageListCount;
        if (TotalCount % nPageListCount > 0)
            nTotalPages++;
        nStartPage = nViewPageNo - (int)viewPageCount / 2;
        if (nStartPage < 1)
            nStartPage = 1;


        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initApproveUI");
        }
        base.OnAfterRender(firstRender);
    }

    public class approveData
    {
        public long TransSeq { get; set; }
        public string ApvType { get; set; }
        public string TransferType { get; set; }
        public string RequesterName { get; set; }
        public string ApvStatus { get; set; }
        public string IsFile { get; set; }
        public string Title { get; set; }
        public string RequestTime { get; set; }
        public string ApvTime { get; set; }

        public approveData(long seq, string apvtype, string transfertype, string reqname, string apvstatus, string isfile, string title, string reqtime, string apvtime)
        {
            TransSeq = seq;
            ApvType = apvtype;
            TransferType = transfertype;
            RequesterName = reqname;
            ApvStatus = apvstatus;
            IsFile = isfile;
            Title = title;
            RequestTime = reqtime;
            ApvTime = apvtime;
        }
    }
}
