@using OpenNetLinkApp.Services
@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf

<div class="modal fade" id="ApprovePopUp">
    <div class="modal-dialog modal-dialog-top" style="vertical-align:top;">
        <div class="modal-content">
            <div class="modal-header modal-outline">
                <h5 class="modal-title pt-1 text-bold">@strApprDetailTitle</h5> <!--결재상세보기-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->

                <div class="card-body pt-0">
                    <div class="modal-sub-title mb-2">@strApprCategory</div> <!--결재내역-->
                    <table class="table table-bordered blue">
                        <colgroup>


                            <col width="10%">
                            <col width="11%">
                            <col width="10%">
                            <col width="13%">
                            <col width="11%">
                            <col width="15%">
                            <col width="11%">
                            <col width="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>@strTransKind </th> <!--전송구분-->
                                <td>반출</td>
                                <th>@strTransStatus</th>  <!--전송상태-->
                                <td>전송대기</td>

                                <th>@strFilePos</th>  <!--파일위치-->
                                <td>업무망서버</td>
                                <th>@strReciver</th>    <!--수신자-->
                                <td>
                                    <div class="col-md-10 float-left pl-0 pr-0">KS0005 외 1명</div>
                                    <!-- dropdown ----------------------------------------------- -->

                                    <div class="navbar-nav ml-auto txte-right">
                                        <!-- Messages Dropdown Menu -->
                                        <div class="nav-item dropdown show">
                                            <a class="nav-link p-0" data-toggle="dropdown" href="#" aria-expanded="true">
                                                <i class="fas fa-list-alt fa-lg"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style=" right:0px; height:90px; overflow-y:scroll;">
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">이란숙</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">차장</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">컨설팅지원팀</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>

                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">문호원</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">이사</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">사업본부지원</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>

                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">김영산</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">본부장</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">사업본부장</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>


                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">김영산</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">본부장</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">사업본부장</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>

                                            </div>
                                        </div>

                                        <!-- /. dropdown ----------------------------------------------- -->
                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <th>@strApprKind</th>  <!--승인구분-->
                                <td>선결</td>
                                <th>@strApprStatus</th>  <!--승인상태-->
                                <td>승인대기</td>

                                <th>@strRequester</th>  <!--승인요청자-->
                                <td>KS0005 과장</td>
                                <th>@strReqday</th>  <!--승인요청일-->
                                <td>2020-04-01 10:12:12</td>
                            </tr>

                            <tr>
                                <th>@strTitle</th>       <!--제목-->
                                <td colspan="7">파일 포워딩 테스트</td>
                            </tr>

                            <tr>
                                <th>@strDesc</th>            <!--설명-->
                                <td colspan="7">
                                    파일 포워딩 테스트 파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트
                                    파일 포워딩 테스트 파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트파일 포워딩 테스트
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="card-body pt-0 pb-0">
                    <div class="modal-sub-title mb-2"> @strFileInfo </div>      <!--파일정보-->
                    <div class="col-md-12">
                        <div class="float-left mt-2">
                            <i class="fas fa-lightbulb fa-1x"></i>&nbsp;&nbsp;
                            @strPrevInfo1 &nbsp;&nbsp; @strPrevInfo2
                        </div>
                        <!--
                        <div class="float-left mt-2">
                            <i class="fas fa-lightbulb fa-1x"></i>&nbsp;&nbsp;
                            업무망에 접속되어 있습니다. &nbsp;&nbsp;반출파일만 파일미리보기가 가능합니다.
                        </div>
                        -->
                        <div class="float-right mb-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="fas fa-eye fa-lg"></i>&nbsp;&nbsp;@strFilePrev </button>   <!--파일미리보기-->
                        </div>
                    </div>


                    <table class="table table-head-fixed table-bordered table-hover white">
                        <colgroup>
                            <col width="80px">
                            <col width="">
                            <col width="">
                            <col width="">

                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>@strFileName </th>           <!--파일명-->
                                <th>@strFileType </th>             <!--유형-->
                                <th>@strFileSize </th>             <!--크기-->
                                <th>@strFolder </th>             <!--폴더-->
                                <th>@strVirusHist </th>     <!--바이러스내역-->
                                <th>@strVirusCheckDate </th>     <!--바이러스검사-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>cur_clip.bmp</td>
                                <td>BMP 파일</td>
                                <td>1,347KB</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>cur_clip.bmp</td>
                                <td>BMP 파일</td>
                                <td>1,347KB</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>cur_clip.bmp</td>
                                <td>BMP 파일</td>
                                <td>1,347KB</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>cur_clip.bmp</td>
                                <td>BMP 파일</td>
                                <td>1,347KB</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>cur_clip.bmp</td>
                                <td>BMP 파일</td>
                                <td>1,347KB</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>cur_clip.bmp</td>
                                <td>BMP 파일</td>
                                <td>1,347KB</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>





                </div>





                <div class="card-body pb-0">
                    <div class="modal-sub-title mb-2"> @strApproveInfo </div>              <!--결재자정보-->
                    <table class="table table-bordered blue">
                        <colgroup>
                            <col width="10%">
                            <col width="15%">
                            <col width="10%">
                            <col width="15%">
                            <col width="10%">
                            <col width="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>@strApprover</th>                     <!--승인자-->
                                <td>KS0003 차장</td>
                                <th>@strApproveStatus </th>                   <!--승인상태-->
                                <td>전송대기</td>
                                <th>@strApproveday </th>                     <!--승인일-->
                                <td>2020-04-01 10:13:18</td>

                            </tr>
                            <tr>
                                <th>@strRejectReason </th>                    <!--반려사유-->
                                <td colspan="5">
                                    파일 포워딩 테스트
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>


                <!--/. content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md bg-gradient-primary"><i class="fas fa-check-circle pr-2"></i>@strApprove</button>                                  <!--승인-->
                <button type="button" class="btn bg-gradient-danger mr-0 w-15"><i class="fas fa-times-circle pr-2"></i>@strReject</button>                                <!--반려-->
                <button type="button" class="btn bg-gradient-secondary mr-0 w-15" @onclick="closePopUp"><i class="fas fa-times-circle pr-2"></i>@strClose</button>      <!--닫기-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {

    public string strApprDetailTitle = "";
    public string strApprCategory = "";
    public string strTransKind = "";
    public string strTransStatus = "";
    public string strFilePos = "";
    public string strReciver = "";
    public string strApprKind = "";
    public string strApprStatus = "";
    public string strRequester = "";
    public string strReqday = "";
    public string strFilePrev = "";
    public string strTitle = "";
    public string strDesc = "";
    public string strFileInfo = "";
    public string strPrevInfo1 = "";
    public string strPrevInfo2 = "";
    public string strFileName = "";
    public string strFileType = "";
    public string strFileSize = "";
    public string strFolder = "";
    public string strVirusHist = "";
    public string strVirusCheckDate = "";
    public string strApproveInfo = "";
    public string strApprove = "";
    public string strReject = "";
    public string strApprover = "";
    public string strApproveStatus = "";
    public string strApproveday = "";
    public string strRejectReason = "";
    public string strClose = "";

    public async Task openPopUp(long seq)
    {
        object[] param = { "ApprovePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "ApprovePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    protected override void OnInitialized()
    {
        InitText();
    }
    public void InitText()
    {
        strApprDetailTitle = XmlConf.GetTitle("T_APPROVE_DETAIL");              // 결재 상세보기
        strApprCategory = XmlConf.GetTitle("T_DETAIL_APPROVE_CATEGORY");        // 결재내역
        strTransKind = XmlConf.GetTitle("T_COMMON_TRANSKIND");                  // 전송구분 
        strTransStatus = XmlConf.GetTitle("T_TRANS_STATUS");                    // 전송상태 
        strFilePos = XmlConf.GetTitle("T_DETAIL_FILEPOS");                      // 파일위치 
        strReciver = XmlConf.GetTitle("T_ETC_RECIVER");                         // 수신자 
        strApprKind = XmlConf.GetTitle("T_COMMON_APPROVEKIND");                 // 승인구분 
        strApprStatus = XmlConf.GetTitle("T_COMMON_APPROVESTATUS");             // 승인상태 
        strRequester = XmlConf.GetTitle("T_COMMON_REQUESTER");                  // 승인요청자       
        strReqday = XmlConf.GetTitle("T_DETAIL_REQDAY");                        // 승인요청일 
        strTitle = XmlConf.GetTitle("T_DETAIL_TITLE");                          // 제목
        strFileInfo = XmlConf.GetTitle("T_DETAIL_FILEINFO");                    // 파일정보
        strFilePrev = XmlConf.GetTitle("T_DETAIL_FILEPREVIEW");                 // 파일미리보기
        strDesc = XmlConf.GetTitle("T_DETAIL_DESC");                            // 설명
        strPrevInfo1 = XmlConf.GetWarnMsg("W_0237");                            // 업무망에 접속되어 있습니다.
        strPrevInfo2 = XmlConf.GetWarnMsg("W_0238");                            // 반출파일만 파일미리보기가 가능합니다.
        //strPrevInfo = XmlConf.GetWarnMsg("W_0077");                             // &nbsp;&nbsp;업무망에 접속되어 있습니다. &nbsp;&nbsp;반출파일만 파일미리보기가 가능합니다.
        strFileName = XmlConf.GetTitle("T_COMMON_FILENAME");                    // 파일명
        strFileType = XmlConf.GetTitle("T_COMMON_KIND");                        // 유형
        strFileSize = XmlConf.GetTitle("T_COMMON_SIZE");                        // 크기
        strFolder = XmlConf.GetTitle("T_COMMON_FOLDER");                        // 폴더
        strVirusHist = XmlConf.GetTitle("T_DETAIL_VIRUSHIST");                  // 바이러스 내역
        strVirusCheckDate = XmlConf.GetTitle("T_DETAIL_VIRUSCHECKDATE");        // 바이러스 검사일
        strApproveInfo = XmlConf.GetTitle("T_DETAIL_APPROVEINFO");              // 결재자정보 
        strApprove = XmlConf.GetTitle("T_COMMON_APPROVE");                      // 승인
        strReject = XmlConf.GetTitle("T_COMMON_REJECTION");                     // 반려
        strApprover = XmlConf.GetTitle("T_DETAIL_APPROVEUSER");                 // 승인자
        strApproveStatus = XmlConf.GetTitle("T_COMMON_APPROVESTATUS");          // 승인상태
        strApproveday = XmlConf.GetTitle("T_COMMON_APPROVEDATE");               // 승인일
        strRejectReason = XmlConf.GetTitle("T_APPROVE_APRROVEREASON");          // 반려사유
        strClose = XmlConf.GetTitle("T_FILE_FOLD");                             // 닫기          
    }
}
