@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using System.IO
@using System.Threading.Tasks
@using Radzen
@using Radzen.Blazor

<div class="modal fade" id="ApproverSelect_TreePopUp">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-outline pl-3 pr-3">
                <h5 class="modal-title pt-1 text-bold ">결재자 조회</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->
                <!-- s------------------------------------------------------------------------------------------------------  -->

                <div class="card-body p-0">


                    <!--s table -->
                    <div class="box1" style=" width:46%;  float:left;">


                        <div class="card-body  p-0" style="height:368px; border:1px solid #ddd; background-color:#fff;">

                            <div class="table-responsive  p-2" style="height:185px;">
                                <RadzenTree Change="@OnSelectDept" Data="@entries" Expand="@LoadDepts" Style="width: 98%;height:95%;overflow:auto">
                                    <RadzenTreeLevel Text="@GetTextForNode" Template="@DeptTemplate" />
                                </RadzenTree>
                            </div>
                            <div class="card-body table-responsive p-0" style="height:181px; border:1px solid #ddd; background-color:#fff;">
                                <table class="table table-head-fixed">
                                    <colgroup>
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>순번 </th>
                                            <th>부서 </th>
                                            <th>직급 </th>
                                            <th>이름 </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ApproverInfo2 item in ApproverSearch)
                                        {
                                            <tr name="trItem2" draggable="false" data-draggable="tritem" aria-grabbed="false" value="@item.Index">
                                                <td>@item.Index</td>
                                                <td>@item.DeptName</td>
                                                <td>@item.Grade</td>
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>





                        </div>



                    </div>
                    <!--e table -->
                    <!--s btn -->
                    <div class="box2" style=" width:8%; height:300px; float:left;">
                        <div class="col-md-12 text-center" style="top:45% !important;">
                            <button type="button" class="btn bg-gradient-primary mb-3" @onclick="AddSelectApprover"><i class="fas fa-angle-right fa-2x"></i></button>
                            <button type="button" class="btn bg-gradient-primary" @onclick="RemoveAssignApprover"><i class="fas fa-angle-left fa-2x"></i></button>
                        </div>
                    </div>
                    <!--e btn -->
                    <!--s table -->
                    <div class="box1" style="width:46%;  float:left;">
                        <div class="btn-group w-100 mb-2 ">
                            <button type="button" class="btn bg-gradient-secondary mr-1" @onclick="moveToTop"><i class="fas fa-angle-double-up pr-2"></i>맨위</button>
                            <button type="button" class="btn bg-gradient-secondary mr-1" @onclick="moveToUpper"><i class="fas fa-arrow-up pr-1"></i>위</button>
                            <button type="button" class="btn bg-gradient-secondary mr-1" @onclick="moveToLower"><i class="fas fa-arrow-down pr-1"></i>아래</button>
                            <button type="button" class="btn bg-gradient-secondary" @onclick="moveToBottom"><i class="fas fa-angle-double-down pr-2"></i>맨아래</button>
                        </div>

                        <div class="card-body table-responsive p-0" style="height:331px; border:1px solid #ddd; background-color:#fff;">
                            <table class="table table-head-fixed">
                                <colgroup>
                                    <col width="">
                                    <col width="">
                                    <col width="">
                                    <col width="">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>순번 </th>
                                        <th>부서 </th>
                                        <th>직급 </th>
                                        <th>이름 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ApproverInfo2 item in ApproverSelect)
                                    {
                                        <tr name="trSelect2" draggable="false" data-draggable="tritem" aria-grabbed="@(item.Index == stTargetSelect ? "true" : "false")" value="@item.Index">
                                            <td>@item.Index</td>
                                            <td>@item.DeptName</td>
                                            <td>@item.Grade</td>
                                            <td>@item.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>
                    <!--e table -->




                </div>












                <!--/. content -->
            </div>

            <!-- e------------------------------------------------------------------------------------------------------  -->

            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-info mr-0 pl-5 pr-5" @onclick="closePopUp"><i class="fas fa-check pr-1"></i>확인</button>
                <button type="button" class="btn bg-gradient-secondary mr-0 pl-5 pr-5" @onclick="closePopUp"><i class="fas fa-times pr-1"></i>닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@code {
    IEnumerable<ApvDeptInfo> entries = null;
    private LinkedList<ApproverInfo2> ApproverSearch = new LinkedList<ApproverInfo2>();
    private LinkedList<ApproverInfo2> ApproverSelect = new LinkedList<ApproverInfo2>();
    private string stSelectApprover = "";
    private string stTargetSelect = "";
    private static Action<string> actionAssign;
    private static Action<string> actionTargetSelect;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    public async Task openPopUp()
    {
        object[] param = { "ApproverSelect_TreePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "ApproverSelect_TreePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private void AddSelectApprover()
    {
        if (stSelectApprover.Length < 1)
            return;
        ApproverInfo2 apv = ApproverSearch.FirstOrDefault(x => x.Index == stSelectApprover);
        if (apv != null)
        {
            ApproverInfo2 apvAsign = ApproverSelect.FirstOrDefault(x => x.Index == stSelectApprover);
            if (apvAsign == null)
                ApproverSelect.AddLast(apv);
        }
    }
    private void RemoveAssignApprover()
    {
        ApproverInfo2 apvTarget = ApproverSelect.FirstOrDefault(x => x.Index == stTargetSelect);
        if (apvTarget != null)
            ApproverSelect.Remove(apvTarget);
    }
    private void moveToTop()
    {
        JSRuntime.InvokeAsync<object>("adjustTargetSelection");
        ApproverInfo2 apvTarget = ApproverSelect.FirstOrDefault(x => x.Index == stTargetSelect);
        if (apvTarget != null)
        {
            ApproverSelect.Remove(apvTarget);
            ApproverSelect.AddFirst(apvTarget);
        }
    }
    private void moveToUpper()
    {
        ApproverInfo2 apvTarget = ApproverSelect.FirstOrDefault(x => x.Index == stTargetSelect);

        if (apvTarget != null)
        {
            //현재값으 앞에값을 구하기
            LinkedListNode<ApproverInfo2> current;
            LinkedListNode<ApproverInfo2> next;
            current = ApproverSelect.First;
            if (current.Value.Index == stTargetSelect)
            {
                return;
            }

            for (int i = 0; i < ApproverSelect.Count; i++)
            {
                next = current.Next;
                if (next.Value.Index == stTargetSelect)
                {
                    ApproverSelect.Remove(apvTarget);
                    ApproverSelect.AddBefore(current, apvTarget);
                    break;
                }
                else
                {
                    current = current.Next;
                }
            }
        }
        JSRuntime.InvokeAsync<object>("adjustTargetSelection");
    }
    private void moveToLower()
    {
        ApproverInfo2 apvTarget = ApproverSelect.FirstOrDefault(x => x.Index == stTargetSelect);

        if (apvTarget != null)
        {
            //현재값으 앞에값을 구하기
            LinkedListNode<ApproverInfo2> current;
            LinkedListNode<ApproverInfo2> next;
            LinkedListNode<ApproverInfo2> last;
            current = ApproverSelect.First;
            last = ApproverSelect.Last;
            if (last.Value.Index == stTargetSelect)
            {
                return;
            }

            for (int i = 0; i < ApproverSelect.Count; i++)
            {
                next = current.Next;
                if (current.Value.Index == stTargetSelect)
                {
                    ApproverSelect.Remove(apvTarget);
                    ApproverSelect.AddAfter(next, apvTarget);
                    break;
                }
                else
                {
                    current = current.Next;
                }
            }
        }
        JSRuntime.InvokeAsync<object>("adjustTargetSelection");
    }
    private void moveToBottom()
    {
        JSRuntime.InvokeAsync<object>("adjustTargetSelection");

        ApproverInfo2 apvTarget = ApproverSelect.FirstOrDefault(x => x.Index == stTargetSelect);
        if (apvTarget != null)
        {
            ApproverSelect.Remove(apvTarget);
            ApproverSelect.AddLast(apvTarget);
        }
    }
    void LoadDepts(TreeExpandEventArgs args)
    {
        try
        {
            var Seq = ((ApvDeptInfo)args.Value).deptSeq as string;
            List<ApvDeptInfo> childDept = new List<ApvDeptInfo>();
            childDept.Add(new ApvDeptInfo("0001", "1부서"));
            childDept.Add(new ApvDeptInfo("0001", "2부서"));
            childDept.Add(new ApvDeptInfo("0001", "3부서"));
            childDept.Add(new ApvDeptInfo("0001", "4부서"));

            args.Children.Data = childDept;
            //args.Children.Data = Directory.EnumerateDirectories(directory)
            //.Where(f => (new System.IO.FileInfo(f).Attributes & (FileAttributes.Hidden | FileAttributes.System)) == 0);

            args.Children.Text = GetTextForNode;
            //args.Children.HasChildren = (path) => Directory.Exists((string)path);
            args.Children.HasChildren = (path) => true;
            args.Children.Template = DeptTemplate;

            Log("Expand", $"Text: {args.Text}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
    string GetTextForNode(object data)
    {
        ApvDeptInfo dept = (ApvDeptInfo)data;
        return dept.deptName;
    }

    [JSInvokable("ApproverTargetSelect2")]
    public static void ApproverTargetSelect2(string value)
    {
        actionTargetSelect.Invoke(value);
    }
    private void SelectTarget(string value)
    {
        stTargetSelect = value;
    }

    [JSInvokable("ApproverSearchSelect2")]
    public static void ApproverSearchSelect2(string value)
    {
        actionAssign.Invoke(value);
    }

    private void AssignApprover(string value)
    {
        stSelectApprover = value;
    }


    RenderFragment<RadzenTreeItem> DeptTemplate = (context) => builder =>
    {
        string path = context.Value as string;
        //bool isDirectory = Directory.Exists(path);
        bool isDirectory = true;

        builder.OpenComponent<RadzenIcon>(0);
        builder.AddAttribute(1, "Icon", isDirectory ? "folder" : "insert_drive_file");

        if (!isDirectory)
        {
            builder.AddAttribute(2, "Style", "margin-left: 24px");
        }
        builder.CloseComponent();
        builder.AddContent(3, context.Text);
    };

    void OnSelectDept(TreeEventArgs args)
    {
        Log("Change", $"Item Text: {args.Text}");
        //curDir = args.Text;
        //LoadApproverList(args.Value as string);
        //OnSelectPathFromFileTree.InvokeAsync(args); //부모컴포넌트에 이벤트 전달
    }
    void Log(string eventName, string value)
    {
        events.Add(DateTime.Now, $"{eventName}: {value}");
    }

    protected override void OnInitialized()
    {
        List<ApvDeptInfo> initDept = new List<ApvDeptInfo>();
        initDept.Add(new ApvDeptInfo("0001", "한싹시스템"));
        initDept.Add(new ApvDeptInfo("0001", "둘싹시스템"));
        initDept.Add(new ApvDeptInfo("0001", "세싹시스템"));
        initDept.Add(new ApvDeptInfo("0001", "네싹시스템"));
        entries = initDept;

        actionAssign = AssignApprover;
        actionTargetSelect = SelectTarget;

        ApproverSearch.AddLast(new ApproverInfo2("001", "개발3팀", "사원", "1번님"));
        ApproverSearch.AddLast(new ApproverInfo2("002", "개발3팀", "사원", "2번님"));
        ApproverSearch.AddLast(new ApproverInfo2("003", "개발3팀", "사원", "3번님"));
        ApproverSearch.AddLast(new ApproverInfo2("004", "개발3팀", "사원", "4번님"));
        ApproverSearch.AddLast(new ApproverInfo2("005", "개발3팀", "사원", "5번님"));
        ApproverSearch.AddLast(new ApproverInfo2("006", "개발3팀", "사원", "6번님"));
        ApproverSearch.AddLast(new ApproverInfo2("007", "개발3팀", "사원", "7번님"));
        ApproverSearch.AddLast(new ApproverInfo2("008", "개발3팀", "사원", "8번님"));
        ApproverSearch.AddLast(new ApproverInfo2("009", "개발3팀", "사원", "9번님"));
        ApproverSearch.AddLast(new ApproverInfo2("010", "개발3팀", "사원", "10번님"));
        ApproverSearch.AddLast(new ApproverInfo2("011", "개발3팀", "사원", "11번님"));
        ApproverSearch.AddLast(new ApproverInfo2("012", "개발3팀", "사원", "12번님"));
        ApproverSearch.AddLast(new ApproverInfo2("013", "개발3팀", "사원", "13번님"));
        ApproverSearch.AddLast(new ApproverInfo2("014", "개발3팀", "사원", "14번님"));
        ApproverSearch.AddLast(new ApproverInfo2("015", "개발3팀", "사원", "15번님"));
        ApproverSearch.AddLast(new ApproverInfo2("016", "개발3팀", "사원", "16번님"));
        ApproverSearch.AddLast(new ApproverInfo2("018", "개발3팀", "사원", "17번님"));
        ApproverSearch.AddLast(new ApproverInfo2("019", "개발3팀", "사원", "17번님"));

        ApproverSelect.AddLast(new ApproverInfo2("000", "개발3팀", "사원", "0번님"));
    }

    public class ApvDeptInfo
    {
        public ApvDeptInfo(string deptseq, string deptname)
        {
            deptSeq = deptseq;
            deptName = deptname;
        }
        public string deptSeq { get; set; }
        public string deptName { get; set; }
    }


    public class ApproverInfo2
    {
        public ApproverInfo2(string index, string deptname, string grade, string name)
        {
            Index = index;
            DeptName = deptname;
            Grade = grade;
            Name = name;
        }

        public string Index { get; set; }
        public string DeptName { get; set; }
        public string Grade { get; set; }
        public string Name { get; set; }
    }
}