@inject IJSRuntime JSRuntime
@using System.Collections.Generic
@using System.IO
@using System.Threading.Tasks
@using HsNetWorkSG
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.Data.SGSettings
@using OpenNetLinkApp.Models.SGSettings
@using OpenNetLinkApp.PageEvent
@using Radzen
@using Radzen.Blazor
@using OpenNetLinkApp.Services
@inject XmlConfService XmlConf
@inject HSCmdCenter HsCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject PageStatusService pageService

<div class="modal fade" id="ApproverSelect_TreePopUp">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-outline pl-3 pr-3">
                <h5 class="modal-title pt-1 text-bold ">@strApproverSearch</h5>                                 <!--결재자 조회-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="closePopUp">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->
                <!-- s------------------------------------------------------------------------------------------------------  -->

                <div class="card-body p-0">


                    <!--s table -->
                    <div class="box1" style=" width:46%;  float:left;">
                        @*<div class="card-body  p-0" style="height:368px; border:1px solid #ddd; background-color:#fff;">*@
                        <div class="card-body  p-0" style="height:368px;">

                            <div class="table-responsive p-1 mb-2" style="height:185px;border:1px solid #ddd; background-color:#fff;">
                                <RadzenTree Change="@OnSelectDept" Data="@deptTreeInfoValues" Style="width: 98%;height:95%;overflow:auto">
                                    @*<RadzenTreeLevel TextProperty="DeptName" ChildrenProperty="ChildrenInfo" Expanded="@(data => (data as DeptTreeInfo).IsExpanded)" Selected="@(data => (data as DeptTreeInfo).DeptSeq == MyDeptSeq)" Template="DeptTemplate" />*@
                                    <RadzenTreeLevel TextProperty="DeptName" ChildrenProperty="ChildrenInfo" HasChildren="@((data) => false)" Expanded="@(data => (data as DeptTreeInfo).IsExpanded)" Selected="@(data => (data as DeptTreeInfo).DeptSeq == strSeletedDeptCode)" Template="DeptTemplate" />
                                </RadzenTree>
                            </div>
                            <div class="card-body table-responsive p-0" style="height:181px; border:1px solid #ddd; background-color:#fff;">
                                <table class="table table-head-fixed">
                                    <colgroup>
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>@strOrder </th>            <!--순번-->
                                            <th>@strDept </th>            <!--부서-->
                                            <th>@strRank </th>            <!--직급-->
                                            <th>@strName </th>            <!--이름-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ApproverInfo item in ApproverSearch)
                                        {
                                            <tr name="trItem2" draggable="false" data-draggable="tritem" aria-grabbed="false" value="@item.UserSeq" @ondblclick="() => DoubleClick(item)">
                                                <td>@item.Index</td>
                                                <td>@item.DeptName</td>
                                                <td>@item.Grade</td>
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--e table -->
                    <!--s btn -->
                    <div class="box2" style=" width:8%; height:300px; float:left;">
                        <div class="col-md-12 text-center" style="top:45% !important;">
                            <button type="button" class="btn bg-gradient-primary mb-3" @onclick="AddSelectApprover"><i class="fas fa-angle-right fa-2x"></i></button>
                            <button type="button" class="btn bg-gradient-primary" @onclick="RemoveAssignApprover"><i class="fas fa-angle-left fa-2x"></i></button>
                        </div>
                    </div>
                    <!--e btn -->
                    <!--s table -->
                    <div class="box1" style="width:46%;  float:left;">
                        <div class="btn-group w-100 mb-2 ">
                            @if (m_step == 0)
                            {
                                <button type="button" class="btn bg-gradient-secondary mr-1" @onclick="moveToTop"><i class="fas fa-angle-double-up pr-2"></i>@strMostTop</button>            <!--맨위-->
                                <button type="button" class="btn bg-gradient-secondary mr-1" @onclick="moveToUpper"><i class="fas fa-arrow-up pr-1"></i>@strTop</button>                   <!--위-->
                                <button type="button" class="btn bg-gradient-secondary mr-1" @onclick="moveToLower"><i class="fas fa-arrow-down pr-1"></i>@strDown</button>               <!--아래-->
                                <button type="button" class="btn bg-gradient-secondary" @onclick="moveToBottom"><i class="fas fa-angle-double-down pr-2"></i>@strMostBottom</button>           <!--맨아래-->
                            }
                            else
                            {
                                @*<div style="height:28px;">&nbsp;</div>*@
                            }
                        </div>

                        <div class="card-body table-responsive p-0" style="height:331px; border:1px solid #ddd; background-color:#fff;">
                            <table class="table table-head-fixed">
                                <colgroup>
                                    <col width="">
                                    <col width="">
                                    <col width="">
                                    <col width="">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>@strOrder </th>                <!--순번-->
                                        <th>@strDept </th>                <!--부서-->
                                        <th>@strRank </th>                <!--직급-->
                                        <th>@strName </th>                <!--이름-->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ApproverInfo item in ApproverSelect)
                                    {
                                        <tr name="trSelect2" draggable="false" data-draggable="tritem" aria-grabbed="@(item.Index == stTargetSelect ? "true" : "false")" value="@item.Index">
                                            <td>@item.Index</td>
                                            <td>@item.DeptName</td>
                                            <td>@item.Grade</td>
                                            <td>@item.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>
                    <!--e table -->
                </div>
                <!--/. content -->
            </div>

            <!-- e------------------------------------------------------------------------------------------------------  -->

            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-blue mr-0" @onclick="closePopUp"><i class="fas fa-check"></i>@strOK</button>
                <button type="button" class="btn btn-md btn-black mr-0" @onclick="closePopUp"><i class="fas fa-times"></i>@strClose</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@code {
    List<DeptTreeInfo> deptTreeInfoValues = null;
    private LinkedList<ApproverInfo> ApproverSearch = new LinkedList<ApproverInfo>();
    private LinkedList<ApproverInfo> ApproverSelect = new LinkedList<ApproverInfo>();
    private string stSelectApprover = "";
    private string stTargetSelect = "";
    private static Action<string> actionAssign;
    private static Action<string> actionTargetSelect;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    /// <summary>
    /// 현재 Active된 GRoupid 에 로그인된 정보
    /// </summary>
    SGLoginData activedSGLogin
    {
        get
        {
            int groupid = activedGroupID;
            SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupid);
            return sgLoginData;
        }
    }
    /// <summary>
    /// 현재 Active 되어 있는 Groupid
    /// </summary>
    int activedGroupID
    {
        get
        {
            ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
            return (sgSideBar == null) ? 0 : sgSideBar.GroupId;
        }
    }

    public string strApproverSearch = "";
    public string strDept = "";
    public string strName = "";
    public string strSearch = "";
    public string strOrder = "";
    public string strRank = "";
    public string strMostTop = "";
    public string strMostBottom = "";
    public string strTop = "";
    public string strDown = "";
    public string strOK = "";
    public string strClose = "";
    string strSeletedDeptCode = "";

    int m_step = 0;   //
    @*private string strSeletedDept = "";*@

    ISGSideBarUIService SideBarUISvc;
    /// <summary>
    /// 결재 라인을 로컬에 저장하기 위한 클래스
    /// </summary>
    SGSettingsDBProc sgSettingProc;

    void DoubleClick(ApproverInfo clickInfo)
    {
        stSelectApprover = clickInfo.UserSeq;
        AddSelectApprover();
    }

    public async Task openPopUp()
    {
        object[] param = { "ApproverSelect_TreePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "ApproverSelect_TreePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private void AddSelectApprover()
    {
        Console.WriteLine($"stSelectApprover : {stSelectApprover}");
        if (stSelectApprover.Length < 1)
            return;
        ApproverInfo apv = ApproverSearch.FirstOrDefault(x => x.UserSeq == stSelectApprover);
        if (apv != null)
        {
            string strUserSeq = apv.UserSeq;
             if (getUserSeqExistence(strUserSeq))
            {
                string strName = apv.Name;
                string strMsg = XmlConf.GetWarnMsg("W_0026");   //{0} 사용자는 결재자로 등록되어 있습니다.
                strMsg = String.Format(strMsg, strName);
                ShowMessage("warn", strMsg);
                return;
            }
            else
            {
                apv.Index = apv.Index.Trim();
                ApproverSelect.AddLast(apv);
            }
            
            ApproverInfo apvAsign = ApproverSelect.FirstOrDefault(x => x.UserSeq == stSelectApprover);
            if (apvAsign == null)
                ApproverSelect.AddLast(apv);
        }

        HsCmdCenter.SetApprLineList(activedGroupID, ApproverSelect);
        refreshApprLine();
    }

    private bool getUserSeqExistence(string strUserSeq)
    {
        bool bRet = false;
        foreach (var item in ApproverSelect)
        {
            if (strUserSeq.Equals(item.UserSeq))
            {
                bRet = true;
                break;
            }
        }
        return bRet;
    }

    private void ShowMessage(string strType, string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        object[] param = { strType, strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }
    private void RemoveAssignApprover()
    {
        ApproverInfo apvTarget = ApproverSelect.FirstOrDefault(x => x.UserSeq == stTargetSelect);
        if (apvTarget != null)
            ApproverSelect.Remove(apvTarget);
    }
    private void moveToTop()
    {
        ApproverInfo apvTarget = ApproverSelect.FirstOrDefault(x => x.UserSeq == stTargetSelect);
        if (apvTarget != null)
        {
            ApproverSelect.Remove(apvTarget);
            ApproverSelect.AddFirst(apvTarget);
        }
        StateHasChanged();
    }
    private void moveToUpper()
    {
        ApproverInfo apvTarget = ApproverSelect.FirstOrDefault(x => x.UserSeq == stTargetSelect);

        if (apvTarget != null)
        {
            //현재값으 앞에값을 구하기
            LinkedListNode<ApproverInfo> current;
            LinkedListNode<ApproverInfo> next;
            current = ApproverSelect.First;
            if (current.Value.UserSeq == stTargetSelect)
            {
                return;
            }

            for (int i = 0; i < ApproverSelect.Count; i++)
            {
                next = current.Next;
                if (next.Value.UserSeq == stTargetSelect)
                {
                    ApproverSelect.Remove(apvTarget);
                    ApproverSelect.AddBefore(current, apvTarget);
                    break;
                }
                else
                {
                    current = current.Next;
                }
            }
        }
        StateHasChanged();
    }
    private void moveToLower()
    {
        ApproverInfo apvTarget = ApproverSelect.FirstOrDefault(x => x.UserSeq == stTargetSelect);

        if (apvTarget != null)
        {
            //현재값으 앞에값을 구하기
            LinkedListNode<ApproverInfo> current;
            LinkedListNode<ApproverInfo> next;
            LinkedListNode<ApproverInfo> last;
            current = ApproverSelect.First;
            last = ApproverSelect.Last;
            if (last.Value.UserSeq == stTargetSelect)
            {
                return;
            }

            for (int i = 0; i < ApproverSelect.Count; i++)
            {
                next = current.Next;
                if (current.Value.UserSeq == stTargetSelect)
                {
                    ApproverSelect.Remove(apvTarget);
                    ApproverSelect.AddAfter(next, apvTarget);
                    break;
                }
                else
                {
                    current = current.Next;
                }
            }
        }
        StateHasChanged();
    }
    private void moveToBottom()
    {
        ApproverInfo apvTarget = ApproverSelect.FirstOrDefault(x => x.UserSeq == stTargetSelect);
        if (apvTarget != null)
        {
            ApproverSelect.Remove(apvTarget);
            ApproverSelect.AddLast(apvTarget);
        }
        StateHasChanged();
    }

    void LoadChildrenDepts(TreeExpandEventArgs args)
    {
        try
        {
            DeptTreeInfo Select = ((DeptTreeInfo)args.Value);

            args.Children.Data = Select.ChildrenInfo;
            args.Children.TextProperty = "DeptName";
            args.Children.HasChildren = ((obj) => Select.ChildrenInfo?.Count > 0);
            @*args.Children.Expanded = ((obj) => Select.IsExpanded);*@

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    void LoadDepts(TreeExpandEventArgs args)
    {
        try
        {
            DeptTreeInfo Seq = args.Value as DeptTreeInfo;

            @*args.Children.Data = childDept;*@

            @*args.Children.Text = GetTextForNode;*@
            //args.Children.HasChildren = (path) => Directory.Exists((string)path);
            args.Children.HasChildren = (path) => true;
            args.Children.Template = DeptTemplate;


        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
    @*  string GetTextForNode(object data)
        {
        ApvDeptInfo dept = (ApvDeptInfo)data;
        return dept.deptName;
        }*@

    [JSInvokable("ApproverTargetSelect2")]
    public static void ApproverTargetSelect2(string value)
    {
        actionTargetSelect.Invoke(value);
    }
    private void SelectTarget(string value)
    {
        stTargetSelect = value;
        StateHasChanged();
    }

    [JSInvokable("ApproverSearchSelect2")]
    public static void ApproverSearchSelect2(string value)
    {
        actionAssign.Invoke(value);
    }

    private void AssignApprover(string value)
    {
        stSelectApprover = value;
        StateHasChanged();
    }
    RenderFragment<RadzenTreeItem> DeptTemplate = (context) => builder =>
    {
        DeptTreeInfo dept = context.Value as DeptTreeInfo;

        builder.OpenComponent<RadzenIcon>(0);
        builder.AddAttribute(1, "Icon", "assignment");



        if (dept.ChildrenInfo == null || dept.ChildrenInfo.Count <= 0)
            builder.AddAttribute(2, "Style", "margin-left: 15px");

        builder.CloseComponent();
        builder.AddContent(3, context.Text);
    };

    void OnSelectDept(TreeEventArgs args)
    {
        Log("Change", $"Item Text: {args.Text}");
        //curDir = args.Text;
        //LoadApproverList(args.Value as string);
        //OnSelectPathFromFileTree.InvokeAsync(args); //부모컴포넌트에 이벤트 전달
        DeptTreeInfo selectedDept = args.Value as DeptTreeInfo;

        if (selectedDept == null)
            return;

        updateDeptAppr(selectedDept.DeptSeq);



    }
    void Log(string eventName, string value)
    {
        events.Add(DateTime.Now, $"{eventName}: {value}");
    }

    List<DeptTreeInfo> init = new List<DeptTreeInfo>();
    protected override void OnInitialized()
    {
        actionAssign = AssignApprover;
        actionTargetSelect = SelectTarget;
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        sgSettingProc = SGSettingsDBProc.Instance;

        InitText();
        int groupID = activedGroupID;
        if (pageService.GetLoadApprBaseLine(groupID) == false)      //최초 작업 인 경우
        {
            //결재라인 로컬 저장 여부
            bool bLocalSave = SGAppMgrSvc.OpConfigInfoService.GetUseApprLineLocalSave(groupID); // siteConfig. json으로 이동
            if (bLocalSave)
            {
                //로컬 저장 시
                SGSettingData sgSettingData = sgSettingProc.SelectSettingData(groupID);
                if (sgSettingData == null)
                {
                    //로컬 저장이 없으면 기본 결재라인 응답 건을 전역 List로 세팅
                    InitBaseApprLine();
                }
                else
                {
                    //로컬 저장이 있으면 로컬의 Select 건을 전역 List로 세팅
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    string strEncApprLine = sgSettingProc.GetSettingApprLine(groupID);
                    string strApprLine = "";
                    sgRSACrypto.ValueDecrypt(strEncApprLine, out strApprLine);

                    SGUserData sgUserData = null;
                    sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
                    if (sgUserData == null)
                    {
                        refreshApprLine();
                        StateHasChanged();
                        return;
                    }

                    string strUserSeq = sgUserData.GetUserSequence();

                    SGApprLineData sgApprLineData = null;
                    sgApprLineData = (SGApprLineData)HsCmdCenter.GetApprLineData(groupID);

                    if (sgApprLineData != null)
                        sgApprLineData.LocalLoadANDApprLineData(strApprLine, strUserSeq); //로컬 저장된 데이터를 전역 List로 저장
                    refreshApprLine();
                }
            }
            else //결재라인 로컬 저장여부 Json 값이 False
            {

                InitBaseApprLine();
            }
            StateHasChanged();
            pageService.SetLoadApprBaseLine(groupID, true);
            //bLoadBaseLine = true;
        }
        else        //최초 Load가 아닌 경우
        {
            refreshApprLine();
            StateHasChanged();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            @*   ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
                int groupID = 0;
                if (sgSideBar != null)
                groupID = sgSideBar.GroupId;*@
            int groupID = activedGroupID;

            @* SGLoginData sgLoginData = null;
                sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupID);*@
            SGLoginData sgLoginData = activedSGLogin;
            if (sgLoginData == null)
                return;

            SGUserData sgUserData = null;
            sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
            if (sgUserData == null)
                return;
            strSeletedDeptCode = sgUserData.GetTeamCode();
            m_step = sgLoginData.GetApproveStep();


            string approvePopupType = SGAppMgrSvc.OpConfigInfoService.GetApproveSelectPopUpType();
            if (approvePopupType != "TREE")
                return;

            //DEPTINFO 요청
            HsCmdCenter.sgPageEvent.SetDeptInfoEventAdd(groupID, DeptInfoResult);                //부서 트리 정보
            HsCmdCenter.SendDeptInfo(groupID, sgLoginData.GetUserID());
        }
    }

    /// <summary>
    /// 부서 트리 세팅하기
    /// </summary>
    /// <param name="groupId"></param>
    void DeptInfoResult(int groupId)
    {
        SGDeptInfo info = (SGDeptInfo)HsCmdCenter.GetDeptInfoData(groupId);

        //부서 Tree 세팅
        deptTreeInfoValues = info?.GetDeptInfoTree(strSeletedDeptCode);
        @*
            deptTreeInfoValues = new List<DeptTreeInfo>();
            DeptTreeInfo a = new DeptTreeInfo() { DeptSeq = "1", DeptName = "A(NULL)", ChildrenInfo = null };
            DeptTreeInfo b = new DeptTreeInfo() { DeptSeq = "2", DeptName = "B(빈값)", ChildrenInfo = new List<DeptTreeInfo>() };


            DeptTreeInfo cc = new DeptTreeInfo() { DeptSeq = "30", DeptName = "CC(NULL)", ChildrenInfo = null };
            DeptTreeInfo c = new DeptTreeInfo() { DeptSeq = "3", DeptName = "C(자식있음)", ChildrenInfo = new List<DeptTreeInfo>() { cc } };
            c.IsExpanded = true;

            deptTreeInfoValues.Add(a);
            deptTreeInfoValues.Add(b);
            deptTreeInfoValues.Add(c);*@

    }


    /// <summary>
    /// 초기 본인의 부서에 조회된 사용자 표시하기
    /// </summary>
    public void InitDeptApprInsert()
    {
        ApproverSearch.Clear();

        int groupID = activedGroupID;

        //부서의 사용자 조회한 결과값 세팅하기
        SGDeptApprLineSearchData sgDeptApprLine = (SGDeptApprLineSearchData)HsCmdCenter.GetDeptApprLineSearchData(groupID);
        if (sgDeptApprLine == null)
            return;

        LinkedList<ApproverInfo> listSearchUsers = sgDeptApprLine.GetDeptApproverInfoData();
        if ((listSearchUsers == null) || (listSearchUsers.Count <= 0))
            return;

        SGUserData sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;

        string userSeq = sgUserData.GetUserSequence();
        int idx = 1;
        foreach (ApproverInfo searchUser in listSearchUsers)
        {
            if (searchUser.UserSeq == userSeq)          //조회 결과에서 본인은 제외
                continue;
            searchUser.Index = string.Format("{0,2}", idx.ToString());
            ApproverSearch.AddLast(searchUser);
            idx++;
        }
        StateHasChanged();
    }

    void updateDeptAppr(string getSelectedDeptSeq)
    {
        if (activedSGLogin == null)
            return;
        int groupID = activedGroupID;

        strSeletedDeptCode = getSelectedDeptSeq;

        string strSysID = activedSGLogin.GetSysID();
        string strUserID = activedSGLogin.GetUserID();
        int strApproveProxyRight = activedSGLogin.GetTagValueInteger("APPROVEPROXYRIGHT");
        string strTeamCode = getSelectedDeptSeq;

        bool bApproverOnly = (strApproveProxyRight == 1) ? true : false;

        SGQueryExtend sgQuery = new SGQueryExtend();
        string strQuery = sgQuery.GetDeptApprLineSearch(strSysID, "", "", strTeamCode, bApproverOnly);

        HsCmdCenter.sgPageEvent.SetDeptApprLineSearchEventAdd(groupID, DeptApprSearchResult);
        HsCmdCenter.SendDeptApprLineSearchQuery(groupID, strUserID, strQuery);
    }

    public void DeptApprSearchResult(int groupid, PageEventArgs e)
    {
        ApproverSearch.Clear();
        int groupID = activedGroupID;

        //선택된 부서의 사용자 조회한 결과값 세팅하기
        SGDeptApprLineSearchData sgDeptApprLine = (SGDeptApprLineSearchData)HsCmdCenter.GetDeptApprLineSearchData(groupID);
        if (sgDeptApprLine == null)
            return;

        LinkedList<ApproverInfo> listSearchUsers = sgDeptApprLine.GetDeptApproverInfoData();
        if ((listSearchUsers == null) || (listSearchUsers.Count <= 0))
        {
            StateHasChanged();
            return;
        }

        SGUserData sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;

        string userSeq = sgUserData.GetUserSequence();
        int idx = 1;
        foreach (ApproverInfo searchUser in listSearchUsers)
        {
            if (searchUser.UserSeq == userSeq)          //조회 결과에서 본인은 제외
                continue;
            searchUser.Index = string.Format("{0,2}", idx.ToString());
            ApproverSearch.AddLast(searchUser);
            idx++;
        }
        StateHasChanged();
    }

    /// <summary>
    /// 조회/저장/선택된 Select Approve 리스트를 가지고 와서 컨트롤에 세팅
    /// 전역으로 저장된 결재 리스트 세팅
    /// </summary>
    public void refreshApprLine()
    {
        //전역으로 저장된 결재 리스트 세팅

        int groupID = activedGroupID;
        ApproverSelect.Clear();

        SGApprLineData sgApprLineData = null;
        sgApprLineData = (SGApprLineData)HsCmdCenter.GetApprLineData(groupID);
        if (sgApprLineData == null)
            return;
        LinkedList<ApproverInfo> apprLinkedList = sgApprLineData.GetApprAndLineData();

        if ((apprLinkedList == null) || (apprLinkedList.Count <= 0))
        {
            InitBaseApprLine();
            StateHasChanged();
            //bLoadBaseLine = true;
            pageService.SetLoadApprBaseLine(groupID, true);
            return;
        }

        SGUserData sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;
        string strUserSeq = sgUserData.GetUserSequence();

        SGLoginData sgLoginData = activedSGLogin;
        if (sgLoginData == null)
            return;
        int step = sgLoginData.GetApproveStep();    //결재유형 취득
        m_step = step;

        int count = 1;
        foreach (var item in apprLinkedList)
        {
            if (strUserSeq.Equals(item.UserSeq))
                continue;

            if (step == 0) //AND 결재
            {
                item.selectIndex = count.ToString();
                //item.Index = String.Format("{0,2}", count.ToString());
                item.Index = count.ToString();
                ApproverSelect.AddLast(item);

            }
            else if (step == 1)  //OR결재
            {
                item.selectIndex = count.ToString();
                item.Index = "1";
                ApproverSelect.AddLast(item);
            }
            else
            {
                item.selectIndex = count.ToString();
                ApproverSelect.AddLast(item);   //AND+OR 결재
            }
            count++;
        }
        StateHasChanged();
    }

    public void InitText()
    {
        strApproverSearch = XmlConf.GetTitle("T_COMMON_APPROVESEARCH");             // 결재자 조회
        strDept = XmlConf.GetTitle("T_COMMON_DEPT");                                // 부서
        strName = XmlConf.GetTitle("T_COMMON_NAME");                                // 이름
        strSearch = XmlConf.GetTitle("T_COMMON_SEARCH");                            // 조회
        strOrder = XmlConf.GetTitle("T_COMMON_ORDER");                              // 순번
        strRank = XmlConf.GetTitle("T_COMMON_RANK");                                // 직급
        strMostTop = XmlConf.GetTitle("T_ETC_TOP");                                 // 맨위
        strMostBottom = XmlConf.GetTitle("T_ETC_BOTTOM");                           // 맨아래
        strTop = XmlConf.GetTitle("T_ETC_UP");                                      // 위
        strDown = XmlConf.GetTitle("T_ETC_DOWN");                                   // 아래
        strOK = XmlConf.GetTitle("T_COMMON_OK");                                    // 확인
        strClose = XmlConf.GetTitle("T_FILE_FOLD");                                 // 닫기
    }

    /// <summary>
    /// 보관된 ''기본 결재 라인'' 응답 데이터 불러와 전역 List로 세팅 ($APPROVEDEFAULT)
    /// </summary>
    public void InitBaseApprLine()
    {
        int groupID = activedGroupID;

        SGApprLineData sgApprLineData = null;
        sgApprLineData = (SGApprLineData)HsCmdCenter.GetApprLineData(groupID);
        if (sgApprLineData == null)
            return;

        LinkedList<ApproverInfo> apprLinkedList = null;
        apprLinkedList = sgApprLineData.GetConvertBaseApprAndLineData();
        if ((apprLinkedList == null) || (apprLinkedList.Count <= 0))
            return;

        HsCmdCenter.SetApprLineList(groupID, apprLinkedList);
        ApproverSelect.Clear();
        //StateHasChanged();
    }
}