@page "/Transfer"
@using Microsoft.JSInterop
@using Radzen
@using Radzen.Blazor
@using OpenNetLinkApp.Services
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.PageEvent
@using HsNetWorkSG
@using System.Diagnostics
@using System.Runtime.InteropServices
@inject XmlConfService XmlConf
@inject DragAndDropService DragAndDropService
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject ISGAppManagerService SGAppMgrSvc
@inject HSCmdCenter HSCmdCenter
@inject WebWindow Window
@inject NavigationManager MyNavigationManager
@inject PageStatusService pageService;


<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@strFileTrans</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li>팝업:</li>
                    <li>
                        <select class="form-control" style="width:150px;" id="popupSelect" @onchange="openPopUp">
                            <option id="0" selected>없음</option>
                            <option id="1">공인인증서전송</option>
                            <option id="2">환경정보 확인중</option>
                            <option id="3">보안문자</option>
                            <option id="4">Google OTP</option>
                            <option id="5">패스워드변경(시스템)</option>
                            <option id="5">패스워드변경(사용자)</option>
                            <option id="5">패스워드변경(기본패스워드)</option>
                            <option id="6">@strApproverAdd 1</option>
                            <option id="7">@strApproverAdd 2</option>
                            <option id="8">@strApproverAdd 3</option>
                            <option id="9">전송제한</option>
                            <option id="10">MESSAGE</option>
                            <option id="11">GPKI</option>
                            <option id="12">로그인(인터넷망)</option>
                            <option id="12">로그인(업무망)</option>
                            <option id="12">로그인(메일연계)</option>
                            <option id="12">로그인(PCURL)</option>
                            <option id="13">반려팝업</option>
                            <option id="14">PDF변환</option>
                            <option id="15">파일전송진행율</option>
                            <option id="16">미리보기</option>
                            <option id="17">프로그래스알림</option>
                            <option id="18">프로그래스업데이트</option>
                            <option id="19">프로그래스닫기</option>
                            <option id="20">오프라인</option>
                            <option id="21">마우스우클릭</option>
                            <option id="22">OTP</option>
                            <option id="23">소프트웨어 업데이트</option>
                            <option id="24">바이러스팝업</option>
                        </select>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@strFileTrans</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-boder mb-3" style="box-shadow:none;">
                    <div class="card-body clearfix">
                        <label class="line-label border-right pr-4" style="border-color: #b3c8e4 !important;">@strApprLine</label>
                        <ApproveLine @ref="ApprLine"></ApproveLine>
                        <label style="float:right;">
                            <button type="button" class="btn btn-md btn-navy" @onclick="@ApproveChooseAdd">
                                <i class="fas fa-user-plus"></i> @strApproverAdd
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- list -->

        <div class="row">

            <div class="col-md-3 pr-0">
                <div class="card card-navy card-outline card-boder" style="height:65vh;">

                    <FileTree OnSelectPathFromFileTree="changeSelectPath"></FileTree>

                </div>
            </div>


            <div class="col-md-9">
                <div id="divRightContent" class="card card-navy card-outline card-boder1" style="background-color: #e9eef7;height:65vh;">

                    <form class="form-horizontal">

                        <div id="divRightUpperSide" class="card-body">
                            @if (bReceiverEnable == true)
                            {
                                <div class="col-md-12">
                                    <div class="row mb-1">
                                        <label for="1" class="col-sm-1 col-form-label text-center" style="background-color:#eff8ff;border:1px solid #c7d6e9; border-right:0px;padding-right:0px;">@XmlConf.GetTitle("T_RECV_USER")</label>
                                        <div class="col-sm-10 pr-0 pl-0" style="border:1px solid #c7d6e9; border-left:0px;">
                                            <input type="text" class="form-control p-2 border-0" style="border-radius:0px;" id="1" placeholder="@XmlConf.GetTitle("T_SELECT_RECV_USER")">
                                        </div>
                                        <div class="col-sm-1 text-cener pr-0 ">
                                            <button type="button" class="btn btn-md btn-blue-line w-100" @onclick="openReceiverPopUp"><i class="fas fa-plus"></i>@XmlConf.GetTitle("T_COMMON_SELECT")</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-md-12">
                                <div class="form-group row mb-1" style="border:1px solid #c7d6e9;">
                                    <label for="1" class="col-sm-1 col-form-label text-center" style="background-color:#eff8ff;">@XmlConf.GetTitle("T_TRANS_TITLE")</label>
                                    <div class="col-sm-11 pr-0 pl-0">
                                        <input type="text" class="form-control p-2 border-0" style="border-radius:0px;" id="1" placeholder="@strCurTitle" @bind="strBindTitle">
                                    </div>
                                </div>

                                <div class="form-group row mb-3" style="border:1px solid #c7d6e9;">
                                    <label for="2" class="col-sm-1 col-form-label text-center " style="background-color:#eff8ff;">@XmlConf.GetTitle("T_DETAIL_DESC")</label>
                                    <div class="col-sm-11 pr-0 pl-0">
                                        <textarea class="form-control p-2 border-0 " rows="2" placeholder="@strCurDesc" @bind="strBindDesc"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group  clearfix mb-2">
                                <div class="float-left">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck2" checked="@bAfterCheck" @onclick="(e=>GetAfterChk())" hidden="@bAfterApprChkHIde" disabled="@bAfterApprDisable">
                                        <label class="form-check-label" for="exampleCheck2">@strAfterApprove</label>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <button type="button" class="btn btn-md btn-green" @onclick="UploadFiles"><i class="fas fa-share"></i>@strFileSend</button>
                                    <button type="button" class="btn btn-md btn-blue" @onclick="OpenFileDialog"><i class="fas fa-file-upload"></i>@strFileReg</button>
                                    <button type="button" class="btn btn-md btn-black" @onclick="@(e => RemoveAllFile())"><i class="fas fa-times"></i>@strFileDel</button>
                                </div>
                            </div>

                        </div>


                        @*<div class="card-body p-0" style="height:25vh;">*@
                        @*<div class="card-body p-0" style="height:67%;">*@
                        <div id="divDropFile" class="card-body p-0" style="height:67%;">
                            <DropFileList @ref="dropFile"></DropFileList>
                        </div>

                        <div id="divRightBottomSide" class="card-footer clearfix">

                            <div class="float-left">
                                @if (bURLRedirection == true)
                                {
                                <button type="button" class="btn btn-md btn-url"><i class="fas fa-globe-asia icon"></i><span>@strUrlAutoTrans</span></button>
                                }
                            </div>

                            <div class="float-right">

                                <ul class="pagination pagination-sm m-0 ">
                                    <li>@strRemainFile : </li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label">@strDayFileTransTotalSize</label></li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label">@strDayFileTransTotalCount</label></li>
                                </ul>

                            </div>

                        </div>

                    </form>
                </div>
            </div>

        </div>


    </div>
</section>

<LogIn @ref="LogInPopUp"></LogIn>
<LogIn_GPKI @ref="refLogInGPKI" Mode="1"></LogIn_GPKI>
<LogIn_SecurityNetwork @ref="refLogIn_SecurityNetwork"></LogIn_SecurityNetwork>
<LogIn_Mail @ref="refLogIn_Mail"></LogIn_Mail>
<LogIn_PCURL @ref="refLogIn_PCURL"></LogIn_PCURL>

<ReceiverSelect_PopUp @ref="refReceiverSelect_PopUp"></ReceiverSelect_PopUp>
<ApproverSelect_PopUp @ref="refApproverSelect_PopUp"></ApproverSelect_PopUp>
<ApproverSelect_TreePopUp @ref="refApproverSelect_TreePopUp"></ApproverSelect_TreePopUp>
<ApproverSelect_StepPopUp @ref="refApproverSelect_StepPopUp"></ApproverSelect_StepPopUp>
<Transfer_Denied @ref="refTransferDenied"></Transfer_Denied>
<PWChange @ref="refPWChange"></PWChange>
<PWChangeUser @ref="refPWChangeUser"></PWChangeUser>
<PWChangeDefaultPW @ref="refPWChangeDefaultPW"></PWChangeDefaultPW>

<GoogleOTP @ref="refGoogleOTP"></GoogleOTP>
<SGAlert @ref="refSGAlert" OnConfirm="runConfirmAlert" OnCancel="runCancelAlert"></SGAlert>
<SGCapcha @ref="refSGCapcha"></SGCapcha>
<EnvLoading @ref="refEnvLoading"></EnvLoading>
<CertificateTransfer @ref="refCertificateTransfer"></CertificateTransfer>
<!--<SGReject @ref="refSGReject"></SGReject>-->
<SGPDFTrans @ref="refSGPDFTrans"></SGPDFTrans>
<TransProgress @ref="refTransProgress" OnCancel="TransCancel"></TransProgress>
<OffLine @ref="refOffLine"></OffLine>
<OTP @ref="refOTP"></OTP>
<Update_PopUp @ref="refUpdate_PopUp"></Update_PopUp>
<VirusReport @ref="refVirusReport"></VirusReport>

@code
{
    public string stSelectPath { get; set; }
    DropFileList dropFile;
    LogIn LogInPopUp;
    LogIn_SecurityNetwork refLogIn_SecurityNetwork;
    LogIn_GPKI refLogInGPKI;
    LogIn_Mail refLogIn_Mail;
    LogIn_PCURL refLogIn_PCURL;
    Transfer_Denied refTransferDenied;

    ReceiverSelect_PopUp refReceiverSelect_PopUp;
    ApproverSelect_PopUp refApproverSelect_PopUp;
    ApproverSelect_TreePopUp refApproverSelect_TreePopUp;
    ApproverSelect_StepPopUp refApproverSelect_StepPopUp;
    PWChange refPWChange;
    PWChangeUser refPWChangeUser;
    PWChangeDefaultPW refPWChangeDefaultPW;
    GoogleOTP refGoogleOTP;
    SGAlert refSGAlert;
    SGCapcha refSGCapcha;
    EnvLoading refEnvLoading;
    CertificateTransfer refCertificateTransfer;
    //SGReject refSGReject;
    SGPDFTrans refSGPDFTrans;
    TransProgress refTransProgress;
    OffLine refOffLine;
    OTP refOTP;
    Update_PopUp refUpdate_PopUp;
    VirusReport refVirusReport;

    public string strFileTrans = "";
    public string strFilePath = "";
    public string strAfterApprove = "";
    public string strLogin = "";
    public string strUrlAutoTrans = "";
    public string strDayFileTransTotalCount = "";
    public string strDayFileTransTotalSize = "";
    public string strRemainFile = "";
    public string strFileSend = "";
    public string strFileDel = "";
    public string strApprLine = "";
    public string strApproverAdd = "";
    public string strFileReg = "";

    public string strCurTeamName = "";

    public string strCurTitle = "";
    public string strCurDesc = "";

    public bool bAfterCheck = false;

    public string strBindTitle = "";
    public string strBindDesc = "";
    public string strFromName = "-";
    public string strToName = "-";
    private bool bReceiverEnable = false;   //수신자 UI 표시옵션

    ISGSideBarUIService SideBarUISvc;

    ApproveLine ApprLine = new ApproveLine();

    public bool bAfterApprChkHIde = false;
    public bool bAfterApprDisable = false;

    public bool bURLRedirection = true;

    private async Task openReceiverPopUp()
    {
        await refReceiverSelect_PopUp.openPopUp();
    }

    private async Task openPopUp(ChangeEventArgs e)
    {
        switch (e.Value.ToString())
        {
            case "공인인증서전송":
                await refCertificateTransfer.openPopUp();
                break;
            case "환경정보 확인중":
                await refEnvLoading.openPopUp();
                break;
            case "보안문자":
                await refSGCapcha.openPopUp();
                break;
            case "Google OTP":
                await refGoogleOTP.openPopUp();
                break;
            case "패스워드변경(시스템)":
                await refPWChange.openPopUp();
                break;
            case "패스워드변경(사용자)":
                await refPWChangeUser.openPopUp();
                break;
            case "패스워드변경(기본패스워드)":
                await refPWChangeDefaultPW.openPopUp();
                break;
            case "결재자 추가 1":
                await refApproverSelect_PopUp.openPopUp();
                break;
            case "결재자 추가 2":
                await refApproverSelect_TreePopUp.openPopUp();
                break;
            case "결재자 추가 3":
                await refApproverSelect_StepPopUp.openPopUp();
                break;
            case "전송제한":
                await refTransferDenied.openPopUp();
                break;
            case "MESSAGE":
                //1. 토스트 메시지 사용법
                //type: success, info, waring, error 2020/07/02 YKH
                object[] param5 = { "error", "시스템", "시스템 토스트 메시지 입니다. 자동닫기가 가능한 토스트 메시지 함수호출로 수행됨." };
                await JSRuntime.InvokeAsync<object>("fireToastMessage", param5);

                //2. javascript alert 사용법
                //object[] param = { "JS Alert 메시지 호출입니다." };
                //await JSRuntime.InvokeAsync<object>("alertMessage", param);

                //3. 모달형 메시지, mode:1은 alert mode:2는 confirm
                //await refSGAlert.openPopUp("시스템 알림", "이것은 시스템 알림 메시지 입니다.", 2);
                break;
            case "GPKI":
                await refLogInGPKI.openPopUp();
                break;
            case "로그인(인터넷망)":
                await LogInPopUp.openPopUp();
                break;
            case "로그인(업무망)":
                await refLogIn_SecurityNetwork.openPopUp();
                break;
            case "로그인(메일연계)":
                await refLogIn_Mail.openPopUp();
                break;
            case "로그인(PCURL)":
                await refLogIn_PCURL.openPopUp();
                break;
            case "반려팝업":
                //await refSGReject.openPopUp();
                break;
            case "PDF변환":
                refSGPDFTrans.ChangeProgress(10);
                await refSGPDFTrans.openPopUp();
                //진행율 변환 예제
                System.Threading.Thread.Sleep(2000);
                refSGPDFTrans.ChangeProgress(90);
                break;
            case "파일전송진행율":
                refTransProgress.ChangeProgress(10);
                await refTransProgress.openPopUp();
                //진행율 변환 예제
                System.Threading.Thread.Sleep(2000);
                refTransProgress.ChangeProgress(90);
                break;
            case "미리보기":
                OpenPreviewWindow();
                //object[] param = { "https://www.naver.com", "오픈윈도우", 200, 200 };
                //await JSRuntime.InvokeAsync<object>("openWindow", param);
                break;
            case "프로그래스알림":
                object[] param = { "POP1234", "업무망 <i class='fas fa-long-arrow-alt-right p-1'></i> 인터넷망", "파일전송 중입니다. <br>전송이 완료될 때까지 기다려 주세요.<br> 진행률 : 1%" };
                await JSRuntime.InvokeAsync<object>("fireProgressMessage", param);
                System.Threading.Thread.Sleep(3000);
                object[] param2 = { "POP1234", "파일수신 중입니다. <br>수신이 완료될 때까지 기다려 주세요.<br> 진행률 : 90%", "90%" };
                await JSRuntime.InvokeAsync<object>("updateProgressMessage", param2);
                System.Threading.Thread.Sleep(3000);
                object[] param3 = { "POP1234" };
                await JSRuntime.InvokeAsync<object>("closeProgressMessage", param3);
                break;
            case "프로그래스업데이트":
                // object[] param2 = { "POP1234", "파일전송 중입니다. <br>전송이 완료될 때까지 기다려 주세요.<br> 진행률 : 90%", "90%" };
                //  await JSRuntime.InvokeAsync<object>("updateProgressMessage", param2);
                break;
            case "프로그래스닫기":
                // object[] param3 = { "POP1234" };
                //   await JSRuntime.InvokeAsync<object>("closeProgressMessage", param3);
                break;
            case "오프라인":
                await refOffLine.openPopUp();
                break;

            case "마우스우클릭":
                HSCmdCenter.RMouseFileAddNotiAfterSend(0, 0);
                break;
            case "OTP":
                await refOTP.openPopUp();
                break;
            case "소프트웨어 업데이트":
                await refUpdate_PopUp.openPopUp();
                break;
            case "바이러스팝업":
                // await refVirusReport.openPopUp();
                break;
        }
    }

    private async Task OpenFileDialog()
    {
        await JSRuntime.InvokeVoidAsync("startClick");
    }

    private async Task UploadFiles()
    {
        int TransDataCount = 0;
        TransDataCount = dropFile.GetFileListAddCount();
        if (TransDataCount <= 0)
        {
            string strMsg = XmlConf.GetWarnMsg("W_0016"); // 전송하고자 하는 파일이 없습니다./r/n전송파일을 등록해주십시오.
            strMsg = strMsg.Replace("/r/n", "<br/>");
            ShowMessage("warn", strMsg);
            return;
        }
        refTransProgress.SetProgressText(true, true);
        refTransProgress.ChangeProgress(0);
        await refTransProgress.openPopUp();
        System.Threading.Thread.Sleep(1000);
        FileTrans();
        //await dropFile.UploadFiles();

    }

    /*
    private void FileExamResult(int per)
    {
        if(refTransProgress.GetOpen()!=true)
        {
            // refTransProgress.openPopUp();
        }
        if(per<0)
        {
            refTransProgress.closePopUp();
            string strMsg = XmlConf.GetErrMsg("E_0212");                // 파일 로드 중 오류가 발생되었습니다.
            ShowMessage("error", strMsg);
            return;
        }
        if(per>=100)
        {
            refTransProgress.SetProgressText(false);
            //FileTrans();
            return;
        }
        refTransProgress.SetProgressText(false);
        refTransProgress.ChangeProgress(per);
    }
    */


    private void FileTrans()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
            return;

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;

        SGApprLineData sgApprLineData = null;
        sgApprLineData = (SGApprLineData)HSCmdCenter.GetApprLineData(groupID);
        if (sgApprLineData == null)
            return;

        string strUserID = sgLoginData.GetUserID();
        string strMid = sgLoginData.GetTagData("MID");
        string strPolicyFlag = sgLoginData.GetTagData("POLICYFLAG");
        string strTitle = strBindTitle;
        string strContents = strBindDesc;
        //string strTitle = strCurTitle;
        //string strContents = strCurDesc;
        bool bApprSendMail = false;
        bool bAfterApprove = bAfterCheck;
        int nDlp = 0;
        string strRecvPos = "0";
        string strZipPasswd = "";
        bool bPrivachApprove = false;
        string strSecureString = "";
        string strDataType = "0";               // 파일 전송
        string strApprStep = sgLoginData.GetTagData("APPROVESTEP");
        int nApprStep = 0;
        if (strApprStep.Equals("") != true)
            nApprStep = Convert.ToInt32(strApprStep);

        List<string> ApprLineSeq = null;
        string strUserSeq = sgUserData.GetUserSequence();
        ApprLineSeq = sgApprLineData.GetApprAndLineSeq(strUserSeq);
        List<HsStream> FileList = null;
        FileList = dropFile.GetHsStreamList();



        if (strTitle.Equals(""))
        {
            int count = FileList.Count;
            string strFileName = FileList[0].FileName;
            if (count == 1)
                strTitle = strFileName;
            else
            {
                string tmpTitle = XmlConf.GetInfoMsg("I_0048");        // {0} 외 {1}건
                strTitle = String.Format(tmpTitle, strFileName, count - 1);
            }
        }

        if (strContents.Equals(""))
            strContents = "-";

        HSCmdCenter.SendFileTrans(groupID, strUserID, strMid, strPolicyFlag, strTitle, strContents, bApprSendMail, bAfterApprove, nDlp, strRecvPos, strZipPasswd, bPrivachApprove, strSecureString, strDataType, nApprStep, ApprLineSeq, FileList);
    }

    public async void FileTransProgress(int groupID, PageEventArgs e)
    {
        string strMsg = "";
        if (e.result != 0)
        {
            strMsg = XmlConf.GetErrMsg("E_0213");           // 파일 전송 중 오류가 발생되었습니다.
            ShowMessage("error", strMsg);
            return;
        }

        if (e.count >= 100)
        {
            strMsg = XmlConf.GetInfoMsg("I_0029");   // 파일 전송이 완료되었습니다.
            if (refTransProgress.GetOpen() == true)
                ShowMessage("info", strMsg);
            await refTransProgress.closePopUp();
            dropFile.RemoveAllFile().Wait();
            strBindTitle = "";
            strBindDesc = "";
            StateHasChanged();
            return;
        }

        else if ((e.count >= 0) && (e.count <= 50))
        {
            refTransProgress.SetProgressText(true, true);                // 압축 및 암호화  진행 중
            refTransProgress.ChangeProgress(e.count);
        }
        else if ((e.count > 50) && (e.count < 100))
        {
            refTransProgress.SetProgressText(true, false);               // 파일 전송 중
            refTransProgress.ChangeProgress(e.count);
        }
        else
        {
            strMsg = XmlConf.GetErrMsg("E_0213");           // 파일 전송 중 오류가 발생되었습니다.
            ShowMessage("error", strMsg);
            return;
        }
    }

    public void FileRecvProgress(int groupID, PageEventArgs e)
    {
        string strMsg = "";
        if (e.result != 0)
        {
            strMsg = XmlConf.GetErrMsg("E_0215");           // 파일 수신 중 오류가 발생되었습니다.
            ShowMessage("error", strMsg);
            return;
        }
        int per = e.count;
        int type = 0;
        if (per >= 100)
        {
            type = 2;
            ShowProgress(groupID, type, 100, strFromName, strToName, e.strMsg);
            System.Threading.Thread.Sleep(500);
            type = 3;                                       // close
                                                            // HSCmdCenter.SetFileRecving(groupID, false);
        }
        else if (per == 0)
        {
            bool bRecving = false;
            bRecving = HSCmdCenter.GetFileRecving(groupID);
            if (bRecving == true)
                return;

            type = 1;                                        // open
            HSCmdCenter.SetFileRecving(groupID, true);
        }
        else if ((per > 0) && (per < 100))
        {
            type = 2;                                       // update
            HSCmdCenter.SetFileRecving(groupID, true);
        }
        else
            return;

        ShowProgress(groupID, type, per, strFromName, strToName, e.strMsg);
    }

    protected override void OnInitialized()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;

        InitText();

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;
        HSCmdCenter.sgPageEvent.SetDeptApprLineSearchEventAdd(groupID, ApproveChooseResult);
        HSCmdCenter.sgPageEvent.SetFileSendProgressEventAdd(groupID, FileTransProgress);
        HSCmdCenter.sgPageEvent.SetFileRecvProgressEventAdd(groupID, FileRecvProgress);

        action1 = AddDataList;
        action2 = RemoveDataList;
        action3 = ClearDataList;
        base.OnInitialized();

        XmlConf.GetNetworkTitle(groupID, out strFromName, out strToName);
        HSCmdCenter.sgPageEvent.SetAddFileRMEventAdd(groupID, RMouseFileAdd);
        HSCmdCenter.sgPageEvent.SetAPTAndVirusNotiEventAdd(groupID,AptAndVirusNoti);

        HSCmdCenter.sgPageEvent.SetUseDayFileNotiEventAdd(groupID, UseDayFileResult);
        HSCmdCenter.sgPageEvent.SetUseDayClipNotiEventAdd(groupID, UseDayClipResult);

        bAfterApprChkHIde = pageService.GetAfterApprChkHide(groupID);
        bAfterApprDisable = !pageService.GetAfterApprEnable(groupID);
        if (bAfterApprChkHIde)
            strAfterApprove = "";

        if (bAfterApprDisable)
            bAfterCheck = false;

        pageService.SetAfterApprTimeEvent(groupID, AfterApproveStatusChange);

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData != null)
            bURLRedirection = sgLoginData.GetURLRedirect();
    }
    public void GetAfterChk()
    {
        bAfterCheck = (!bAfterCheck);
        StateHasChanged();
    }
    public void ApproveChooseAdd()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
            return;

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
            return;

        string strSysID = sgLoginData.GetSysID();
        string strUserID = sgLoginData.GetUserID();
        string strUserName = sgUserData.GetUserName();
        string strTeamName = sgUserData.GetTeamName();
        strCurTeamName = strTeamName;
        refApproverSelect_PopUp.SetInitDeptName(strCurTeamName);
        string strTeamCode = sgUserData.GetTeamCode();
        SGQueryExtend sgQuery = new SGQueryExtend();
        //string strQuery = sgQuery.GetDeptApprLineSearch(strSysID, strUserName, strTeamName, strTeamCode, true);
        string strQuery = sgQuery.GetDeptApprLineSearch(strSysID, "", strTeamName, "", true);
        HSCmdCenter.SendDeptApprLineSearchQuery(groupID, strUserID, strQuery);
    }

    public void ApproveChooseResult(int groupid, PageEventArgs e)
    {
        //  if (e.result != 0)
        //  {
        //      ShowMessage("error", e.strMsg);
        //      return;
        //  }
        // refApproverSelect_PopUp.SetInitDeptName(strCurTeamName);
        refApproverSelect_PopUp.InitDeptApprInsert();
        refApproverSelect_PopUp.InitApprLine();
        OpenSelector1().Wait();
    }

    private void ShowMessage(string strType, string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        object[] param = { strType, strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    // type : 1 - open , 2 - update ,3 -close
    private async void ShowProgress(int groupID, int type, int per, string strFromName, string strToName, string strTransSeq)
    {
        object[] param = { };
        string identifier = "";
        string strID = groupID.ToString();
        strID = "RECV" + strID + strTransSeq;
        string strProgress = String.Format("{0}%", per);
        string strFileRecvInfo = XmlConf.GetInfoMsg("I_0097");              // 파일수신 중입니다./r/n수신이 완료될 때까지 기다려 주십시오.
        strFileRecvInfo = strFileRecvInfo.Replace("/r/n", "<br>");
        strFileRecvInfo = strFileRecvInfo + "<br>";

        string strProgressInfo = "-";
        if ((per >= 0) && (per <= 50))
            strProgressInfo = XmlConf.GetTitle("T_FILERECV_PER");           // 파일 수신 진행률
        else if ((per > 50) && (per <= 100))
            strProgressInfo = XmlConf.GetTitle("T_FILERECVHSZIP_PER");           // 압축해제 및 복호화 진행률
        else
            strProgress = "-";

        strFileRecvInfo = strFileRecvInfo + strProgressInfo + " : " + strProgress;

        switch (type)
        {
            case 1:
                identifier = "fireProgressMessage";
                param = new object[3];
                param[0] = strID;
                param[1] = strFromName + " <i class='fas fa-long-arrow-alt-right p-1'></i> " + strToName;
                param[2] = strFileRecvInfo;
                //param = { strID, "업무망 <i class='fas fa-long-arrow-alt-right p-1'></i> 인터넷망", "파일전송 중입니다. <br>전송이 완료될 때까지 기다려 주세요.<br> 진행률 : 1%" });
                //await JSRuntime.InvokeAsync<object>("fireProgressMessage", param);
                break;
            case 2:
                identifier = "updateProgressMessage";
                param = new object[3];
                param[0] = strID;
                param[1] = strFileRecvInfo;
                //param[1] = "문구 변경 테스트";
                param[2] = strProgress;
                //param = { strID, "파일전송 중입니다. <br>전송이 완료될 때까지 기다려 주세요.<br> 진행률 : 90%", "90%" };
                // await JSRuntime.InvokeAsync<object>("updateProgressMessage", param2);
                break;
            case 3:
                identifier = "closeProgressMessage";
                param = new object[1];
                param[0] = strID;
                System.Threading.Thread.Sleep(300);
                //param = { strID };
                // await JSRuntime.InvokeAsync<object>("closeProgressMessage", param3);
                break;
            default:
                break;
        }
        await JSRuntime.InvokeAsync<object>(identifier, param);

        if (type == 3)
        {
            HSCmdCenter.SetFileRecving(groupID, false);
            string strModulePath = System.IO.Directory.GetCurrentDirectory();
            string strDownPath = strModulePath + "\\DownLoad";
            //Process.Start(strDownPath);
            //Process.Start(@"C:/HANSSAK/SecureGate/download");
            //Window.FolderOpen(strDownPath);
            Window.OpenFolder(strDownPath);
        }
    }

    //결재자 편집 창 팝업
    private async Task OpenSelector1()
    {
        refApproverSelect_PopUp.SetApprSelectChangeEvent(SetApprLineChange);
        await refApproverSelect_PopUp.openPopUp();
    }

    public void SetApprLineChange()
    {
        ApprLine.ApproveLineChange();
    }

    private void changeSelectPath(TreeEventArgs args)
    {
        stSelectPath = args.Value as string;
    }

    public async Task LoadJavaScript()
    {
        await JSRuntime.InvokeVoidAsync("loadJavaScript");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadJavaScript();
            await base.OnAfterRenderAsync(firstRender);
            //로그인 팝업 샘플 2020/07/01 YKH
            //await OpenLogIn();
            StateHasChanged();
        }
        //자바스크립트로 클릭방지 코드 및 마우스 이벤트리스너 실행
        await stopClick();
    }

    public void runConfirmAlert(string arg)
    {
        System.Diagnostics.Debug.WriteLine("Callback Confirm Alert");
    }
    public void runCancelAlert(string arg)
    {
        System.Diagnostics.Debug.WriteLine("Callback Cancel Alert");
    }

    private void onSelectFilePath(TreeEventArgs args)
    {
        stSelectPath = args.Value as string;
        Console.WriteLine("Event Trigered :" + stSelectPath);
    }

    private async Task stopClick()
    {
        object[] param = { "Message" };
        //DropZone 클릭방지코드
        //await JSRuntime.InvokeAsync<object>("stopClick");

        await JSRuntime.InvokeAsync<object>("exitLogIn");

        await JSRuntime.InvokeAsync<object>("adJustWindowsize");
    }

    private static Action<string, string> action1;
    private static Action<string> action2;
    private static Action action3;

    private async Task RemoveAllFile()
    {
        ClearDataList();
        await dropFile.RemoveAllFile();
    }

    private void AddDataList(string str, string type)
    {
        DragAndDropService.AddDataList(str, type);
    }
    private void RemoveDataList(string str)
    {
        DragAndDropService.removeDataList(str);
    }
    private void ClearDataList()
    {
        DragAndDropService.clearDataList();
        //dropFile.DataClear().Wait();
    }
    [JSInvokable("AddPath")]
    public static void AddPath(string path, string type)
    {
        Console.WriteLine("AddPath Call Excuted." + path + "    Type:" + type);
        action1.Invoke(path, type);
    }
    [JSInvokable("RemovePath")]
    public static void RemovePath(string path)
    {
        Console.WriteLine("AddPath Call Excuted." + path);
        action2.Invoke(path);
    }
    [JSInvokable("ClearPath")]
    public static void ClearPath()
    {
        Console.WriteLine("ClearPath Call Excuted.");
        action3.Invoke();
    }

    public void InitText()
    {
        strFileTrans = XmlConf.GetTitle("T_COMMON_FILETRANS");                          // 파일 전송
        strFilePath = XmlConf.GetTitle("T_FILE_FILEPATH");                              // 파일 경로
        strAfterApprove = XmlConf.GetTitle("T_FILE_APPROVEAFTERPROC");                  // 사후결재
        strLogin = XmlConf.GetTitle("T_COMMON_LOGIN");                                  // 로그인
        strUrlAutoTrans = XmlConf.GetTitle("T_INFO_USE_URLREDIRECT_AUTO");              // URL 자동전환 사용
        strDayFileTransTotalSize = XmlConf.GetInfoMsg("I_0195");                        // {0} MB
        strDayFileTransTotalSize = String.Format(strDayFileTransTotalSize, 15000);
        strDayFileTransTotalCount = XmlConf.GetInfoMsg("I_0128");                                          // {0} 건
        strDayFileTransTotalCount = String.Format(strDayFileTransTotalCount, 10240);
        strRemainFile = XmlConf.GetTitle("T_ETC_ONEDAY_LEFT_FILE");                     // 남은 일일 파일전송
        strFileSend = XmlConf.GetTitle("T_FILE_SENDFILE");                              // 파일 보내기
        strFileDel = XmlConf.GetTitle("T_FILE_FILEDEL");                                // 파일 삭제
        strApprLine = XmlConf.GetTitle("T_FILE_APPROVELINE");                           // 결재라인
        strApproverAdd = XmlConf.GetTitle("T_FILE_APPROVER");                           // 결재자추가
        strFileReg = XmlConf.GetTitle("T_FILE_FILEREG");                                // 파일등록

        strCurTitle = XmlConf.GetTitle("T_FILE_EMPTYTITLE");                                // 제목을 입력하십시오. (최대 60자)
        strCurDesc = XmlConf.GetTitle("T_FILE_EMPTYDESC");                                // 설명을 입력하십시오. (최대 80자)
    }

    private void OpenPreviewWindow()
    {
        ProcessStartInfo startInfo = new ProcessStartInfo("PreviewUtil");
        startInfo.WindowStyle = ProcessWindowStyle.Normal;
        startInfo.Arguments = "https://192.168.1.253:1300/weblink/CM001_Docs_Viewer.do?transSeq=202007232200000009&fileNo=1";
        // Run the external process & wait for it to finish
        using (Process proc = Process.Start(startInfo))
        {
            proc.WaitForExit();
        }
    }
    public void RMouseFileAdd(int groupID, PageEventArgs e)
    {
        FileAddManage fileAddmanage = new FileAddManage();

        string strRMouseFilePath = PageStatusData.GetRMFIlePath();
        if (!fileAddmanage.RMFileExist(strRMouseFilePath))
            return;

        MyNavigationManager.NavigateTo("/Transfer");
        System.Threading.Thread.Sleep(1000);

        List<string> ListFile = fileAddmanage.LoadRMFileAdd(strRMouseFilePath);
        if (dropFile != null)
        {
            dropFile.RMouseFileAddAction(ListFile);
        }

    }


    public void TransCancel(string arg)
    {
        System.Diagnostics.Debug.WriteLine("Callback Trans Cancel Alert");
        HSCmdCenter.SendFileTransCancel();

        string strMsg = XmlConf.GetInfoMsg("I_0194");   // 파일 전송이 취소되었습니다.
        ShowMessage("info", strMsg);
    }

    public void AfterApproveStatusChange()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        DateTime dt = pageService.GetAfterApprTime(groupID);
        pageService.SetSvrTime(groupID, dt);
        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
            return;
        bAfterApprChkHIde = sgLoginData.GetAfterChkHide();
        bAfterApprDisable = sgLoginData.GetUseAfterApprove(dt);
        pageService.SetAfterApprChkHIde(groupID, bAfterApprChkHIde);
        pageService.SetAfterApprEnable(groupID, bAfterApprDisable);

        bAfterApprChkHIde = pageService.GetAfterApprChkHide(groupID);
        bAfterApprDisable = !pageService.GetAfterApprEnable(groupID);
        if (bAfterApprChkHIde)
            strAfterApprove = "";

        if (bAfterApprDisable == true)
            bAfterCheck = false;

        StateHasChanged();
    }
    public async void AptAndVirusNoti(int groupID, eCmdList cmd, AptAndVirusEventArgs e)
    {
        string strTitle = XmlConf.GetNetworkTitle(groupID);
        //string strMsg = NotiMsgMake(cmd, e);
        string strFileTransTitle = e.strTitle;
        string strVirusContent = e.strMsg;
        string strTransSeq = e.strTransSeq;
        bool bVirus = false;
        if (cmd == eCmdList.eVIRUSSCAN)
            bVirus = true;
        refVirusReport.SetInit(groupID, strTransSeq, strFileTransTitle, strVirusContent, bVirus);
        await refVirusReport.openPopUp();

    }

    public void UseDayFileResult(int groupID, FileAndClipDayArgs e)
    {
    }

    public void UseDayClipResult(int groupID, FileAndClipDayArgs e)
    {

    }
}