@page "/"
@page "/Transfer"
@using Microsoft.JSInterop
@using OpenNetLinkApp.Components.Transfer
@using OpenNetLinkApp.Components.PopUp
@using Radzen
@using Radzen.Blazor
@using OpenNetLinkApp.Services
@inject XmlConfService XmlConf
@inject DragAndDropService DragAndDropService
@inject IJSRuntime JSRuntime
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@strFileTrans</h1>                         <!--파일전송-->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@strFileTrans</li>            <!--파일전송-->
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- S file content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-3">
                    <div class="card-body clearfix">
                        <label>@strApprLine</label>                                 <!--결재라인-->
                        <ApproveLine></ApproveLine>

                        <label style="float:right;">
                            <button type="button" class="btn btn-md bg-gradient-secondary" @onclick="@OpenSelector1">
                                <i class="fas fa-plus-circle"></i> @strApproverAdd 1              <!--결재자 추가-->
                            </button>
                            <button type="button" class="btn btn-md bg-gradient-secondary" @onclick="@OpenSelector2">
                                <i class="fas fa-plus-circle"></i> @strApproverAdd 2              <!--결재자 추가-->
                            </button>
                            <button type="button" class="btn btn-md bg-gradient-secondary" @onclick="@OpenSelector3">
                                <i class="fas fa-plus-circle"></i> @strApproverAdd 3              <!--결재자 추가-->
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@strFilePath</span>              <!--파일경로-->
                    </div>
                    <input type="text" class="form-control" placeholder="@stSelectPath" disabled="" value="@stSelectPath">
                </div>
            </div>
        </div>

        <!-- list -->

        <div class="row">

            <div class="col-md-3">
                <div class="card card-secondary card-outline" style="height:500px;">
                    <!-- /.card-header -->

                    <FileTree OnSelectPathFromFileTree="changeSelectPath"></FileTree>
                    <!-- /.card-body -->
                </div>
            </div>


            <div class="col-md-9">
                <div class="card card-secondary card-outline" style="height:500px;">
                    <!-- /.card-header -->

                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="제목을 입력하세요.(최대 60자)">
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="2" placeholder="상세한 설명을 입력해 주세요. (최대 80자)"></textarea>
                                </div>
                            </div>



                            <div class="row" style="padding-left:30px; vertical-align:middle;">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox">
                                            <label class="form-check-label">@strAfterApprove</label>                <!--사후결재-->
                                        </div>
                                    </div>


                                </div>


                                <div class="col-sm-10 text-right">
                                    <button type="button" class="btn btn-md bg-gradient-info" @onclick="@OpenTransferDenied">전송제한파일</button>
                                    <button type="button" class="btn btn-md bg-gradient-info" @onclick="@OpenGPKI">GPKI</button>
                                    <button type="button" class="btn btn-md bg-gradient-primary" @onclick="@ShowToast">
                                        MESSAGE
                                    </button>
                                    <button type="button" class="btn btn-md bg-gradient-primary" @onclick="UploadFiles">
                                        <i class="fas fa-file-export  pr-2"></i>
                                        @strFileSend       <!--파일보내기-->
                                    </button>
                                    <button type="button" class="btn btn-md bg-gradient-info" @onclick="@OpenLogIn">@strLogin</button>            <!--로그인-->
                                    <button type="button" class="btn btn-md bg-gradient-secondary" @onclick="@(e => RemoveAllFile())">
                                        <i class="fas fa-trash-alt pr-2"></i>
                                        @strFileDel         <!--파일삭제-->
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->


                        <div class="card-body p-0" style="padding:0 1.25rem; !important;">
                            <DropFileList @ref="dropFile"></DropFileList>
                        </div>


                        <!--footer test-->
                        <div class="card-footer" style="padding:.5rem 1.25rem; !important; font-size:.8rem;">
                            <div style="float:left; width:30%;">
                                <div class="dataTable_info" id="example2_info" role="status" aria-live="polite">
                                    <span><i class="fas fa-globe"></i>&nbsp;&nbsp; @strUrlAutoTrans</span>               <!--URL 자동전환 사용-->
                                </div>
                            </div>

                            <div style="float:right; width:auto;">

                                <ul class="pagination pagination-sm m-0 ">
                                    <li>@strRemainFile : </li>                          <!--남은 일일 파일전송-->
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label">15,000 MB</label></li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label">@strCount</label></li>          <!--{0} 건-->
                                </ul>

                            </div>

                        </div>
                        <!--./footer test-->
                        <!-- /.card-footer -->
                    </form>

                    <!-- /.card-body -->
                </div>
            </div>

        </div>

        <!--/.list -->
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>

<LogIn @ref="LogInPopUp"></LogIn>
<LogIn_GPKI @ref="refLogInGPKI" Mode="1"></LogIn_GPKI>


<ApproverSelect_PopUp @ref="refApproverSelect_PopUp"></ApproverSelect_PopUp>
<ApproverSelect_TreePopUp @ref="refApproverSelect_TreePopUp"></ApproverSelect_TreePopUp>
<ApproverSelect_StepPopUp @ref="refApproverSelect_StepPopUp"></ApproverSelect_StepPopUp>
<Transfer_Denied @ref="refTransferDenied"></Transfer_Denied>
@code
{
    public string stSelectPath { get; set; }
    DropFileList dropFile;
    LogIn LogInPopUp;
    LogIn_GPKI refLogInGPKI;
    Transfer_Denied refTransferDenied;

    ApproverSelect_PopUp refApproverSelect_PopUp;
    ApproverSelect_TreePopUp refApproverSelect_TreePopUp;
    ApproverSelect_StepPopUp refApproverSelect_StepPopUp;

    public string strFileTrans = "";
    public string strFilePath = "";
    public string strAfterApprove = "";
    public string strLogin = "";
    public string strUrlAutoTrans = "";
    public string strCount = "";
    public string strRemainFile = "";
    public string strFileSend = "";
    public string strFileDel = "";
    public string strApprLine = "";
    public string strApproverAdd = "";


    private async Task UploadFiles()
    {
        await dropFile.UploadFiles();
    }


    protected override void OnInitialized()
    {
        InitText();

        action1 = AddDataList;
        action2 = RemoveDataList;
        action3 = ClearDataList;
        base.OnInitialized();
    }
    private async Task OpenGPKI()
    {
        await refLogInGPKI.openPopUp();
    }
    //전송예외 파일목록 팝업
    private async Task OpenSelector1()
    {
        await refApproverSelect_PopUp.openPopUp();
    }

    //결재자 선택 팝업-S
    private async Task OpenTransferDenied()
    {
        await refTransferDenied.openPopUp();
    }
    private async Task OpenSelector2()
    {
        await refApproverSelect_TreePopUp.openPopUp();
    }
    private async Task OpenSelector3()
    {
        await refApproverSelect_StepPopUp.openPopUp();
    }
    //결재자 선택 팝업-E
    private async Task OpenLogIn()
    {
        await LogInPopUp.openPopUp();
    }

    private void changeSelectPath(TreeEventArgs args)
    {
        stSelectPath = args.Value as string;
    }

    public async Task LoadJavaScript()
    {
        await JSRuntime.InvokeVoidAsync("loadJavaScript");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadJavaScript();
            await base.OnAfterRenderAsync(firstRender);
            //로그인 팝업 샘플 2020/07/01 YKH
            //await OpenLogIn();
            StateHasChanged();
        }
        //자바스크립트로 클릭방지 코드
        await stopClick();
    }

    private async Task ShowToast()
    {
        //type: success, info, waring, error 2020/07/02 YKH
        object[] param = { "success", "시스템", "시스템 토스트 메시지 입니다. 자동닫기가 가능한 토스트 메시지 함수호출로 수행됨." };
        await JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    private void onSelectFilePath(TreeEventArgs args)
    {
        stSelectPath = args.Value as string;
        Console.WriteLine("Event Trigered :" + stSelectPath);
    }

    private async Task stopClick()
    {
        object[] param = { "Message" };
        //DropZone 클릭방지코드
        //await JSRuntime.InvokeAsync<object>("stopClick");

        await JSRuntime.InvokeAsync<object>("InitDragAndDrop");
        await JSRuntime.InvokeAsync<object>("addMouseDown");
        await JSRuntime.InvokeAsync<object>("addMouseUp");
        await JSRuntime.InvokeAsync<object>("addDragStart");
    }

    private static Action<string, string> action1;
    private static Action<string> action2;
    private static Action action3;

    private void RemoveAllFile()
    {
        ClearDataList();
        dropFile.RemoveAllFile();
    }

    private void AddDataList(string str, string type)
    {
        DragAndDropService.AddDataList(str, type);
    }
    private void RemoveDataList(string str)
    {
        DragAndDropService.removeDataList(str);
    }
    private void ClearDataList()
    {
        DragAndDropService.clearDataList();
    }
    [JSInvokable("AddPath")]
    public static void AddPath(string path, string type)
    {
        Console.WriteLine("AddPath Call Excuted." + path + "    Type:" + type);
        action1.Invoke(path, type);
    }
    [JSInvokable("RemovePath")]
    public static void RemovePath(string path)
    {
        Console.WriteLine("AddPath Call Excuted." + path);
        action2.Invoke(path);
    }
    [JSInvokable("ClearPath")]
    public static void ClearPath()
    {
        Console.WriteLine("ClearPath Call Excuted.");
        action3.Invoke();
    }

    public void InitText()
    {
        strFileTrans = XmlConf.GetTitle("T_COMMON_FILETRANS");                          // 파일 전송
        strFilePath = XmlConf.GetTitle("T_FILE_FILEPATH");                              // 파일 경로
        strAfterApprove = XmlConf.GetTitle("T_FILE_APPROVEAFTERPROC");                  // 사후결재
        strLogin = XmlConf.GetTitle("T_COMMON_LOGIN");                                  // 로그인
        strUrlAutoTrans = XmlConf.GetTitle("T_INFO_USE_URLREDIRECT_AUTO");              // URL 자동전환 사용
        strCount = XmlConf.GetInfoMsg("I_0128");                                          // {0} 건
        strCount = String.Format(strCount, 10240);
        strRemainFile = XmlConf.GetTitle("T_ETC_ONEDAY_LEFT_FILE");                     // 남은 일일 파일전송
        strFileSend = XmlConf.GetTitle("T_FILE_SENDFILE");                              // 파일 보내기
        strFileDel = XmlConf.GetTitle("T_FILE_FILEDEL");                                // 파일 삭제
        strApprLine = XmlConf.GetTitle("T_FILE_APPROVELINE");                           // 결재라인
        strApproverAdd = XmlConf.GetTitle("T_FILE_APPROVER");                           // 결재자추가
    }
}
