@page "/transManage"
@using OpenNetLinkApp.Components.Grid
@using OpenNetLinkApp.Services
@using OpenNetLinkApp.Services.SGAppManager
@using OpenNetLinkApp.Models.SGSideBar
@using HsNetWorkSGData
@using OpenNetLinkApp.Models.SGNetwork
@using OpenNetLinkApp.Models.SGSideBar
@inject IJSRuntime jsRuntime
@inject XmlConfService XmlConf
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@strTransManTitleGap</h1>                        <!--전송 관리-->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@strTransManageTitle</li>            <!--전송관리-->
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- S file content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-12 col-sm-6 col-md-12">

                <div class="card card-primary card-outline mb-2 ">
                    <div class="card-body">


                        <table>
                            <colgroup>
                                <col width="*">
                                <col width="300px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="150px">
                            </colgroup>
                            <tr>
                                <th class="p-2">@strPeriod</th>                         <!--기간-->
                                <td>
                                    <input type="text" style="color:black;" class="form-control col-md-5 float-left" id="datepicker" readonly value=@strFromDay>
                                    <span class="float-left col-md-1">-</span>
                                    <input type="text" style="color:black;" class="form-control col-md-5 float-left" id="datepicker2" readonly value=@strToDay>
                                </td>
                                <th class="p-2"> @strTransKind </th>                     <!--전송구분-->
                                <td>
                                    <select class="form-control" @bind="strTransKindValue" style="width:100px;">
                                        <option> @strTotal</option>                        <!--전체-->
                                        <option> @strCarryIn</option>                        <!--반입-->
                                        <option> @strCarryOut</option>                        <!--반출-->
                                    </select>
                                </td>
                                <th class="p-2"> @strTransStatus </th>                         <!--전송상태-->
                                <td>
                                    <select class="form-control" @bind="strTransStatusValue" style="width:100px;">
                                        <option> @strTotal</option>                            <!--전체-->
                                        <option> @strTransWait</option>                         <!--전송대기-->
                                        <option> @strTransCancle</option>                          <!--전송취소-->
                                        <option> @strTransComplete</option>                        <!--전송완료-->
                                        <option> @strTransFail</option>                          <!--전송실패-->
                                        <option> @strTransInspect</option>                          <!--검사중-->
                                    </select>
                                </td>
                                <th class="p-2"> @strApprStatus </th>                             <!--승인상태-->
                                <td>
                                    <select class="form-control" @bind="strApprStatusValue" style="width:100px;">
                                        <option> @strTotal</option>                                <!--전체-->
                                        <option> @strApprWait</option>                              <!--승인대기-->
                                        <option> @strApprove</option>                                <!--승인-->
                                        <option> @strReject</option>                                <!--반려-->
                                        <option> @strApprCancle</option>                              <!--요청취소-->
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th class="p-2 pt-2"> @strTitle </th>                                  <!--제목-->
                                <td class="pt-2" colspan="7"><input type="text" class="form-control" placeholder=@strTitleInputInfo @bind="strTitleValue"></td>     <!--제목을 입력하여 주십시요.-->
                            </tr>
                        </table>

                    </div>



                </div>
            </div>
        </div>

        <div style="padding-left:30px;" class="row mb-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">@strReflesh</label>                        <!--새로고침-->
                    </div>
                </div>
            </div>

            <div class="col-sm-9 text-right">
                <button type="button" class="btn btn-md bg-gradient-secondary" @onclick="@TransSearch"><i class="fas fa-search pr-2"></i>@strSearch</button>                <!--조회-->
                <!--<button type="button" class="btn btn-md bg-gradient-primary"><i class="fas fa-file pr-2"></i>@strDownload</button>     -->              <!--다운로드-->
                <button type="button" class="btn btn-md bg-gradient-secondary" @onclick="@TransCancel"><i class="fas fa-times-circle pr-2"></i>@strTransCancle</button>        <!--전송취소-->
            </div>
        </div>
        <!-- list -->

        <div class="row">



            <div class="col-md-12">
                <div class="card card-secondary card-outline" style="height:100%;">


                    <form class="form-horizontal">

                        <div class="card-body  p-0">
                            <table class="table table-head-fixed table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">
                                            <input class="input" type="checkbox">
                                        </th>
                                        <th style="text-align:center">@strApproveKind</th>                         <!--결재종류-->
                                        <th style="text-align:center">@strTransKind</th>                         <!--전송구분-->
                                        <th style="text-align:center">@strTransStatus</th>                         <!--전송상태-->
                                        <th style="text-align:center">@strApprStatus</th>                         <!--승인상태-->
                                        <th style="text-align:center">@strFileForward</th>                         <!--파일전달-->
                                        <th style="text-align:center">@strTitle</th>                               <!--제목-->
                                        <th style="text-align:center">@strFileSendDay</th>                        <!--전송요청일-->
                                        <th style="text-align:center">@strDetail</th>                         <!--상세보기-->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (transData item in mData)
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                <input class="input" type="checkbox">
                                            </td>
                                            <td style="text-align:center">@item.ApvType</td>
                                            <td style="text-align:center">@item.TransferType</td>
                                            <td style="text-align:center">@item.TransferStatus</td>
                                            <td style="text-align:center">@item.ApvStatus</td>
                                            <td style="text-align:center">@item.IsFile</td>
                                            <td>@item.Title</td>
                                            <td style="text-align:center">@item.RequestTime</td>
                                            <td style="text-align:center"><button type="button" class="btn btn-default btn-xs pl-2 pr-2 pt-0 pb-0" @onclick="@(e=>OpenDetailPopUp(item.TransSeq))"><i class="fas fa-search"></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div class="card-body pt-0">

                            <!--S page -->


                            <div style="padding-top:1.25rem;">
                                <div style="float:left;">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">@strTotalPage : @nViewPageNo/@nTotalPages</div>  <!--총페이지-->
                                </div>
                                <Pagenator ViewPageCount="@viewPageCount" DispLimit=@dispLimit NViewPageNo="@nViewPageNo"
                                           NTotalPages="@nTotalPages" NStartPage="@nStartPage"
                                           UpdateListPagingInvoke="UpdateList"></Pagenator>
                            </div>


                            <!--/.S page -->


                        </div>






                        <!--footer test-->
                        <Footer></Footer>
                        <!--./footer test-->
                        <!-- /.card-footer -->


                    </form>

                    <!-- /.card-body -->
                </div>
            </div>

        </div>

        <!--/.list -->
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /S. file content -->

<TransPopUp @ref="refTransPopUp"></TransPopUp>

@code {
    TransPopUp refTransPopUp;
    public int TotalCount { get; set; }
    public List<transData> mData = new List<transData>();
    private int nPageListCount = 10;    //리스트에 뿌려질 단위갯수
    private int nViewPageNo = 0;
    private int nTotalPages = 1;
    private int viewPageCount = 10;  //pageing 에 뿌려질 앵커갯수
    private int nStartPage = 1;
    private int dispLimit = 1;

    public string strTransManTitleGap = "";
    public string strTransManageTitle = "";
    public string strPeriod = "";
    public string strTransKind = "";
    public string strTotal = "";
    public string strCarryIn = "";
    public string strCarryOut = "";
    public string strTransStatus = "";
    public string strTransComplete = "";
    public string strTransWait = "";
    public string strTransCancle = "";
    public string strApprStatus = "";
    public string strApprove = "";
    public string strApprWait = "";
    public string strReject = "";
    public string strApprCancle = "";
    public string strTitle = "";
    public string strReflesh = "";
    public string strSearch = "";
    public string strDownload = "";
    public string strApproveKind = "";
    public string strFileForward = "";
    public string strFileSendDay = "";
    public string strDetail = "";
    public string strTotalPage = "";
    public string strTransFail = "";
    public string strTransInspect = "";
    public string strTitleInputInfo = "";

    public string strFromDay = "";
    public string strToDay = "";

    ISGSideBarUIService SideBarUISvc;

    public string strTransKindValue = "";
    public string strTransStatusValue = "";
    public string strApprStatusValue = "";
    public string strTitleValue = "";

    private void UpdateList(int pageNumber)
    {
        nViewPageNo = pageNumber + 1;
        mData = ListData.Skip(pageNumber * nPageListCount).Take(nPageListCount).ToList();
    }

    //원데이타라고 가정함
    public List<transData> ListData = new List<transData>();

    public async Task OpenDetailPopUp(long transSeq)
    {
        Console.WriteLine("Open Detail Start" + transSeq.ToString());
        await refTransPopUp.openPopUp(transSeq);
    }
    protected override void OnInitialized()
    {

        ListData.Add(new transData(1, "선결", "반출", "PC수신완료", "승인", "사용", "자료전송 포워딩1", "2020/04/01 10:11:12"));
        ListData.Add(new transData(2, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩2", "2020/04/01 10:11:12"));
        ListData.Add(new transData(3, "후결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩3", "2020/04/01 10:11:12"));
        ListData.Add(new transData(4, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩4", "2020/04/01 10:11:12"));
        ListData.Add(new transData(5, "선결", "반출", "PC수신완료", "승인", "사용", "자료전송 포워딩5", "2020/04/01 10:11:12"));
        ListData.Add(new transData(6, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩6", "2020/04/01 10:11:12"));
        ListData.Add(new transData(7, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩7", "2020/04/01 10:11:12"));
        ListData.Add(new transData(8, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩8", "2020/04/01 10:11:12"));
        ListData.Add(new transData(9, "후결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩9", "2020/04/01 10:11:12"));
        ListData.Add(new transData(10, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩10", "2020/04/01 10:11:12"));
        ListData.Add(new transData(11, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩11", "2020/04/01 10:11:12"));
        ListData.Add(new transData(12, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩12", "2020/04/01 10:11:12"));
        ListData.Add(new transData(13, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩13", "2020/04/01 10:11:12"));
        ListData.Add(new transData(14, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩14", "2020/04/01 10:11:12"));
        ListData.Add(new transData(15, "후결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩15", "2020/04/01 10:11:12"));
        ListData.Add(new transData(16, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩16", "2020/04/01 10:11:12"));
        ListData.Add(new transData(17, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩17", "2020/04/01 10:11:12"));
        ListData.Add(new transData(18, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩18", "2020/04/01 10:11:12"));
        ListData.Add(new transData(19, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩19", "2020/04/01 10:11:12"));
        ListData.Add(new transData(20, "후결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩20", "2020/04/01 10:11:12"));
        ListData.Add(new transData(21, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩21", "2020/04/01 10:11:12"));
        ListData.Add(new transData(22, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩22", "2020/04/01 10:11:12"));
        ListData.Add(new transData(23, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩23", "2020/04/01 10:11:12"));
        ListData.Add(new transData(24, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩24", "2020/04/01 10:11:12"));
        ListData.Add(new transData(25, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩25", "2020/04/01 10:11:12"));

        TotalCount = ListData.Count;
        UpdateList(0);
        //페이징 계산
        dispLimit = 1;
        nTotalPages = (int)TotalCount / nPageListCount;
        if (TotalCount % nPageListCount > 0)
            nTotalPages++;
        nStartPage = nViewPageNo - (int)viewPageCount / 2;
        if (nStartPage < 1)
            nStartPage = 1;

        InitText();

        SideBarUISvc = SGAppMgrSvc.SideBarUIService;

        GetDateTime(out strFromDay, out strToDay);

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initApproveUI");
        }
        base.OnAfterRender(firstRender);
    }

    public void InitText()
    {
        strTransManTitleGap = XmlConf.GetTitle("T_COMMON_TRANSMANAGE_GAP");                 // 전송 관리
        strTransManageTitle = XmlConf.GetTitle("T_COMMON_TRANSMANAGE");                     // 전송관리
        strPeriod = XmlConf.GetTitle("T_COMMON_PERIOD");                                    // 기간
        strTransKind = XmlConf.GetTitle("T_COMMON_TRANSKIND");                              // 전송구분
        strTotal = XmlConf.GetTitle("T_COMMON_ALL");                                        // 전체
        strCarryIn = XmlConf.GetTitle("T_COMMON_IMPORT");                                   // 반입
        strCarryOut = XmlConf.GetTitle("T_COMMON_EXPORT");                                  // 반출
        strTransStatus = XmlConf.GetTitle("T_TRANS_STATUS");                                // 전송상태
        strTransComplete = XmlConf.GetTitle("T_DETAIL_TRANS_SUCCESS");                      // 전송완료
        strTransWait = XmlConf.GetTitle("T_COMMON_TRANSWAIT");                              // 전송대기
        strTransCancle = XmlConf.GetTitle("T_COMMON_TRANSCANCLE");                          // 전송취소
        strApprStatus = XmlConf.GetTitle("T_COMMON_APPROVESTATUS");                         // 승인상태
        strApprove = XmlConf.GetTitle("T_COMMON_APPROVE");                                  // 승인
        strApprWait = XmlConf.GetTitle("T_COMMON_APPROVE_WAIT");                            // 승인대기
        strReject = XmlConf.GetTitle("T_COMMON_REJECTION");                                 // 반려
        strApprCancle = XmlConf.GetTitle("T_COMMON_REQUESTCANCEL");                         // 요청취소
        strTitle = XmlConf.GetTitle("T_TRANS_TITLE");                                       // 제목
        strReflesh = XmlConf.GetTitle("T_COMMON_REFRESH");                                  // 새로고침
        strSearch = XmlConf.GetTitle("T_COMMON_SEARCH");                                    // 조회
        strDownload = XmlConf.GetTitle("T_TRANS_MANUAL_DOWNLOAD");                          // 다운로드
        strApproveKind = XmlConf.GetTitle("T_COMMON_APPROVE_KIND");                         // 결재종류
        strFileForward = XmlConf.GetTitle("T_ETC_FILEFORWARD");                             // 파일전달
        strFileSendDay = XmlConf.GetTitle("T_TRANS_DATE");                                  // 전송요청일
        strDetail = XmlConf.GetTitle("T_COMMON_DETAILVIEW");                                // 상세보기
        strTotalPage = XmlConf.GetTitle("T_TRANS_TOTALPAGE");                               // 총페이지
        strTransFail = XmlConf.GetTitle("T_COMMON_TRANSFAIL");                              // 전송실패
        strTransInspect = XmlConf.GetTitle("T_COMMON_TRANSCHECKING");                       // 검사중
        strTitleInputInfo = XmlConf.GetWarnMsg("W_0021");                                   // 제목을 입력하여 주십시오.

        strTransKindValue = strTotal;
        strTransStatusValue = strTotal;
        strApprStatusValue = strTotal;
        strTitleValue = "";
    }
    public void TransCancel()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGData sgLoginData = HSCmdCenter.GetLoginData(groupID);
        //string tmpUserID = ""
        //if(sgLoginData!=null)
        //   sgLoginData.GetUserID();
        string curUserID = "KS0002";
        string curTransSeq = "";
        string curAction = "2";
        string curReason = "사유";

        HSCmdCenter.SendTransCancel(groupID, curUserID, curTransSeq, curAction, curReason);
    }
    public void TransSearch()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGData sgLoginData = HSCmdCenter.GetLoginData(groupID);
        //string tmpUserID = ""
        //if(sgLoginData!=null)
        //   sgLoginData.GetUserID();
        string curUserID = "KS0002";
        string curTransKind = GetTransKind();
        string curTransStatus = GetTransStatus();
        string curApprStatus = GetApprStatus();
        string curTitle = strTitleValue;
        HSCmdCenter.SendFileTransInfo(groupID, curUserID, strFromDay,strToDay, curTransKind, curTransStatus, curApprStatus, "", curTitle, "");
    }
    public void GetDateTime(out string fromDate, out string toDate)
    {
        toDate = DateTime.Now.ToString("yyyy-MM-dd");
        string year = DateTime.Now.ToString("yyyy");
        string month = DateTime.Now.ToString("MM");
        string day = DateTime.Now.ToString("dd");
        int nYear = Convert.ToInt32(year);
        int nMonth = Convert.ToInt32(month);
        int nDay = Convert.ToInt32(day);
        System.DateTime Time_toDay = new System.DateTime(nYear, nMonth, nDay);
        fromDate = Time_toDay.AddDays(-7).ToString("yyyy-MM-dd");
    }


    public string GetTransKind()
    {
        string strValue = "";

        if (strTransKindValue.Equals(strTotal))                         // 전체
            strValue = "";
        else if (strTransKindValue.Equals(strCarryIn))                  // 반입
            strValue = "1";
        else if (strTransKindValue.Equals(strCarryOut))                 // 반출
            strValue = "2";
        else
            strValue = "";

        return strValue;
    }


    public string GetTransStatus()
    {
        string strValue="";

        if (strTransStatusValue.Equals(strTotal))                                 // 전체
            strValue = "";
        else if (strTransStatusValue.Equals(strTransComplete))                      // 전송완료
            strValue = "P";
        else if (strTransStatusValue.Equals(strTransWait))                          // 전송대기
            strValue = "W";
        else if (strTransStatusValue.Equals(strTransCancle))                        // 전송취소
            strValue = "C";
        else if (strTransStatusValue.Equals(strTransFail))                        // 전송실패
            strValue = "F";
        else if (strTransStatusValue.Equals(strTransInspect))                      // 검사중
            strValue = "V";
        else
            strValue = "";

        return strValue;
    }
    public string GetApprStatus()
    {
        string strValue = "";

        if (strApprStatusValue.Equals(strTotal))
            strValue = "";
        else if (strApprStatusValue.Equals(strApprWait))
            strValue = "1";
        else if (strApprStatusValue.Equals(strApprove))
            strValue = "2";
        else if (strApprStatusValue.Equals(strReject))
            strValue = "3";
        else if (strApprStatusValue.Equals(strApprCancle))
            strValue = "";

        return strValue;
    }

    public class transData
    {
        public long TransSeq { get; set; }
        public string ApvType { get; set; }                 //결재종류
        public string TransferType { get; set; }            //전송구분
        public string TransferStatus { get; set; }          //전송상태
        public string ApvStatus { get; set; }               //승인상태
        public string IsFile { get; set; }                  //파일전달
        public string Title { get; set; }                   //제목
        public string RequestTime { get; set; }             //전송요청일


        public transData(long seq, string apvtype, string transfertype, string transferstatus, string apvstatus, string isfile, string title, string reqtime)
        {
            TransSeq = seq;
            ApvType = apvtype;
            TransferType = transfertype;
            TransferStatus = transferstatus;
            ApvStatus = apvstatus;
            IsFile = isfile;
            Title = title;
            RequestTime = reqtime;
        }
    }
}
