@page "/transManage"
@using OpenNetLinkApp.Components.Grid
@inject IJSRuntime jsRuntime

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">전송 관리</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">전송관리</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- S file content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-12 col-sm-6 col-md-12">

                <div class="card card-primary card-outline mb-2 ">
                    <div class="card-body">


                        <table>
                            <colgroup>
                                <col width="*">
                                <col width="300px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="120px">
                                <col width="*">
                                <col width="150px">
                            </colgroup>
                            <tr>
                                <th class="p-2">기간</th>
                                <td>
                                    <input type="text" class="form-control col-md-5 float-left" id="datepicker" readonly value="2020-06-24">
                                    <span class="float-left col-md-1">-</span>
                                    <input type="text" class="form-control col-md-5 float-left" id="datepicker2" readonly value="2020-06-26">
                                </td>
                                <th class="p-2"> 전송구분 </th>
                                <td>
                                    <select class="form-control" style="width:100px;">
                                        <option> 전체</option>
                                        <option> 반입</option>
                                        <option> 반출</option>
                                    </select>
                                </td>
                                <th class="p-2"> 전송상태 </th>
                                <td>
                                    <select class="form-control" style="width:100px;">
                                        <option> 전체</option>
                                        <option> 전송완료</option>
                                        <option> 전송대기</option>
                                        <option> 전송취소</option>
                                    </select>
                                </td>
                                <th class="p-2"> 승인상태 </th>
                                <td>
                                    <select class="form-control" style="width:100px;">
                                        <option> 전체</option>
                                        <option> 승인</option>
                                        <option> 승인대기</option>
                                        <option> 반려</option>
                                        <option> 요청취소</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th class="p-2 pt-2"> 제목 </th>
                                <td class="pt-2" colspan="7"><input type="text" class="form-control" placeholder="제목을 입력해 주세요."></td>
                            </tr>
                        </table>

                    </div>



                </div>
            </div>
        </div>

        <div style="padding-left:30px;" class="row mb-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">새로고침</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 text-right">
                <button type="button" class="btn btn-md bg-gradient-secondary"><i class="fas fa-search pr-2"></i>조회</button>
                <button type="button" class="btn btn-md bg-gradient-primary"><i class="fas fa-file pr-2"></i>다운로드</button>
                <button type="button" class="btn btn-md bg-gradient-secondary"><i class="fas fa-times-circle pr-2"></i>전송취소</button>
            </div>
         </div>
        <!-- list -->

        <div class="row">



            <div class="col-md-12">
                <div class="card card-secondary card-outline" style="height:100%;">


                    <form class="form-horizontal">

                        <div class="card-body  p-0">
                            <table class="table table-head-fixed table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">
                                            <input class="input" type="checkbox">
                                        </th>
                                        <th style="text-align:center">결재종류</th>
                                        <th style="text-align:center">전송구분</th>
                                        <th style="text-align:center">전송상태</th>
                                        <th style="text-align:center">승인상태</th>
                                        <th style="text-align:center">파일전달</th>
                                        <th style="text-align:center">제목</th>
                                        <th style="text-align:center">전송요청일</th>
                                        <th style="text-align:center">상세보기</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (transData item in mData)
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                <input class="input" type="checkbox">
                                            </td>
                                            <td style="text-align:center">@item.ApvType</td>
                                            <td style="text-align:center">@item.TransferType</td>
                                            <td style="text-align:center">@item.TransferStatus</td>
                                            <td style="text-align:center">@item.ApvStatus</td>
                                            <td style="text-align:center">@item.IsFile</td>
                                            <td>@item.Title</td>
                                            <td style="text-align:center">@item.RequestTime</td>
                                            <td style="text-align:center"><button type="button" class="btn btn-default btn-xs pl-2 pr-2 pt-0 pb-0" @onclick="@(e=>OpenDetailPopUp(item.TransSeq))"><i class="fas fa-search"></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div class="card-body pt-0">

                            <!--S page -->


                            <div style="padding-top:1.25rem;">
                                <div style="float:left;">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">총페이지 : @nViewPageNo/@nTotalPages</div>
                                </div>
                                <Pagenator ViewPageCount="@viewPageCount" DispLimit=@dispLimit NViewPageNo="@nViewPageNo"
                                           NTotalPages="@nTotalPages" NStartPage="@nStartPage"
                                           UpdateListPagingInvoke="UpdateList"></Pagenator>
                            </div>


                            <!--/.S page -->


                        </div>






                        <!--footer test-->
                        <div class="card-footer" style="padding:.5rem 1.25rem !important; font-size:.8rem !important;">
                            <div style="float:left; width:50%;">
                                <div class="dataTable_info" id="example2_info" role="status" aria-live="polite">
                                    <span><i class="fas fa-globe"></i>&nbsp;URL 자동전환 사용</span>
                                </div>
                            </div>

                            <div style="float:right; width:auto;">

                                <ul class="pagination pagination-sm m-0 ">
                                    <li>남은 일일 파일전송 : </li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label" />15,000 MB </li>
                                    <li style="padding:5px 10px; width:100px;">
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%; vertical-align:middle;">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li><label class="form-check-label" />10240 건 </li>
                                </ul>

                            </div>

                        </div>
                        <!--./footer test-->
                        <!-- /.card-footer -->


                    </form>

                    <!-- /.card-body -->
                </div>
            </div>

        </div>

        <!--/.list -->
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /S. file content -->

<TransPopUp @ref="refTransPopUp"></TransPopUp>

@code {
    TransPopUp refTransPopUp;
    public int TotalCount { get; set; }
    public List<transData> mData = new List<transData>();
    private int nPageListCount = 10;    //리스트에 뿌려질 단위갯수
    private int nViewPageNo = 0;
    private int nTotalPages = 1;
    private int viewPageCount = 10;  //pageing 에 뿌려질 앵커갯수
    private int nStartPage = 1;
    private int dispLimit = 1;

    private void UpdateList(int pageNumber)
    {
        nViewPageNo = pageNumber + 1;
        mData = ListData.Skip(pageNumber * nPageListCount).Take(nPageListCount).ToList();
    }

    //원데이타라고 가정함
    public List<transData> ListData = new List<transData>();

    public async Task OpenDetailPopUp(long transSeq)
    {
        Console.WriteLine("Open Detail Start" + transSeq.ToString());
        await refTransPopUp.openPopUp(transSeq);
    }
    protected override void OnInitialized()
    {

        ListData.Add(new transData(1, "선결", "반출",  "PC수신완료","승인", "사용", "자료전송 포워딩1", "2020/04/01 10:11:12"));
        ListData.Add(new transData(2, "선결", "반출",  "전송대기", "승인", "사용", "자료전송 포워딩2", "2020/04/01 10:11:12"));
        ListData.Add(new transData(3, "후결", "반출",  "전송취소", "승인", "사용", "자료전송 포워딩3", "2020/04/01 10:11:12"));
        ListData.Add(new transData(4, "선결", "반출",  "전송대기", "승인", "사용", "자료전송 포워딩4", "2020/04/01 10:11:12"));
        ListData.Add(new transData(5, "선결", "반출",  "PC수신완료", "승인", "사용", "자료전송 포워딩5", "2020/04/01 10:11:12"));
        ListData.Add(new transData(6, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩6", "2020/04/01 10:11:12"));
        ListData.Add(new transData(7, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩7", "2020/04/01 10:11:12"));
        ListData.Add(new transData(8, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩8", "2020/04/01 10:11:12"));
        ListData.Add(new transData(9, "후결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩9", "2020/04/01 10:11:12"));
        ListData.Add(new transData(10, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩10", "2020/04/01 10:11:12"));
        ListData.Add(new transData(11, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩11", "2020/04/01 10:11:12"));
        ListData.Add(new transData(12, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩12", "2020/04/01 10:11:12"));
        ListData.Add(new transData(13, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩13", "2020/04/01 10:11:12"));
        ListData.Add(new transData(14, "선결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩14", "2020/04/01 10:11:12"));
        ListData.Add(new transData(15, "후결", "반출", "전송취소", "승인", "사용", "자료전송 포워딩15", "2020/04/01 10:11:12"));
        ListData.Add(new transData(16, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩16", "2020/04/01 10:11:12"));
        ListData.Add(new transData(17, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩17", "2020/04/01 10:11:12"));
        ListData.Add(new transData(18, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩18", "2020/04/01 10:11:12"));
        ListData.Add(new transData(19, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩19", "2020/04/01 10:11:12"));
        ListData.Add(new transData(20, "후결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩20", "2020/04/01 10:11:12"));
        ListData.Add(new transData(21, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩21", "2020/04/01 10:11:12"));
        ListData.Add(new transData(22, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩22", "2020/04/01 10:11:12"));
        ListData.Add(new transData(23, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩23", "2020/04/01 10:11:12"));
        ListData.Add(new transData(24, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩24", "2020/04/01 10:11:12"));
        ListData.Add(new transData(25, "선결", "반출", "전송대기", "승인", "사용", "자료전송 포워딩25", "2020/04/01 10:11:12"));

        TotalCount = ListData.Count;
        UpdateList(0);
        //페이징 계산
        dispLimit = 1;
        nTotalPages = (int)TotalCount / nPageListCount;
        if (TotalCount % nPageListCount > 0)
            nTotalPages++;
        nStartPage = nViewPageNo - (int)viewPageCount / 2;
        if (nStartPage < 1)
            nStartPage = 1;


        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            jsRuntime.InvokeAsync<object>("initApproveUI");
        }
        base.OnAfterRender(firstRender);
    }

    public class transData
    {
        public long TransSeq { get; set; }
        public string ApvType { get; set; }                 //결재종류
        public string TransferType { get; set; }            //전송구분
        public string TransferStatus { get; set; }          //전송상태
        public string ApvStatus { get; set; }               //승인상태
        public string IsFile { get; set; }                  //파일전달
        public string Title { get; set; }                   //제목
        public string RequestTime { get; set; }             //전송요청일


        public transData(long seq, string apvtype, string transfertype, string transferstatus, string apvstatus, string isfile, string title, string reqtime)
        {
            TransSeq = seq;
            ApvType = apvtype;
            TransferType = transfertype;
            TransferStatus = transferstatus;
            ApvStatus = apvstatus;
            IsFile = isfile;
            Title = title;
            RequestTime = reqtime;
        }
    }
}
