@using OpenNetLinkApp.Services
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using System.Runtime.InteropServices
@using System.Diagnostics
@using OpenNetLinkApp.PageEvent
@using HsNetWorkSGData
@using AgLogManager
@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject PageStatusService pageService

<div class="modal fade" id="TransPopUp" data-backdrop="static" data-keyboard="false" style="z-index:5000;">
    <div class="modal-dialog modal-dialog-top" style="vertical-align:top;">
        <div class="modal-content">
            <div class="modal-header modal-outline">
                <h5 class="modal-title pt-1 text-bold">@strTransDetailTitle</h5>                              <!--전송 상세보기-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->

                <div class="card-body pt-0">
                    <div class="modal-sub-title mb-2"> @strArrpHistory </div>                                  <!--결재내역-->
                    <table class="table table-bordered blue">
                        <tbody>
                            <tr>
                                <th>@strTransKind </th>                                                      <!--전송구분-->
                                <td style="text-align:center;">@strDataTransKind</td>
                                <th>@strTransStatus </th>                                                       <!--전송상태-->
                                <td style="text-align:center;">@strDataTransStatus</td>
                                <th>@strFilePos </th>                                                       <!--파일위치-->
                                <td style="text-align:center;">@strDataFilePos</td>

                                @if (bUseDlpDataView)
                                {
                                    <th>@XmlConf.GetTitle("T_COMMON_PRIVACY") </th>
                                    <!--개인정보-->
                                    <td style="text-align:center;">@strDLP</td>
                                }

                            </tr>

                            <tr>
                                <th>@strApprKind</th>                                                       <!--승인구분-->
                                <td style="text-align:center;">@strDataApprKind</td>
                                <th>@strApprStatus</th>                                                       <!--승인상태-->
                                <td style="text-align:center;">@strDataApprStatus</td>

                                @* m_nDataForwarded - 데이터 포워딩 여부  0 : 포워딩한 사용자가 없음, 1 : 포워딩한 사용자가 있음. 2 : 포워딩받은 사용자.	D:\01.Works\source\OpenNetLink\src\OpenNetLinkApp\Data\SGDicData\SGUnitData\SGDetailData.cs	181	16*@
                                @if (m_nDataForwarded != 0)
                                {
                                    <!--승인요청일-->
                                    <th>@strApprReqDay</th>
                                    <td style="text-align:center;">@strDataApprReqDay</td>

                                    <!--수신자/전송자-->
                                    <th>@strReciver</th>
                                    @if (listForwaredUserInfo != null && listForwaredUserInfo.Count > 1)
                                    {
                                        <td style="text-align:center;" colspan="3">
                                            @strDataForwardReciver
                                            @if (m_nDataForwarded == 1)
                                            {
                                                <a class="btn btn-default btn-xs pl-2 pr-2 pt-0 pb-0" data-toggle="dropdown" href="#">
                                                    <i class="fas fa-search"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style=" right:0px; height:135px; overflow-y:scroll;">
                                                    <table id="table1" class="table table-head-fixed table-bordered table-hover" style="table-layout: fixed;">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center;width:7%;">@strUserName</th>                         <!--이름-->
                                                    <th style="text-align:center;width:7%;">@strUserPosition</th>                         <!--직급-->
                                                    <th style="text-align:center;width:8%;">@strUserDept</th>                        <!--부서-->
                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (Dictionary<int, string> item in listForwaredUserInfo)
                                                            {
                                                                <tr class="TransSearch">
                                                                    <td style="text-align:center">@item[0]</td>
                                                                    <td style="text-align:center">@item[1]</td>
                                                                    <td style="text-align:center">@item[2]</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center;" colspan="3">@strDataForwardReciver</td>
                                    }
                                }
                                else
                                {
                                    <th>@strApprReqDay</th>
                                    <!--승인요청일-->
                                    <td style="text-align:center;" colspan="3">@strDataApprReqDay</td>
                                }
                            </tr>

                            @if (listPreworkInfo.Count > 0)             //검사단계표시 (검사완료/검사중/검사대기로 각각 상태 및 배경색 표시)
                            {
                                <tr>
                                    <th>@strPreworkStep</th>
                                    <td colspan="7">
                                        <table class="table-borderless" style="width:100%">
                                            <tr>
                                                @foreach (Tuple<string, string, string> scanValue in listPreworkInfo)
                                                {
                                                    <td style="text-align:center;font-weight:bold;background-color:@scanValue.Item3">@($"{scanValue.Item1} {scanValue.Item2}")</td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                            @* <tr>
                                <th>검사상태TEST1</th>                                                     <!--검사상태-->
                                <td colspan="7">
                                <table class="table-borderless" style="width:100%">
                                <tr>
                                <td style="text-align:center;font-weight:bold;background-color:@preworkCompleteBackColor">개인정보 검사 완료</td>
                                <td style="text-align:center;font-weight:bold;background-color:@preworkCompleteBackColor">DRM 연동 완료</td>
                                <td style="text-align:center;font-weight:bold;background-color:@preworkScanningBackColor">APT 검사 중</td>
                                <td style="text-align:center;font-weight:bold">바이러스 검사 대기</td>
                                </tr>
                                </table>
                                </td>
                                </tr>
                                <tr>
                                <th>검사상태TEST2</th>                                                     <!--검사상태-->
                                <td colspan="7">
                                <table class="table-borderless" style="width:100%">
                                <tr>
                                <td style="text-align:center;font-weight:bold;background-color:@preworkScanningBackColor">개인정보 검사 중</td>
                                <td style="text-align:center;font-weight:bold;background-color:@preworkWaitBackColor">DRM 연동 대기</td>
                                </tr>
                                </table>
                                </td>
                                </tr>
                            *@
                            <tr>
                                <th>@strTitle</th>                                                     <!--제목-->
                                <td colspan="7">@strDataTitle</td>
                            </tr>

                            <tr>
                                <th>@strDesc</th>                                                     <!--설명-->
                                <td colspan="7">
                                    @strDataDesc
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body pt-0 pb-0">
                    <div class="col-md-12  clearfix p-0">
                        <div class="float-left modal-sub-title mt-2">
                            <!--파일정보-->
                            @strFileInfo
                        </div>
                        @if (m_bNetDownloadable)
                        {
                            <div class="float-right mb-2">
                                <span class="float-left modal-sub-title mt-2">@m_downMaxCurr</span>&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-info btn-sm" @onclick="requestManualDownload"><i class="fas fa-angle-double-down fa-lg"></i>@XmlConf.GetTitle("T_TRANS_MANUAL_DOWNLOAD")</button>
                            </div>
                        }
                    </div>
                    <table class="table table-head-fixed table-bordered table-hover white" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="text-align:center;width:40%;">@strFileName </th>         <!--파일명-->
                                <th style="text-align:center;">@strFileType </th>                   <!--유형-->
                                <th style="text-align:center;">@strFileSize </th>                   <!--크기-->
                                <th style="text-align:center;width:15%;">@strVirusHistory </th>     <!--바이러스내역-->

                                @if (bUseDlpDataView)
                                { 
                                    <th style="text-align:center;width:15%;">@XmlConf.GetTitle("T_COMMON_PRIVACY")</th>     <!--개인정보 내역-->
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @if (mFileData != null)
                            {
                                foreach (FileInfoData item in mFileData)
                                {
                                    <tr>
                                        <td style="text-align:left;width:50%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">@item.strFileName</td>
                                        <td style="text-align:center;">@item.strFileType</td>
                                        <td style="text-align:center;">@item.strFileSize</td>
                                        <td style="text-align:center;">@item.strVirusHistory</td>

                                        @if (bUseDlpDataView)
                                        { 
                                            <td style="text-align:center;">@item.stDLPDesc</td>
                                        }

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <div class="card-body pb-0">
                    <div class="modal-sub-title mb-2"> @strApproverInfo </div>         <!--결재자정보-->
                    <table class="table table-bordered blue">
                        <tbody>
                            <tr>
                                <th>@strApprover</th>                                    <!--승인자-->
                                <td>@strDataLastApprName</td>
                                <th>@strApproveStatus</th>                                   <!--승인상태-->
                                <td>@strDataLastApprStatus</td>
                                <th>@strApproveDay</th>                                        <!--승인일-->
                                <td>@strDataLastApprDay</td>
                                <td>
                                    <div class="col-md-12 float-left">

                                        <div class="navbar-nav ml-auto txte-right">
                                            <!-- Messages Dropdown Menu -->
                                            <div class="nav-item dropdown show">
                                                <a class="nav-link p-0" data-toggle="dropdown" href="#" aria-expanded="true" hidden="@bApprHistHidden">
                                                    <i class="fas fa-list-alt fa-lg"></i>
                                                    <span class="pl-1 pr-1">승인이력</span>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right" style=" right:0px; height:135px; overflow-y:scroll;transform:matrix3d(-338px,19px,0px);">
                                                    <div class="dropdown-title">
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <div class="col-md-3 float-left dropdown-item-title1">승인자</div>
                                                                <div class="col-md-2 float-left dropdown-item-title1">상태</div>
                                                                <div class="col-md-4 float-left dropdown-item-title1">승인일</div>
                                                                <div class="col-md-3 float-left dropdown-item-title1">반려사유</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @foreach (ApprHist appritem in apprHList)
                                                    {
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item">
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <div class="col-md-3 float-left dropdown-item-title1">@appritem.strName</div>
                                                                    <div class="col-md-2 float-left dropdown-item-title1">@appritem.strApprStatus</div>
                                                                    <div class="col-md-4 float-left dropdown-item-title1">@appritem.strApprDay</div>
                                                                    <div class="col-md-3 float-left dropdown-item-title1">@appritem.strReason</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>@strRejectReason</th>                                   <!--반려사유-->
                                <td colspan="6">
                                    @strDataLastApprRejectReason
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <!--/. content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-red mr-0" disabled="@m_bTransCancel" @onclick="DetailTransCancel"><i class="fas fa-times-circle"></i>@strTransCancle</button>
                <button type="button" class="btn btn-md btn-black mr-0" @onclick="closePopUp"><i class="fas fa-times"></i>@strClose</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {

    public class ApprHist
    {
        public string strName = "";                // 이름
        public string strApprStatus = "";          // 결재상태
        public string strApprDay = "";             // 승인일
        public string strReason = "";              // 반려사유

        public ApprHist()
        {
            strName = strApprStatus = strApprDay = strReason = "";
        }

        public ApprHist(string Name, string ApprStatus, string ApprDay, string Reason)
        {
            strName = Name;
            strApprStatus = ApprStatus;
            strApprDay = ApprDay;
            strReason = Reason;
        }
    }

    public bool bUseDlpDataView = true;

    public string strTransDetailTitle = "";
    public string strArrpHistory = "";
    public string strTransKind = "";
    public string strTransStatus = "";
    public string strFilePos = "";
    public string strExpiredDay = "";
    public string strApprKind = "";
    public string strApprStatus = "";
    public string strApprReqDay = "";
    public string strReciver = "";
    public string strTitle = "";
    public string strDesc = "";
    public string strFileInfo = "";
    public string strFileName = "";
    public string strFileType = "";
    public string strFileSize = "";
    public string strFileFolder = "";
    public string strVirusHistory = "";
    public string strVirusExamDay = "";
    public string strApproverInfo = "";
    public string strApprover = "";
    public string strApproveStatus = "";
    public string strApproveDay = "";
    public string strRejectReason = "";
    public string strTransCancle = "";
    public string strClose = "";

    public string strUserName = "";                         // 이름
    public string strUserPosition = "";                     // 직책
    public string strUserDept = "";                         // 부서

    public string strDataTransKind = "";                    // 전송구분
    public string strDataTransStatus = "";                  // 전송상태
    public string strDataFilePos = "";                      // 파일위치
    public string strDataApprKind = "";                     // 승인구분
    public string strDataApprStatus = "";                   // 승인상태
    public string strDataApprReqUser = "";                  // 승인 요청자
    public string strDataApprStatusCode = "";               //승인상태 코드
    public string strDataApprReqDay = "";                   // 승인요청일
    public string strDataTitle = "";                        // 제목
    public string strDataDesc = "";                         // 설명

    public string strDataForwardReciver = "";               //수신자
    public string strDataLastApprName = "";                 // 승인자
    public string strDataLastApprStatus = "";               // 승인상태
    public string strDataLastApprDay = "";                  // 승인일
    public string strDataLastApprRejectReason = "";         // 반려사유
    public string strDLP = String.Empty;                    //개인정보 검출여부
    public string strPreworkStep = "";                        //검사단계표시

    public bool m_bTransCancel;                             // 전송취소 가능 상태 여부
    public long m_transSeq = 0;

    const string preworkCompleteBackColor = "#58BBF0";           //검사단계 완료인 항목 배경색
    const string preworkScanningBackColor = "#BFE8FA";           //검사단계 검사 중인 항목 배경색
    const string preworkWaitBackColor = "#FFFFFF";           //검사단계 대기인 항목 배경색



    ISGSideBarUIService SideBarUISvc;

    [Parameter]
    public EventCallback<string> OnClose { get; set; }

    public List<FileInfoData> mFileData = new List<FileInfoData>();
    List<Dictionary<int, string>> listForwaredUserInfo = null;
    List<ApprHist> apprHList = new List<ApprHist>();
    public bool bApprHistHidden = false;

    List<Tuple<string, string, string>> listPreworkInfo = new List<Tuple<string, string, string>>(); //이름, 상태, 색깔      //검사단계표시

    private bool m_bNetDownloadable = false; //망에 따라 다운가능한지 여부 판단(내부망은 반입, 외부망은 반출)
    public int m_downloadCount = 0;
    public string m_downMaxCurr = "";
    private bool m_bFileDownloading = false;
    public int m_nDataForwarded = -1;
    ISGAppConfigService sgAppConfig;
    private static Serilog.ILogger CLog => Serilog.Log.ForContext<TransPopUp>();


    private void requestManualDownload()
    {
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string curUserID = "";
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        SGDetailData sgDetailData = null;
        sgDetailData = (SGDetailData)HSCmdCenter.GetDetailData(groupID);
        if (sgDetailData == null)
            return;

        HSCmdCenter.sgPageEvent.SetFileRecvProgressEventAdd(FileDownloadProgressNoti);
        string curTransSeq = sgDetailData.GetTransSeq();
        ShowProgress(groupID, 1, 0, "DOWNLOAD");
        HSCmdCenter.RequestManualDownload(groupID, curUserID, curTransSeq);
        return;
    }

    public void FileDownloadProgressNoti(int groupID, PageEventArgs e)
    {

        CLog.Here().Information($"TransPopUp - FileDownloadProgressNoti - groupID : {groupID} - (#####)");

        string strMsg = "";
        if (e.result != 0)
        {
            strMsg = XmlConf.GetErrMsg("E_0219");           // 파일 수신 중 오류가 발생되었습니다.
            ShowMessage("error", strMsg);
            return;
        }
        string sFileName = e.strMsg;
        int per = e.count;
        int type = 0;
        if (per >= 100)
        {

            HSCmdCenter.sgPageEvent.ReSetFileRecvProgressEventAdd();

            type = 2;
            ShowProgress(groupID, type, 100, sFileName);
            Task.Delay(500);
            type = 3;                                       // close
            pageService.SetFileRecving(false);

        }
        else if ((per > 0) && (per < 100))
        {
            type = 2;                                       // update
            pageService.SetFileRecving(true);
        }
        else if (per == 0)
        {
            bool bRecving = false;
            bRecving = HSCmdCenter.GetFileRecving(groupID);
            if (bRecving == true)
                return;

            type = 1;                                        // open
            HSCmdCenter.SetFileRecving(groupID, true);
        }
        else
            return;

        ShowProgress(groupID, type, per, sFileName);
    }

    /// <summary>
    /// ProGressBar UI Poopup 및 UI 표현(type : 1 - open , 2 - update ,3 -close)
    /// </summary>
    /// <param name="groupID"></param>
    /// <param name="type"></param>
    /// <param name="per"></param>
    /// <param name="sFileName"></param>
    private async void ShowProgress(int groupID, int type, int per, string sFileName)
    {
        object[] param = { };
        string identifier = "";
        string strID = groupID.ToString();
        //strID = strFileName;
        strID = "FILEDOWNLOAD";
        string strProgress = String.Format("{0}%", per);
        string strFileRecvInfo = "";
        if (per == 0)
        {
            string strInfoStart = XmlConf.GetInfoMsg("I_0203");                 // 다른 서버에서 파일을 탐색하는 중입니다./r/n잠시만 기다려 주십시요.
            strInfoStart = strInfoStart.Replace("/r/n", "<br>");
            strFileRecvInfo = strFileRecvInfo + strInfoStart;
        }
        else
        {
            strFileRecvInfo = XmlConf.GetWarnMsg("W_0087");                     // 파일 수신중 입니다./r/n잠시만 기다려 주십시오.
            strFileRecvInfo = strFileRecvInfo.Replace("/r/n", "<br>");
        }
        strFileRecvInfo = strFileRecvInfo + "<br>";

        string strProgressInfo = XmlConf.GetTitle("T_FILERECV_PER");           // 파일 수신 진행률
        string strProgressInfoStart =

        strFileRecvInfo = strFileRecvInfo + strProgressInfo + " : " + strProgress;

        switch (type)
        {
            case 1:
                string strTitleName = XmlConf.GetTitle("T_TRANS_MANUAL_DOWNLOAD");
                identifier = "fireProgressMessage";
                param = new object[3];
                param[0] = strID;
                param[1] = strTitleName;
                param[2] = strFileRecvInfo;
                pageService.SetFileRecving(true);
                await Task.Delay(100);
                break;
            case 2:
                identifier = "updateProgressMessage";
                param = new object[3];
                param[0] = strID;
                param[1] = strFileRecvInfo;
                param[2] = strProgress;
                await Task.Delay(500);
                break;
            case 3:
                identifier = "closeProgressMessage";
                param = new object[1];
                param[0] = strID;
                pageService.SetFilePrevRecving(false);
                await Task.Delay(1000);
                break;
            default:
                break;
        }
        await JSRuntime.InvokeAsync<object>(identifier, param);

        if (type == 3)
        {
            if (sFileName.Equals(""))
                return;

            if (m_bFileDownloading)
                return;
            else
                m_bFileDownloading = true;

            string strRecvDownPath = "";
            strRecvDownPath = HSCmdCenter.GetDownLoadPath(groupID);
            if (strRecvDownPath.Equals(""))
                return;

            ProcessStartInfo pi = new ProcessStartInfo(strRecvDownPath);
            pi.Arguments = Path.GetFileName(strRecvDownPath);
            pi.UseShellExecute = true;
            pi.WorkingDirectory = Path.GetDirectoryName(strRecvDownPath);
            pi.FileName = strRecvDownPath;
            pi.Verb = "OPEN";
            Process.Start(pi);
            m_bFileDownloading = false;

            //다운로드 완료후 다운로드 카운트 재요청
            SGLoginData sgLoginData = null;
            sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
            if (sgLoginData == null)
                return;
            string strUserID = sgLoginData.GetUserID();

            HSCmdCenter.SendDownloadCount(groupID, strUserID, m_transSeq.ToString());
        }
    }
    public async Task openPopUp(long seq)
    {
        m_transSeq = seq;
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGLoginData sgLoginData = null;
        sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        if (sgLoginData == null)
            return;
        string strUserID = sgLoginData.GetUserID();

        HSCmdCenter.sgPageEvent.SetDownloadCountEventAdd(groupID, ReceiveDownloadCount);
        HSCmdCenter.SendDownloadCount(groupID, strUserID, seq.ToString());

        await Task.Delay(300);  // KKW-download개수 의심됨

        object[] param = { "TransPopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void ReceiveDownloadCount(int groupID, SGData e)
    {

        SGLoginData sgLoginData = null;

        try
        {
            string result = e.GetSvrRecordTagData("RESULT");
            int count = 0;
            bool bGetDownCount = false;
            CLog.Here().Information($"DownLoadCount-RESULT : {result}");

            if (e.GetSvrRecordTagData("DOWNCOUNT") == "" || e.GetSvrRecordTagData("DOWNCOUNT") == null)
            {
                count = 0;
                CLog.Here().Information($"DownLoadCount-DOWNCOUNT : null or Empty!");
            }
            else
            {
                bGetDownCount = true;
                count = Int32.Parse(e.GetSvrRecordTagData("DOWNCOUNT"));  //결과레코드수
            }

            CLog.Here().Information($"DownLoadCount-DOWNCOUNT : {count}");

            string reason = e.GetSvrRecordTagData("REASON");

            if (result != "0")
            {
                ShowMessage("error", reason);
                return;
            }
            m_downloadCount = count;
            sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
            if (sgLoginData == null) return;

            m_downMaxCurr = $"{XmlConf.GetTitle("T_ETC_DOWNLOADCOUNT")} :  {m_downloadCount} / {sgLoginData.GetMaxDownCount()}";

            //웹매니저 파일 다운로드 횟수 제한 : 0 일 경우는 미사용이라는 의미
            if (m_bNetDownloadable && sgLoginData.GetMaxDownCount() > 0)
            {
                if (m_downloadCount < sgLoginData.GetMaxDownCount())
                    m_bNetDownloadable = true;
                else
                {
                    m_bNetDownloadable = false;
                }
            }

        }
        catch (Exception ex)
        {
            CLog.Here().Information($"#####(DownLoadCount-확인) - Exception[MSG] : {ex.Message}");
        }

        StateHasChanged();
        CLog.Here().Information($"#####(DownLoadCount-확인)-m_bNetDownloadable-##### : [{m_bNetDownloadable.ToString()}] (NowDownload-Count:{m_downloadCount}, MaxDownloadCount : {((sgLoginData==null)?"null":sgLoginData.GetMaxDownCount().ToString())})");
    }

    public void closePopUp()
    {
        OnClose.InvokeAsync("close");

        object[] param = { "TransPopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    protected override void OnInitialized()
    {
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        sgAppConfig = SGAppMgrSvc.AppConfigInfoService;

        InitText();

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;
        bUseDlpDataView = SGAppMgrSvc.OpConfigInfoService.GetUseUIdlpData(groupID);
    }

    public void SetBindingData()
    {
        bApprHistHidden = false;
        m_bNetDownloadable = false;
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGDetailData sgDetailData = null;
        sgDetailData = (SGDetailData)HSCmdCenter.GetDetailData(groupID);
        if (sgDetailData == null)
            return;

        strDataTransKind = sgDetailData.GetTransKind();                                     // 전송구분
        strDataTransStatus = sgDetailData.GetTransStatus();                                 // 전송상태

        //검사단계표시 설정
        SetPreworkInfo(sgDetailData.GetPreworkStep(), sgDetailData.GetBasicTagData("TRANSSTATUS"));

        CLog.Here().Information($"DetailData- ##### - TranSeq : {sgDetailData.GetTransSeq()}");

        //*************************************************************************************************************************
        //수동다운로드 가능여부 판단 2021/05/24 YKH 시작
        //수동다운로드를 위해 전송완료되서 다운로드 할 위치 접근한것인지 확인
        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        bool bInner = false;

        if (sgLoginData != null)
            bInner = sgLoginData.GetSystemPosition();   // 망구분 true : 내부, false : 외부

        if (!bInner && strDataTransKind == XmlConf.GetTitle("T_COMMON_EXPORT"))
            m_bNetDownloadable = true;
        else if (bInner && strDataTransKind == XmlConf.GetTitle("T_COMMON_IMPORT"))
            m_bNetDownloadable = true;

        CLog.Here().Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (IN/EX : {bInner.ToString()}, IN/EX Title : {strDataTransKind})");


        //수동다운로드는 요청자가 PC수신완료 됐을 경우에만 다운로드 가능 (!!!승인여부가 아닌 요청자 PC수신여부!!!)
        //하지만 사용자 옵션으로 요청자 PC미수신시에도 다운가능하도록 변경하면 다운로드 버튼 보여짐
        //bFileDownloadBeforeReciving  true : 요청자 PC미수신시에도 다운로드 가능   false : 요청자 PC미수신 시 다운로드 불가
        if (m_bNetDownloadable)
        {
            //요청자 PC미수신 시 에도 전송대기, 수신완료 시에는 다운로드 가능
            //if (sgAppConfig.GetFileDownloadBeforeReciving())
            // GetUseFileForwardDownBeforeRecv
            if (SGAppMgrSvc.OpConfigInfoService.GetFileDownloadBeforeReciving())
            {
                if (strDataTransStatus == XmlConf.GetTitle("T_TRANS_COMPLETE") || strDataTransStatus == XmlConf.GetTitle("T_COMMON_TRANSWAIT"))
                    m_bNetDownloadable = true;
                else
                    m_bNetDownloadable = false;
            }
            else
            {
                //수동다운로드 이므로 PC수신완료 건만 다운가능
                if (strDataTransStatus == XmlConf.GetTitle("T_TRANS_COMPLETE"))
                    m_bNetDownloadable = true;
                else
                    m_bNetDownloadable = false;
            }
        }

        CLog.Here().Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (strDataTransStatus : {strDataTransStatus})");
        CLog.Here().Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (FileDownloadBeforeReciving : {SGAppMgrSvc.OpConfigInfoService.GetFileDownloadBeforeReciving().ToString()})");
        //CLog.Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (FileDownloadBeforeReciving : {sgAppConfig.GetFileDownloadBeforeReciving().ToString()})");

        int expireDate = Int32.Parse(sgDetailData.GetExpiredDay());
        int nowDate = Int32.Parse(DateTime.Now.ToString("yyyyMMdd"));
        if (m_bNetDownloadable)
        {
            if (expireDate >= nowDate)
                m_bNetDownloadable = true;
            else
                m_bNetDownloadable = false;
        }

        CLog.Here().Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (expireDate : {expireDate.ToString()}, nowDate : {nowDate})");
        m_downMaxCurr = $"{XmlConf.GetTitle("T_ETC_DOWNLOADCOUNT")} : {m_downloadCount} / {sgLoginData.GetMaxDownCount()}";
        //웹매니저 파일 다운로드 횟수 제한 : 0 일 경우는 미사용이라는 의미
        if (m_bNetDownloadable && sgLoginData.GetMaxDownCount() > 0)
        {
            if (m_downloadCount < sgLoginData.GetMaxDownCount())
                m_bNetDownloadable = true;
            else
                m_bNetDownloadable = false;
        }

        CLog.Here().Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (NowDownload-Count:{m_downloadCount}, MaxDownloadCount : {sgLoginData.GetMaxDownCount().ToString()})");

        //수동다운로드 가능여부 판단 2021/05/24 YKH 종료
        //*************************************************************************************************************************


        Dictionary<string, SGNetOverData> dicDestSysPos = null;

        dicDestSysPos = pageService.GetTargetSystemList(groupID);
        if (dicDestSysPos != null && dicDestSysPos.Count > 1)  // && strFromServerNetOver.Length > 0 && strDestServerNetOver.Length > 0)
            strDataFilePos = sgDetailData.GetFilePosNetOver(dicDestSysPos); // 파일위치(3망연계상황)
        else
            strDataFilePos = sgDetailData.GetFilePosByRealName(groupID);
        //strDataFilePos = sgDetailData.GetFilePos();                                     // 파일위치

        strDataApprKind = sgDetailData.GetApprKind();                                       // 승인구분
        strDataApprStatus = sgDetailData.GetApprStatus();
        strDataApprReqUser = sgDetailData.GetReqUser();                                     // 승인요청자
        strDataApprStatusCode = sgDetailData.GetApprStatusCode();                           // 승인상태
        strDataApprReqDay = sgDetailData.GetApprReqDay();                                   // 승인요청일
        strDataTitle = sgDetailData.GetTitle();                                             // 제목
        FileAddManage fileAddManage = new FileAddManage();
        strDataTitle = fileAddManage.GetConvertTitleDesc(false, strDataTitle);
        strDataDesc = sgDetailData.GetDesc();                                              // 설명
        strDataDesc = fileAddManage.GetConvertTitleDesc(false, strDataDesc);
        strDLP = sgDetailData.GetDLP(); //개인정보
        int DataApproveStep = sgLoginData.GetApproveStep(); //결재유형(AND,OR,ANDOR)

        //APPROVESTATUS (결재상태) :   1 : 승인대기(결재대기)   2 : 승인(결재완료)    3 : 거부(반려)  값없음 : 전체
        //승인이 되기 전에는 서버로부터 다운로드 불가하므로 다운로드 버튼도 보이지 않게 처리
        if (m_bNetDownloadable && (strDataApprStatusCode != "2" || strDataApprStatusCode == ""))
        {
            m_bNetDownloadable = false;
        }

        CLog.Here().Information($"m_bNetDownloadable : [{m_bNetDownloadable.ToString()}] (strDataApprStatus : {strDataApprStatus}, strDataApprStatusCode : {strDataApprStatusCode})");

        sgDetailData.GetFileInfo(out mFileData);
        if (mFileData == null)
            return;

        List<ApproverHist> apprListHist = null;
        bool isVisibleFileApproveReason = SGAppMgrSvc.OpConfigInfoService.GetUseFileApproveReason();
        apprListHist = sgDetailData.GetApproverInfoHist(isVisibleFileApproveReason);
        if ((apprListHist == null) || (apprListHist.Count <= 1))
        {
            bApprHistHidden = true;
        }
        if ((apprListHist == null) || (apprListHist.Count <= 0))
        {
            strDataLastApprName = strDataLastApprStatus = strDataLastApprDay = strDataLastApprRejectReason = "-";
        }
        else
        {
            ApproverHist apprHist = null;
            apprHist = sgDetailData.GetTransLastApproverHistData(apprHist, DataApproveStep, strDataApprStatusCode, isVisibleFileApproveReason);
            if (apprHist == null)
                strDataLastApprName = strDataLastApprStatus = strDataLastApprDay = strDataLastApprRejectReason = "-";
            else
            {
                strDataLastApprName = apprHist.m_strApproverName;
                strDataLastApprStatus = apprHist.m_strApprStatus;
                strDataLastApprDay = apprHist.m_strApprDay;
                if ((!strDataLastApprDay.Equals("")) && (!strDataLastApprDay.Equals("-")))
                    strDataLastApprDay = sgDetailData.GetConvertDay(strDataLastApprDay);
                strDataLastApprRejectReason = apprHist.m_strRejectReason;
            }
        }

        //OR 결재 승인상태 교정 시작 2021/06/28 YKH
        //같은 결재 단계에 여러명이 존재하고 그중 한명이 승인상태라면 승인상태 제외한 나머지는 요청취소로 승인상태문구를 변경해준다.
        //최종 스탭 결정
        if (apprListHist != null && apprListHist.Count > 0)
        {
            int nMaxStep = 1;
            foreach (ApproverHist data in apprListHist)
            {
                if (nMaxStep > data.m_nApprStep)
                    nMaxStep = data.m_nApprStep;
            }
            //각 스텝별 승인여부 확인
            for (int i = 1; i <= nMaxStep; i++)
            {
                bool bApproveFlag = false;
                for (int j = 0; j < apprListHist.Count; j++)
                {
                    ApproverHist appr = apprListHist[j];
                    if (appr.m_nApprStep != i)
                        continue;
                    if (appr.m_strApprStatus == XmlConf.GetTitle("T_COMMON_APPROVE"))
                        bApproveFlag = true;
                }
                if (bApproveFlag == true)
                {
                    for (int j = 0; j < apprListHist.Count; j++)
                    {
                        ApproverHist appr = apprListHist[j];
                        if (appr.m_nApprStep != i)
                            continue;
                        if (appr.m_strApprStatus != XmlConf.GetTitle("T_COMMON_APPROVE"))
                            appr.m_strApprStatus = XmlConf.GetTitle("T_COMMON_WORKCOMPLETE");
                    }
                }
            }
        }
        //OR 결재 승인 상태 교정 종료

        if (apprListHist != null)
        {
            apprHList.Clear();
            foreach (ApproverHist data in apprListHist)
            {
                string sName = data.m_strApproverName;
                string sApprStatus = data.m_strApprStatus;
                string sApprDay = data.m_strApprDay;
                string sRejectReason = data.m_strRejectReason;
                apprHList.Add(new ApprHist(sName, sApprStatus, sApprDay, sRejectReason));
            }
        }

        m_bTransCancel = (!sgDetailData.GetTransCancelEnable());

        SetForwardInfo(sgDetailData);
        StateHasChanged();
    }

    public void InitText()
    {
        strTransDetailTitle = XmlConf.GetTitle("T_TRANS_DETAIL");                          // 전송상세보기
        strArrpHistory = XmlConf.GetTitle("T_DETAIL_APPROVE_CATEGORY");                     // 결재내역
        strTransKind = XmlConf.GetTitle("T_COMMON_TRANSKIND");                             // 전송구분
        strTransStatus = XmlConf.GetTitle("T_TRANS_STATUS");                                // 전송상태
        strFilePos = XmlConf.GetTitle("T_DETAIL_FILEPOS");                                  // 파일위치
        strExpiredDay = XmlConf.GetTitle("T_GPKI_LIST_EXPIREDATE");                         // 만료일
        strApprKind = XmlConf.GetTitle("T_COMMON_APPROVEKIND");                             // 승인구분
        strApprStatus = XmlConf.GetTitle("T_COMMON_APPROVESTATUS");                         // 승인상태
        strApprReqDay = XmlConf.GetTitle("T_DETAIL_REQDAY");                                // 승인요청일
        strTitle = XmlConf.GetTitle("T_DETAIL_TITLE");                                      // 제목
        strDesc = XmlConf.GetTitle("T_DETAIL_DESC");                                        // 설명
        strFileInfo = XmlConf.GetTitle("T_DETAIL_FILEINFO");                                // 파일정보
        strFileName = XmlConf.GetTitle("T_COMMON_FILENAME");                                // 파일명
        strFileType = XmlConf.GetTitle("T_COMMON_KIND");                                    // 유형
        strFileSize = XmlConf.GetTitle("T_COMMON_SIZE");                                    // 크기
        strFileFolder = XmlConf.GetTitle("T_COMMON_FOLDER");                                // 폴더
        strVirusHistory = XmlConf.GetTitle("T_DETAIL_VIRUSHIST");                           // 바이러스 내역
        strVirusExamDay = XmlConf.GetTitle("T_DETAIL_VIRUSCHECKDATE");                      // 바이러스 검사일
        strApproverInfo = XmlConf.GetTitle("T_DETAIL_APPROVEINFO");                         // 결재자 정보
        strApprover = XmlConf.GetTitle("T_DETAIL_APPROVEUSER");                             // 승인자
        strApproveStatus = XmlConf.GetTitle("T_COMMON_APPROVESTATUS");                      // 승인상태
        strApproveDay = XmlConf.GetTitle("T_COMMON_APPROVEDATE");                           // 승인일
        if(SGAppMgrSvc.OpConfigInfoService.GetUseFileApproveReason())
            strRejectReason = XmlConf.GetTitle("T_APPROVE_APPROVE_REJECT_REASON");                      // 승인/반려사유
        else
            strRejectReason = XmlConf.GetTitle("T_APPROVE_REJECTREASON");                      // 반려사유
        strTransCancle = XmlConf.GetTitle("T_COMMON_TRANSCANCLE");                          // 전송취소
        strClose = XmlConf.GetTitle("T_FILE_FOLD");                                         // 닫기

        strUserName = XmlConf.GetTitle("T_COMMON_NAME");                                    // 이름
        strUserPosition = XmlConf.GetTitle("T_COMMON_RANK");                                // 직책
        strUserDept = XmlConf.GetTitle("T_COMMON_DEPT");                                    // 부서

        strPreworkStep = XmlConf.GetTitle("T_ETC_PREWORK_STATUS");                          //검사상태
    }

    public void SetForwardInfo(SGDetailData sgDetailData)
    {
        listForwaredUserInfo = sgDetailData.GetForwardUserInfo();
        m_nDataForwarded = sgDetailData.m_nDataForwarded;
        strDataForwardReciver = GetForwardList(listForwaredUserInfo);  //파일 포워딩 수신자 리스트
        strReciver = sgDetailData.GetFowardTitle();
    }

    /// <summary>
    /// 해당 전송 데이터의 전송상태가 '검사중' 일때, 검사단계 표시 (검사중이 아니면 표시 안함)
    /// </summary>
    /// <param name="getPreworkStep"></param>
    /// <param name="getTransStatusFlag"></param>
    public void SetPreworkInfo(string getPreworkStep, string getTransStatusFlag)
    {
        listPreworkInfo.Clear();

        if (getTransStatusFlag != "V")         //검사상태 진행 표시는 해당 전송항목의 전송상태가 '검사중' 일때만 표시
            return;
        if (string.IsNullOrEmpty(getPreworkStep) || !getPreworkStep.Contains('/'))
            return;

        string scanList = getPreworkStep.Split('/')[0];
        string scanningValue = getPreworkStep.Split('/')[1];
        bool isSetScanning = false;
        foreach (char scan in scanList)
        {
            string preworkName = XmlConf.GetTitle($"T_ETC_PREWORK_INTERLOCKFLAG_{scan}");

            if (scanningValue == "0")      // 모두 검사완료된 상태 (모두 '완료' 로 표시)
            {
                listPreworkInfo.Add(new Tuple<string, string, string>(preworkName, XmlConf.GetTitle("T_ETC_PREWORK_END"), preworkCompleteBackColor));
            }
            else if (isSetScanning)          //검사중인 prework를 이미 찾은 상태 (이후 항목은 모두 '대기'로 표시)
            {
                listPreworkInfo.Add(new Tuple<string, string, string>(preworkName, XmlConf.GetTitle("T_ETC_PREWORK_WAIT"), preworkWaitBackColor));
            }
            else                            // 검사중인 prework 확인 (일치하면 '검사 중'으로 표시, 일치하지 않으면 이전 항목들이므로 '완료'로 표시)
            {
                listPreworkInfo.Add((scan.ToString() == scanningValue) ? new Tuple<string, string, string>(preworkName, XmlConf.GetTitle("T_ETC_PREWORK_ING"), preworkScanningBackColor)
                                                                        : new Tuple<string, string, string>(preworkName, XmlConf.GetTitle("T_ETC_PREWORK_END"), preworkCompleteBackColor));
            }
        }
    }

    public void DetailTransCancel()
    {

        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        if (pageService.GetConnectStatus(groupID) == false)
        {
            string strMsg = XmlConf.GetErrMsg("E_0218");           // 현재 오프라인 상태입니다./r/n재접속 중이오니 잠시만 기다려 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("error", strMsg);
            return;
        }

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupID);
        string curUserID = "";
        if (sgLoginData != null)
            curUserID = sgLoginData.GetUserID();

        SGDetailData sgDetailData = null;
        sgDetailData = (SGDetailData)HSCmdCenter.GetDetailData(groupID);
        if (sgDetailData == null)
            return;
        string curTransSeq = sgDetailData.GetTransSeq();
        string curAction = "2";
        string curReason = "사유";

        HSCmdCenter.SendTransCancel(groupID, curUserID, curTransSeq, curAction, curReason);

        closePopUp();
    }

    private void ShowMessage(string strType, string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        object[] param = { strType, strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    private string GetForwardList(List<Dictionary<int, string>> listForwaredUsers)
    {
        string strFirstName = "";
        string strPostion = "";
        string strText = "";
        strDataForwardReciver = "";
        listForwaredUserInfo = listForwaredUsers;

        if (listForwaredUserInfo == null)
            return "";

        listForwaredUserInfo[0].TryGetValue(0, out strFirstName);
        listForwaredUserInfo[0].TryGetValue(1, out strPostion);

        //데이터 포워딩 여부  0 : 포워딩한 사용자가 없음, 1 : 포워딩한 사용자가 있음. 2 : 포워딩받은 사용자.
        if (m_nDataForwarded == 1)
        {
            if (listForwaredUserInfo.Count > 1)
            {
                strText = String.Format(XmlConf.GetInfoMsg("I_0083"), strFirstName, (listForwaredUserInfo.Count - 1).ToString());
            }
            else if (listForwaredUserInfo.Count == 1)
            {
                strText = $"{strFirstName} {strPostion}";
            }
        }
        else if (m_nDataForwarded == 2)
        {
            strText = strDataApprReqUser;
        }

        return strText;
    }
}
