@using HsNetWorkSG
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.PageEvent
@using Radzen
@using Radzen.Blazor
@using Radzen.Blazor.Rendering;
@inject ISGAppManagerService SGAppMgrSvc
@inject XmlConfService XmlConf
@inject HSCmdCenter HsCmdCenter
@inject PageStatusService pageService
@inject IJSRuntime jsRuntime

<div class="card-body  p-0" style="height:@(Height.ToString() + "px");">
    @if (UseInputSearch)
    {
        <div class="d-inline-flex  w-100 mb-2 " style="height:29px;">
            <label class="p-1">@strDept</label>                                                       <!--부서-->
        <input type="text" class="form-control col-md-3" @onkeyup="HandleKeyEvent" placeholder="@strDeptPlaceHolder" value="@strInputDept" @oninput="@(e => strCurrentInputDept = e.Value.ToString())">
            <label class="p-1 pl-2">@strName</label>                                                  <!--이름-->
        <input type="text" class="form-control col-md-3" @onkeyup="HandleKeyEvent" placeholder="@strNamePlaceHolder" value="@strInputName" @oninput="@(e => strCurrentInputName = e.Value.ToString())">
            <div style="flex:1 0 auto" />
            <button type="button" class="btn bg-gradient-secondary ml-1" @onclick="updateDeptApprLine"><i class="fas fa-search pr-1 pl-1"></i>@strSearch</button>  <!--조회-->
    </div>
    }



    <div class="p-1 mb-2" style="height:@(TreeHeight.ToString() + "px");border:1px solid #ddd; background-color:#fff;">
        <RadzenTree Change="@selectDept" Data="@deptTreeInfoValues" Style="width: 98%;height:95%;overflow:auto">
            @*<RadzenTreeLevel TextProperty="DeptName" ChildrenProperty="ChildrenInfo" Expanded="@(data => (data as DeptTreeInfo).IsExpanded)" Selected="@(data => (data as DeptTreeInfo).DeptSeq == MyDeptSeq)" Template="DeptTemplate" />*@
            <RadzenTreeLevel TextProperty="DeptName" ChildrenProperty="ChildrenInfo" HasChildren="@((data) => false)" Expanded="@(data => (data as DeptTreeInfo).IsExpanded)" Selected="@(data => (data as DeptTreeInfo).DeptSeq == strSelectedDeptCode)" Template="DeptTemplate" />
        </RadzenTree>
    </div>
    <div class="card-body table-responsive p-0" style="height:@(SearchListHeight.ToString() + "px"); border:1px solid #ddd; background-color:#fff;">
        <table class="table table-head-fixed">
            <colgroup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
            </colgroup>
            <thead>
                <tr>
                    <th>@strOrder </th>            <!--순번-->
                    <th>@strDept </th>            <!--부서-->
                    <th>@strRank </th>            <!--직급-->
                    <th>@strName </th>            <!--이름-->
                </tr>
            </thead>
            <tbody>


                @foreach (ApproverInfo item in UserSearchList)
                {
                    @*<tr name="trItem9" draggable="false" data-draggable="tritem" aria-grabbed="false" value="@item.UserSeq" @ondblclick="() => DoubleClickSearchList(item)">*@
                    <tr name="trItem99" draggable="false" data-draggable="tritem" aria-grabbed="false" value="@item.UserSeq" @onclick="()=>clickItemList(item)" style="background-color :@((currentSelectKey ==item.UserSeq) ? Seleted_BackColor: Default_BackColor); color : @((currentSelectKey ==item.UserSeq) ? Seleted_ForeColor: Default_ForeColor)">
                        <td>@item.Index</td>
                        <td>@item.DeptName</td>
                        <td>@item.Grade</td>
                        <td>@item.Name</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@code {
    [Parameter] public int Height { get; set; } = 368;
    [Parameter] public int TreeHeight { get; set; } = 170;

    [Parameter] public bool UseInputSearch { get; set; } = true;

    [Parameter] public string Seleted_BackColor { get; set; } = "#8FA9D9";
    [Parameter] public string Seleted_ForeColor { get; set; } = "#FFFFFF";
    [Parameter] public string Default_BackColor { get; set; } = "#FFFFFF";
    [Parameter] public string Default_ForeColor { get; set; } = "#000000";
    [Parameter] public EventCallback<ApproverInfo> OnSearchClick { get; set; }
    [Parameter] public EventCallback<ApproverInfo> OnItemClick { get; set; }
    [Parameter] public EventCallback<ApproverInfo> OnItemDoubleClick { get; set; }
    /*    [Parameter] public EventCallback<ApproverInfo> OnClick { get; set; }
    [Parameter] public EventCallback<string> OnSelectedItem { get; set; }*@
    [Parameter] public EventCallback<ApproverInfo> OnDoubleClick { get; set; *@}
    [Parameter] public string SelectedUserSeq { get; set; }*@
    */
    [Parameter] public LinkedList<ApproverInfo> UserSearchList { get; set; } = new LinkedList<ApproverInfo>();   //좌측 검색결과


    /// <summary>
    /// 조회 시, 일반사용자 조회 유무 (default : true)
    ///</br>true : 결재자/전결자만 / false : 일반사용자 및 결재자,전결자
    /// </summary>
    [Parameter]
    public bool IsApproverOnly { get; set; } = true;

    private int SearchListHeight
    {
        get
        {
            return Height - TreeHeight - 28;
        }
    }

    /// <summary>
    /// 현재 Active 되어 있는 Groupid
    /// </summary>
    int activedGroupID
    {
        get
        {
            ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
            return (sgSideBar == null) ? 0 : sgSideBar.GroupId;
        }
    }

    /// <summary>
    /// 현재 Active된 GRoupid 에 로그인된 정보
    /// </summary>
    SGLoginData activedSGLogin
    {
        get
        {
            int groupid = activedGroupID;
            SGLoginData sgLoginData = (SGLoginData)HsCmdCenter.GetLoginData(groupid);
            return sgLoginData;
        }
    }

    SGUserData activeSGUserData
    {
        get
        {
            int gouprid = activedGroupID;
            SGUserData sgUserData = (SGUserData)HsCmdCenter.GetUserData(gouprid);
            return sgUserData;
        }
    }

    private ISGSideBarUIService SideBarUISvc;
    string strInputDept = "";
    string strInputName = "";

    string strCurrentInputDept = "";
    string strCurrentInputName = "";

    string currentSelectKey = "";

    private string strDept = "";
    private string strName = "";
    private string strSearch = "";
    private string strOrder = "";
    private string strRank = "";
    private string strDeptPlaceHolder = "";
    private string strNamePlaceHolder = "";
    private string strSelectedDeptCode = "";
    private static Action<string> actionAssign;                 //조회대상 SEQ
    private int doubleClickMaxTime = 500; //밀리세컨

    /// <summary>
    /// 부서 Tree를 구성하는 Source
    /// </summary>
    private List<DeptTreeInfo> deptTreeInfoValues = null;

    RenderFragment<RadzenTreeItem> DeptTemplate = (context) => builder =>
    {
        DeptTreeInfo dept = context.Value as DeptTreeInfo;

        builder.OpenComponent<RadzenIcon>(0);
        builder.AddAttribute(1, "Icon", "assignment");



        if (dept.ChildrenInfo == null || dept.ChildrenInfo.Count <= 0)
            builder.AddAttribute(2, "Style", "margin-left: 15px");

        builder.CloseComponent();
        builder.AddContent(3, context.Text);
    };

    protected override void OnInitialized()
    {
        @*actionAssign = AssignApprover;*@
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        InitText();
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        @*  Console.WriteLine($"SGDeptTreeList.OnAfterRender firstRender : {firstRender}");
            if (firstRender)
            {

            HsCmdCenter.sgPageEvent.SetDeptInfoEventAdd(activedGroupID, setDeptTree);

            if (activedSGLogin != null)
            HsCmdCenter.SendDeptInfo(activedGroupID, activedSGLogin.GetUserID());

            if (activeSGUserData != null)
            strSelectedDeptCode = activeSGUserData.GetTeamCode();

            Console.WriteLine($"SGDeptTreeList.OnAfterRender strSelectedDeptCode : {strSelectedDeptCode}");
            }
            base.OnAfterRender(firstRender);*@
    }
    @*
        /// <summary>
        /// Component 로드 시 Login 객체 구성 전으로 제대로 Tree 구조 세팅 안될 시 재설정
        /// <para>[대결재자 화면] 로그인 전 로드 되는 경우 사용</para>
        /// </summary>
        public void RefreshDeptTree()
        {
        HsCmdCenter.sgPageEvent.SetDeptInfoEventAdd(activedGroupID, setDeptTree);

        if (activedSGLogin != null)
        HsCmdCenter.SendDeptInfo(activedGroupID, activedSGLogin.GetUserID());

        if (activeSGUserData != null)
        strSelectedDeptCode = activeSGUserData.GetTeamCode();
        }
    *@
    public void InitText()
    {
        @*strApproverSearch = XmlConf.GetTitle("T_COMMON_APPROVESEARCH");             // 결재자 조회*@
        strDept = XmlConf.GetTitle("T_COMMON_DEPT");                                // 부서
        strName = XmlConf.GetTitle("T_COMMON_NAME");                                // 이름
        strSearch = XmlConf.GetTitle("T_COMMON_SEARCH");                            // 조회
        strOrder = XmlConf.GetTitle("T_COMMON_ORDER");                              // 순번
        strRank = XmlConf.GetTitle("T_COMMON_RANK");                                // 직급
        @*strOrder = XmlConf.GetTitle("T_COMMON_ORDER");                              // 순번
            strRank = XmlConf.GetTitle("T_COMMON_RANK");                                // 직급
            strMostTop = XmlConf.GetTitle("T_ETC_TOP");                                 // 맨위
            strMostBottom = XmlConf.GetTitle("T_ETC_BOTTOM");                           // 맨아래
            strTop = XmlConf.GetTitle("T_ETC_UP");                                      // 위
            strDown = XmlConf.GetTitle("T_ETC_DOWN");                                   // 아래
            strOK = XmlConf.GetTitle("T_COMMON_OK");                                    // 확인
            strClose = XmlConf.GetTitle("T_FILE_FOLD");                                 // 닫기*@
        strDeptPlaceHolder = XmlConf.GetTitle("T_INPUT_DEPT");                       // 부서입력
        strNamePlaceHolder = XmlConf.GetTitle("T_INPUT_NAME");                       // 이름입력
    }

    private void ShowMessage(string strType, string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        object[] param = { strType, strSystemName, strMsg };
        jsRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    private void HandleKeyEvent(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            updateDeptApprLine();
        }
    }

    public void BindEvent()
    {
        //Tree 및 리스트 재정렬
        deptTreeInfoValues = null;
        currentSelectKey = "";

        HsCmdCenter.sgPageEvent.SetDeptInfoEventAdd(activedGroupID, setDeptTree);
        if (activedSGLogin != null)
        {
            IsApproverOnly = !activedSGLogin.GetApproveProxyRight();
            HsCmdCenter.SendDeptInfo(activedGroupID, activedSGLogin.GetUserID());
        }

        if (activeSGUserData != null)
            strSelectedDeptCode = activeSGUserData.GetTeamCode();

        @*updateDeptApprLine(strSelectedDeptCode);*@

        timeInterval = DateTime.Now;
    }

    /// <summary>
    /// [조회] 버튼으로 검색
    /// </summary>
    void updateDeptApprLine()
    {

        int groupID = activedGroupID;

        if (pageService.GetConnectStatus(groupID) == false)
        {
            string strMsg = XmlConf.GetErrMsg("E_0218");           // 현재 오프라인 상태입니다./r/n재접속 중이오니 잠시만 기다려 주십시요.
            strMsg = strMsg.Replace("/r/n", "<br>");
            ShowMessage("error", strMsg);
            return;
        }

        if(!strInputDept.ValidationSqlInjection())
        {
            ShowMessage("warning", XmlConf.GetWarnMsg("W_0295"));
            return;
        }
        
        if(!strInputName.ValidationSqlInjection())
        {
            ShowMessage("warning", XmlConf.GetWarnMsg("W_0295"));
            return;
        }

        if (activedSGLogin == null) return;
        if (activeSGUserData == null) return;


        strSelectedDeptCode = "";

        string strSysID = activedSGLogin.GetSysID();
        string strUserID = activedSGLogin.GetUserID();

        string strUserName = strCurrentInputName;    //입력한 부서명
        string strTeamName = strCurrentInputDept;    //입력한 이름

        SGQueryExtend sgQuery = new SGQueryExtend();
        string strQuery = sgQuery.GetDeptApprLineSearch(strSysID, strUserName, strTeamName, "", IsApproverOnly);

        HsCmdCenter.sgPageEvent.SetDeptApprLineSearchEventAdd(activedGroupID, DeptApprLineSearchResult);
        HsCmdCenter.SendDeptApprLineSearchQuery(groupID, strUserID, strQuery);
    }

    /// <summary>
    /// 트리 구조 내 선택된 부서로 조회
    /// </summary>
    /// <param name="getSelectedDeptSeq"></param>
    private void updateDeptApprLine(string getSelectedDeptSeq)
    {
        if (activedSGLogin == null)
            return;
        int groupID = activedGroupID;

        strSelectedDeptCode = getSelectedDeptSeq;

        string strSysID = activedSGLogin.GetSysID();
        string strUserID = activedSGLogin.GetUserID();
        string strTeamCode = getSelectedDeptSeq;

        SGQueryExtend sgQuery = new SGQueryExtend();
        string strQuery = sgQuery.GetDeptApprLineSearch(strSysID, "", "", strTeamCode, IsApproverOnly);

        HsCmdCenter.sgPageEvent.SetDeptApprLineSearchEventAdd(activedGroupID, DeptApprLineSearchResult);
        HsCmdCenter.SendDeptApprLineSearchQuery(groupID, strUserID, strQuery);
    }
    public void DeptApprLineSearchResult(int groupid, PageEventArgs e)
    {
        UserSearchList.Clear();
        ISGSideBarUI sgSideBar = SideBarUISvc.ActiveMenu;
        int groupID = 0;
        if (sgSideBar != null)
            groupID = sgSideBar.GroupId;

        SGDeptApprLineSearchData sgDeptApprLine = null;
        sgDeptApprLine = (SGDeptApprLineSearchData)HsCmdCenter.GetDeptApprLineSearchData(groupID);
        if (sgDeptApprLine == null)
        {
            StateHasChanged();
            return;
        }

        LinkedList<ApproverInfo> apprLinkedList = null;
        apprLinkedList = sgDeptApprLine.GetDeptApproverInfoData();
        if ((apprLinkedList == null) || (apprLinkedList.Count <= 0))
        {
            StateHasChanged();
            return;
        }
    ;

        SGUserData sgUserData = null;
        sgUserData = (SGUserData)HsCmdCenter.GetUserData(groupID);
        if (sgUserData == null)
        {
            StateHasChanged();
            return;
        }
    ;
        string strUserSeq = sgUserData.GetUserSequence();

        int count = 1;
        foreach (var item in apprLinkedList)
        {
            if (strUserSeq.Equals(item.UserSeq))
                continue;
            item.Index = String.Format("{0,2}", count.ToString());
            //strCurDept = item.DeptName;
            UserSearchList.AddLast(item);
            count++;
        }

        StateHasChanged();
    }



    /// <summary>
    /// 선택된 부서로 조회
    /// </summary>
    /// <param name="args"></param>
    void selectDept(TreeEventArgs args)
    {
        DeptTreeInfo selectedDept = args.Value as DeptTreeInfo;

        if (selectedDept == null)
            return;
        strInputDept = selectedDept.DeptName;
        strInputName = "";

        strCurrentInputDept = strInputDept;
        strCurrentInputName = strInputName;

        updateDeptApprLine(selectedDept.DeptSeq);

        StateHasChanged();
    }

    /// <summary>
    /// 부서 트리 세팅하기
    /// </summary>
    /// <param name="groupId"></param>
    public void setDeptTree(int groupId)
    {
        SGDeptInfo info = (SGDeptInfo)HsCmdCenter.GetDeptInfoData(groupId);

        //부서 Tree 세팅
        deptTreeInfoValues = info?.GetDeptInfoTree(strSelectedDeptCode);

        StateHasChanged();
        @*

            //테스트용
            deptTreeInfoValues = new List<DeptTreeInfo>();
            DeptTreeInfo a = new DeptTreeInfo() { DeptSeq = "1", DeptName = "A(NULL)", ChildrenInfo = null };
            DeptTreeInfo b = new DeptTreeInfo() { DeptSeq = "2", DeptName = "B(빈값)", ChildrenInfo = new List<DeptTreeInfo>() };


            DeptTreeInfo cc = new DeptTreeInfo() { DeptSeq = "30", DeptName = "CC(NULL)", ChildrenInfo = null };
            DeptTreeInfo c = new DeptTreeInfo() { DeptSeq = "3", DeptName = "C(자식있음)", ChildrenInfo = new List<DeptTreeInfo>() { cc } };
            c.IsExpanded = true;

            deptTreeInfoValues.Add(a);
            deptTreeInfoValues.Add(b);
            deptTreeInfoValues.Add(c);*@
    }

    DateTime timeInterval = DateTime.Now;

    string lastIndex = "";
    void clickItemList(ApproverInfo selectedItem)
    {
        DateTime now = DateTime.Now;

        if (OnItemDoubleClick.HasDelegate == false || timeInterval.AddMilliseconds(doubleClickMaxTime) <= now || lastIndex != selectedItem.Index)
        {
            //일반클릭
            timeInterval = now;
            OnItemClick.InvokeAsync(selectedItem);
        }
        else
        {
            //더블클릭
            timeInterval = now.AddSeconds(-10);     //이후 3번클릭은 더블클릭 되지 않도록

            OnItemDoubleClick.InvokeAsync(selectedItem);

        }
        currentSelectKey = selectedItem.UserSeq;
        lastIndex = selectedItem.Index;
    }
}
